{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="navPath">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="navPath">Agriturismo</a></span>
</div>
<div class="navSelf"><span class="enNav">Agriturismo Asklepios</span><span class="itNav">Agriturismo Asklepios</span>
</div>
<div class="nav2"><span class="enNav"><a href="asklepios/libro_ospiti.html" class="nav">Ospiti di Asklepios</a></span><span class="itNav"><a href="asklepios/libro_ospiti.html" class="nav">Ospiti di Asklepios</a></span>
</div>
<div class="nav"><span class="enNav"><a href="civarra.html" class="nav">Agriturismo Civarra</a></span><span class="itNav"><a href="civarra.html" class="nav">Agriturismo Civarra</a></span>
</div>
<div class="nav"><span class="enNav"><a href="masseria.html" class="nav">Agriturismo Masseria</a></span><span class="itNav"><a href="masseria.html" class="nav">Agriturismo Masseria</a></span>
</div>
<div class="nav"><span class="enNav"><a href="la_terrazza.html" class="nav">Agriturismo La Terrazza</a></span><span class="itNav"><a href="la_terrazza.html" class="nav">Agriturismo La Terrazza</a></span>
</div>
<div class="nav"><span class="enNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span><span class="itNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
    {% load box %}
	  {% flickr "L'Agriturismo più piccolo del mondo" 2348/2213554074_ddbeb6b515_m.jpg left horizontal %}
<p>"Il pi&ugrave; piccolo agriturismo del mondo", &egrave; gestito da una <a target="_blank" href="../guida.html">Guida Ufficiale del Parco </a>
</p>
<br/>
<br/>
<br/>
  <p class="important">
Chiuso in inverno 
</p>
    {% endbox %}
	  {% flickr "Dove siamo" 2073/2248754124_18a8b670b0_m.jpg right horizontal %}
<p>A 2 km dal centro storico di&nbsp;Rotonda, in Basilicata</p>
<p>Nel Parco Nazionale del Pollino</p>
<p>A circa 10-15 minuti dagli svincoli autostradali della SA-RC</p>
Non perdetevi il <a href="../escursioni/famiglia.html" target="_blank">Trekking per Famiglie</a> con Asklepios</span><br/>
    {% endbox %}
	  {% flickr "Ospitalità" 3180/2929003580_62d06e3210_m.jpg left horizontal %}
<p>Noi vi offriamo la possibilit&agrave; di vivere realmente a contatto con la natura, la gente e il Pollino. </p>
<p>Vivendo la vostra vacanza presso di noi avrete a disposizione le informazioni pi&ugrave; dettagliate e complete per visitare le localit&agrave; pi&ugrave; belle e significative del Pollino. </p>
<p>Vi offriamo inoltre speciali convenzioni con ristoranti e servizi nel Pollino. </p>
    {% endbox %}

	  {% local "La cucina" "asklepios/mainColumnParagraphs/01/image/CUCINA.jpg" right horizontal %}
<p>Al Pian terreno la cucina rustica e un bagno</p>
<p>La nostra casa &egrave; sufficientemente comoda per 4 persone. </p>
<p>Grazie al letto a castello o al divano letto &egrave; confortevole anche per 6 persone. </p>
<p>Per 8 persone &egrave; una sistemazione economica e dignitosamente spartana.</p>
    {% endbox %}
	  {% flickr "Camere" 2129/2213414464_609dd45dde_m.jpg left horizontal %}
<p>Nella nostra casa sono disponibili:</p>
<ul style="  list-style: none;">
<li>1 camera con 2 letti</li>
<li>1 camera con 2 letti + 1 letto a castello, </li>
<li>1 bagno al piano delle camere e un bagno al piano cucina.</li>
<li>1 soggiorno con libreria e divanoletto. </li>
</ul>
    {% endbox %}

	  {% flickr "Soggiorno e biblioteca" 2258/2213418562_019e3c92bb_m.jpg right horizontal %}
<p>Nel soggiorno, un comodo divanoletto e una libreria.</p>
<p>Sono a disposizione libri, riviste, fotografie del Pollino, ma anche letture per adulti e ragazzi oltre a decine di&nbsp;intriganti &quot;giochi di ingegno&quot; per trascorrere il tempo in allegria.</p>
    {% endbox %}
	  {% flickr "Intorno casa" 3423/3201103671_9a1c8174c0_m.jpg left horizontal %}
<p>Intorno casa uno spazio verde dove trascorrere il tempo, magari giocando con i nostri gatti e i nostri cani. </p>
<p>La notte, il posto ideale per osservare le stelle, in agosto anche &quot;cadenti&quot;.</p>
<p>Sul retro un ampio orto ricco di ortaggi tipici.</p>
    {% endbox %}
  {% contentbox "Come raggiungerci" %}
<iframe scrolling="no" height="350" frameborder="0" width="497" src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=+(Agriturismo+Asklepios)&amp;sll=39.93651,16.033194&amp;sspn=0.008638,0.018368&amp;g=Frazione+Barone&amp;ie=UTF8&amp;ll=39.946266,16.037035&amp;spn=0.017275,0.036736&amp;z=14&amp;iwloc=A&amp;cid=5669464976826613994&amp;output=embed" marginwidth="0" marginheight="0"></iframe><br/>
<small><a style="color: rgb(0, 0, 255); text-align: left;" href="http://maps.google.it/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=+(Agriturismo+Asklepios)&amp;sll=39.93651,16.033194&amp;sspn=0.008638,0.018368&amp;g=Frazione+Barone&amp;ie=UTF8&amp;ll=39.946266,16.037035&amp;spn=0.017275,0.036736&amp;z=14&amp;iwloc=A&amp;cid=5669464976826613994">Visualizzazione ingrandita della mappa</a></small>
    {% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "slideshow.html" set_id="72157603779199114" %}
{% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>tel. 0973.669290</li>
    </ul>
  {% endbox%}
  {% call "prenota_visita.html" %}

   {% smallbox Tariffe %}
Pernottamento e prima colazione <br/>Prime due persone <b>€
25 a persona</b><br/>Dalla terza persona in poi <b>€ 20</b><br/>Riduzione 50% per ragazzi tra i 6 e
i 12 anni.<br/>Pranzo e cena presso agriturismi e ristoranti scelti da <b>€ 12,50 a €
18,50</b><br/>Disponibilità della cucina attrezzata<br/><span style="font-weight:
bold;">&nbsp;</span><br/><span>Pacchetto Escursionistico<br/></span>Comprende:<br/>1. un pernottamento con prima colazione, <br/>2. un pranzo al sacco,<br/>3. una merenda al rientro dall'escursione <br/>4. una escursione guidata nel Parco<br/>5. uso della cucina attrezzata<br/>6. disponibilità Prodotti aziendali<br/>&nbsp;<b>€ 45,00</b> al giorno a persona<br/><br/>&nbsp;<br/><span>Trekking per famiglie<br/></span>Comprende, oltre a tutti i punti sopra, una discesa rafting facile e/o una escursione con l’asino<br/>Il trekking deve avere un durata minima di 4 giorni<br/>Adulti <b>€ 45.00,</b>&nbsp; ragazzi fino a 18 anni <b>€ 22.50</b> al giorno
   {% endbox %}
   {% call "escursioni.html" %}
<!--
Per chi ama la montagna o vuole visitare il Parco in generale disporrà di documentazione e materiali informativi.&nbsp;<br/><br/>Il gestore dell'agriturismo è&nbsp;<b><a href="../guida.html">Guida del Parco e Guida Escursionistiche Ambientali. </a></b>
-->
{% endblock %}
