{% extends "base.html" %}
{% block title %}Agriturismo Asklepios{% endblock %}
{% block header %}Agriturismo Asklepios{% endblock %}
{% block body %}
    {% load box %}
	  {% flickr "L'Agriturismo più piccolo del mondo" 2348/2213554074_ddbeb6b515_m.jpg left horizontal %}
<p>"Il pi&ugrave; piccolo agriturismo del mondo", &egrave; gestito da una <a href="/guida_pollino.html">Guida Ufficiale del Parco </a>
</p>
<br/>
<br/>
<br/>
  <p class="important">
Chiuso in inverno 
</p>
    {% endbox %}
	  {% flickr "Dove siamo" 2073/2248754124_18a8b670b0_m.jpg right horizontal %}
<p>A 2 km dal centro storico di&nbsp;Rotonda, in Basilicata</p>
<p>Nel Parco Nazionale del Pollino</p>
<p>A circa 10-15 minuti dagli svincoli autostradali della SA-RC</p>
Non perdetevi il <a href="/escursioni/famiglia.html">Trekking per Famiglie</a> con Asklepios<br/>
    {% endbox %}
	  {% flickr "Ospitalità" 3180/2929003580_62d06e3210_m.jpg left horizontal %}
<p>Noi vi offriamo la possibilit&agrave; di vivere realmente a contatto con la natura, la gente e il Pollino. </p>
<p>Vivendo la vostra vacanza presso di noi avrete a disposizione le informazioni pi&ugrave; dettagliate e complete per visitare le localit&agrave; pi&ugrave; belle e significative del Pollino. </p>
<p>Vi offriamo inoltre speciali convenzioni con ristoranti e servizi nel Pollino. </p>
    {% endbox %}

	  {% local "La cucina" "asklepios/mainColumnParagraphs/01/image/CUCINA.jpg" right horizontal %}
<p>Al Pian terreno la cucina rustica e un bagno</p>
<p>La nostra casa &egrave; sufficientemente comoda per 4 persone. </p>
<p>Grazie al letto a castello o al divano letto &egrave; confortevole anche per 6 persone. </p>
<p>Per 8 persone &egrave; una sistemazione economica e dignitosamente spartana.</p>
    {% endbox %}
	  {% flickr "Camere" 2129/2213414464_609dd45dde_m.jpg left horizontal %}
<p>Nella nostra casa sono disponibili:</p>
<ul style="  list-style: none;">
<li>1 camera con 2 letti</li>
<li>1 camera con 2 letti + 1 letto a castello, </li>
<li>1 bagno al piano delle camere e un bagno al piano cucina.</li>
<li>1 soggiorno con libreria e divanoletto. </li>
</ul>
    {% endbox %}

	  {% flickr "Soggiorno e biblioteca" 2258/2213418562_019e3c92bb_m.jpg right horizontal %}
<p>Nel soggiorno, un comodo divanoletto e una libreria.</p>
<p>Sono a disposizione libri, riviste, fotografie del Pollino, ma anche letture per adulti e ragazzi oltre a decine di&nbsp;intriganti &quot;giochi di ingegno&quot; per trascorrere il tempo in allegria.</p>
    {% endbox %}
	  {% flickr "Intorno casa" 3423/3201103671_9a1c8174c0_m.jpg left horizontal %}
<p>Intorno casa uno spazio verde dove trascorrere il tempo, magari giocando con i nostri gatti e i nostri cani. </p>
<p>La notte, il posto ideale per osservare le stelle, in agosto anche &quot;cadenti&quot;.</p>
<p>Sul retro un ampio orto ricco di ortaggi tipici.</p>
    {% endbox %}
  {% contentbox "Come raggiungerci" %}
<iframe scrolling="no" height="350" frameborder="0" width="547" src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=+(Agriturismo+Asklepios)&amp;sll=39.93651,16.033194&amp;sspn=0.008638,0.018368&amp;g=Frazione+Barone&amp;ie=UTF8&amp;ll=39.946266,16.037035&amp;spn=0.017275,0.036736&amp;z=14&amp;iwloc=A&amp;cid=5669464976826613994&amp;output=embed" marginwidth="0" marginheight="0"></iframe><br/>
<small><a style="color: rgb(0, 0, 255); text-align: left;" href="http://maps.google.it/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=+(Agriturismo+Asklepios)&amp;sll=39.93651,16.033194&amp;sspn=0.008638,0.018368&amp;g=Frazione+Barone&amp;ie=UTF8&amp;ll=39.946266,16.037035&amp;spn=0.017275,0.036736&amp;z=14&amp;iwloc=A&amp;cid=5669464976826613994">Visualizzazione ingrandita della mappa</a></small>
    {% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "slideshow.html" set_id="72157603779199114" %}
{% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>tel. 0973.669290</li>
    </ul>
  {% endbox%}
  {% call "prenota_visita.html" %}

  {% comment %}
  {% smallbox "Tariffe Agriturismo"%}
Pernottamento e prima colazione <br/>Prime due persone <b>€
25 a persona</b><br/>Dalla terza persona in poi <b>€ 20</b><br/>Riduzione 50% per ragazzi tra i 6 e
i 12 anni.<br/>Pranzo e cena presso agriturismi e ristoranti scelti da <b>€ 12,50 a €
18,50</b><br/>Disponibilità della cucina attrezzata<br/><span style="font-weight:
bold;">&nbsp;</span><br/><span>Pacchetto Escursionistico<br/></span>Comprende:<br/>1. un pernottamento con prima colazione, <br/>2. un pranzo al sacco,<br/>3. una merenda al rientro dall'escursione <br/>4. una escursione guidata nel Parco<br/>5. uso della cucina attrezzata<br/>6. disponibilità Prodotti aziendali<br/>&nbsp;<b>€ 45,00</b> al giorno a persona<br/><br/>&nbsp;<br/><span>Trekking per famiglie<br/></span>Comprende, oltre a tutti i punti sopra, una discesa rafting facile e/o una escursione con l’asino<br/>Il trekking deve avere un durata minima di 4 giorni<br/>Adulti <b>€ 45.00,</b>&nbsp; ragazzi fino a 18 anni <b>€ 22.50</b> al giorno
  {% endbox %}
  {% endcomment %}
   {% call "escursioni.html" %}
{% endblock %}
