{% extends "base.html" %}
{% block title %}Agriturismo Civarra{% endblock %}
{% block header %}Agriturismo Civarra{% endblock %}
{% block body %}
  {% load box %}

  {% flickr "Nella quiete del Parco Nazionale del Pollino" "4127/5198363933_ee268de2f0_m.jpg" left horizontal %}
  L&rsquo;Azienda Agrituristica Civarra &egrave; di propriet&agrave; di Maria Teresa Malancone. Si trova a circa 800 metri s.l.m. sul verde pendio di una valle racchiusa tra boschi, con vista&nbsp; sulla Valle del Mercure e sul centro abitato di Rotonda, da cui dista circa 6 km.
	{% endbox %}

  {% flickr "Dove siamo" 2073/2248754124_18a8b670b0_m.jpg right horizontal %}
<p>In contrada Valli, a circa 6 km dal centro storico di&nbsp;Rotonda, in Basilicata</p>
<p>Nel Parco Nazionale del Pollino</p>
<p>A circa 10-15 minuti dagli svincoli autostradali della SA-RC</p>
	{% endbox %}


  {% local "Alloggi" "civarra/mainColumnParagraphs/00/image/3681216563_a75a51f643_m.jpg" left horizontal %}
  Gli alloggi sono dislocati su due piani. L&rsquo;agriturismo &egrave; dotato complessivamente di <strong>16 posti</strong> letto, suddivisi in <strong>4&nbsp;suite</strong>&nbsp;ognuna dotata di comodo e ampio bagno, una camera matrimoniale e una camera con 2 letti singoli.
	{% endbox %}

	{% flickr "Ristorazione" "4144/5198377211_639fefbc51.jpg" right horizontal %}
  <p>Il fabbricato piccolo &egrave; destinato alla ristorazione, per un massimo di <strong>30 posti a sedere</strong>.
  La sala da pranzo &egrave; localizzata in un secondo fabbricato, con cucina al piano seminterrato, e un locale al primo piano, con ampio terrazzo, destinato all&rsquo;esposizione e alla vendita di prodotti tipici locali.</p>
  <p class="important">La cucina &egrave; aperta solo su prenotazione</p>
	{% endbox %}

	{% local "Gastronomia" "civarra/mainColumnParagraphs/02/image/civarra04.jpg" left horizontal %}
La cucina rispetta la tipica tradizione locale e si basa sui prodotti aziendali e locali: Minestre di Verdure e Legumi, Antipasti a base di Salumi e Formaggi del Pollino, Pasta Casereccia, secondi piatti di Carne alla griglia e al forno.
	{% endbox %}

	{% flickr "Produzioni" "4128/5198373309_48336c3002_m.jpg" right horizontal %}
Si producono foraggi e cereali, destinati all&rsquo;allevamento, e pomodori, patate fagioli, melanzane ed altri ortaggi. Nel periodo primaverile si produce formaggio e ricotta.
	{% endbox %}

  {% local "Panorama" "civarra/mainColumnParagraphs/05/image/civarra07.jpg" left horizontal %}
  Dalla terrazza di Civarra si gode di una meravigliosa vista della Valle del Mercure e Rotonda.
	{% endbox %}
	{% flickr "Area relax" "4126/5198365295_d319b92ede_m.jpg" right horizontal %}
    L'agriturismo &egrave; dotato di comode aree relax per trascorrere le miti sere d'estate in totale tranquillit&agrave;.
	{% endbox %}

	{% flickr "Svaghi e tempo libero" "2270/2171697643_2237e3df32_m.jpg" left horizontal %}
Chi ama la natura potr&agrave; avventurarsi in escursioni guidate sui sentieri del Pollino, passeggiare a cavallo
, presso strutture convenzionate presenti sul territorio, praticare sci da fondo, Rafting. <br/>
	{% endbox %}


{% endblock %}
{% block right %}
  {% load call %}
  {% load box %}
  {% call "slideshow.html" set_id="72157603780127793" %}
{% comment %}
   {% smallbox Informazioni e prenotazioni %}
      <ul class="phones">
        <li>cell. 349.3119893</li>
        <li>cell. 333.6172107</li>
        <li>cell. 328.1088952</li>
      </ul>
   {% endbox%}
  {% smallbox "Tariffe Agriturismo"%}
Pernottamento&nbsp;con&nbsp;prima colazione <b>€&nbsp;25</b> a persona<br/><span><br/>Mezza pensione</span><br/>Camera matrimoniale <b>€ 45 </b>a persona<br/><br/>Riduzioni<br/>Ragazzi fino a 4 anni Gratis<br/>Ragazzi tra 4 e&nbsp;9 anni&nbsp; 30%<br/><b>Pranzo</b> <b>€ 16–18</b> circa in funzione del menù
   {% endbox%}
{% endcomment %}
   {% call "escursioni.html" %}
   {% call "prenota_visita.html" %}
{% endblock %}
