{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="navPath">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="navPath">Agriturismo</a></span>
</div>
<div class="nav"><span class="enNav"><a href="asklepios.html" class="nav">Agriturismo Asklepios</a></span><span class="itNav"><a href="asklepios.html" class="nav">Agriturismo Asklepios</a></span>
</div>
<div class="navSelf"><span class="enNav">Agriturismo Civarra</span><span class="itNav">Agriturismo Civarra</span>
</div>
<div class="nav"><span class="enNav"><a href="masseria.html" class="nav">Agriturismo Masseria</a></span><span class="itNav"><a href="masseria.html" class="nav">Agriturismo Masseria</a></span>
</div>
<div class="nav"><span class="enNav"><a href="la_terrazza.html" class="nav">Agriturismo La Terrazza</a></span><span class="itNav"><a href="la_terrazza.html" class="nav">Agriturismo La Terrazza</a></span>
</div>
<div class="nav"><span class="enNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span><span class="itNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
  {% load box %}
  
  {% local "Agriturismo Civarra, nella quiete del Parco Nazionale del Pollino" "civarra/mainColumnParagraphs/0/image/civarra01.jpg" left horizontal %}
  L&rsquo;Azienda Agrituristica Civarra &egrave; di propriet&agrave; di Maria Teresa Malancone. Si trova a circa 800 metri s.l.m. sul verde pendio di una valle racchiusa tra boschi, con vista&nbsp; sulla Valle del Mercure e sul centro abitato di Rotonda, da cui dista circa 6 km.
	{% endbox %}

  {% flickr "Dove siamo" 2073/2248754124_18a8b670b0_m.jpg right horizontal %}
<p>A&nbsp;6 km dal centro storico di&nbsp;Rotonda, in Basilicata</p>
<p>Nel Parco Nazionale del Pollino</p>
<p>A circa 10-15 minuti dagli svincoli autostradali della SA-RC</p>
	{% endbox %}


  {% local "Alloggi" "civarra/mainColumnParagraphs/00/image/3681216563_a75a51f643_m.jpg" left horizontal %}
  Gli alloggi sono dislocati su due piani. L&rsquo;agriturismo &egrave; dotato complessivamente di <strong>16 posti</strong> letto, suddivisi in <strong>4&nbsp;suite</strong>&nbsp;ognuna dotata di comodo e ampio bagno, una camera matrimoniale e una camera con 2 letti singoli.
	{% endbox %}

	{% local "Ristorazione" "civarra/mainColumnParagraphs/01/image/civarra03.jpg" right horizontal %}
  <p>Il fabbricato piccolo &egrave; destinato alla ristorazione, per un massimo di <strong>30 posti a sedere</strong>. 
  La sala da pranzo &egrave; localizzata in un secondo fabbricato, con cucina al piano seminterrato, e un locale al primo piano, con ampio terrazzo, destinato all&rsquo;esposizione e alla vendita di prodotti tipici locali.</p>
  <p class="important">La cucina &egrave; aperta solo su prenotazione</p>
	{% endbox %}

	{% local "Gastronomia" "civarra/mainColumnParagraphs/02/image/civarra04.jpg" left horizontal %}
La cucina rispetta la tipica tradizione locale e si basa sui prodotti aziendali e locali: Minestre di Verdure e Legumi, Antipasti a base di Salumi e Formaggi del Pollino, Pasta Casereccia, secondi piatti di Carne alla griglia e al forno.
	{% endbox %}

	{% local "Produzioni" "civarra/mainColumnParagraphs/03/image/civarra05.jpg" right horizontal %}
Si producono foraggi e cereali, destinati all&rsquo;allevamento, e pomodori, patate fagioli, melanzane ed altri ortaggi. Nel periodo primaverile si produce formaggio e ricotta.
	{% endbox %}

	{% flickr "Svaghi e tempo libero" "2270/2171697643_2237e3df32_m.jpg" left horizontal %}
Chi ama la natura potr&agrave; avventurarsi in escursioni guidate sui sentieri del Pollino, passeggiare a cavallo
, presso strutture convenzionate presenti sul territorio, praticare sci da fondo, Rafting. <br/>
Per chi ama la montagna o vuole visitare il Parco in generale disporr&agrave; di documentazione e materiali informativi. Chi vuole affrontare l&rsquo;ampia rete di sentieri del Pollino, della Costa di Maratea e della Basilicata, potr&agrave; usufruire dei servizi delle esperte <a href="../guida.html">Guide del Parco e delle Guide Escursionistiche Ambientali.</a>
	{% endbox %}

  {% local "Panorama" "civarra/mainColumnParagraphs/05/image/civarra07.jpg" right horizontal %}
Vista della Valle del Mercure e Rotonda dalla terrazza
	{% endbox %}

	{% local "Il caminetto" "civarra/mainColumnParagraphs/04/image/civarra06.jpg" left horizontal %}
	{% endbox %}

	{% local "Camera doppia" "civarra/mainColumnParagraphs/08/image/3680410115_9922928238_m.jpg" right horizontal %}
	{% endbox %}

	{% local "Camera matrimoniale" "civarra/mainColumnParagraphs/07/image/3681229154_f4000c75fd_m.jpg" left horizontal %}
  {% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% load box %}
  {% call "slideshow.html" set_id="72157603780127793" %}
  {% call "prenota_visita.html" %}
   {% smallbox Informazioni e prenotazioni %}
      <ul class="phones">
        <li>tel. 0973.669152</li>
        <li>cell. 333.6172107</li>
        <li>cell. 328.1088952</li>
      </ul>
   {% endbox%}
 
   {% smallbox Tariffe %}
Pernottamento&nbsp;con&nbsp;prima colazione <b>€&nbsp;25</b> a persona<br/><span><br/>Mezza pensione</span><br/>Camera matrimoniale <b>€ 45 </b>a persona<br/><br/>Riduzioni<br/>Ragazzi fino a 4 anni Gratis<br/>Ragazzi tra 4 e&nbsp;9 anni&nbsp; 30%<br/><b>Pranzo</b> <b>€ 16–18</b> circa in funzione del menù
   {% endbox%}
   {% call "escursioni.html" %}
{% endblock %}
