{% extends "base.html" %}
{% block title %}Piccolo Agriturismo La Terrazza{% endblock %}
{% block header %}Piccolo Agriturismo La Terrazza{% endblock %}
{% block body %}
   {% load box %}

    {% flickr "Verso gli altipiani di Pedarreto e Ruggio" "4075/4750810757_d9347ae301_m.jpg" right horizontal %}
    <p>
      Il Piccolo Agriturismo La Terrazza, a gestione familiare, si trova a
      circa 700 metri s.l.m. nella piccola Contrada di San Lorenzo, lungo
      la strada che da Rotonda porta agli altipiani di Pedarreto e Ruggio.
    </p>
    Fra le sue specialit&agrave;, Il piccolo Agriturismo La Terrazza vi d&agrave; 
    l'opportunit&agrave; di gustare la tradizionale Pitta!</p>
    {% endbox %}

	  {% flickr "Dove siamo" 2073/2248754124_18a8b670b0_m.jpg left horizontal %}
      L'agriturismo &egrave; situato in Localit&agrave; San Lorenzo, a 6 km dal centro storico di Rotonda, in
      Basilicata.<br/>
      A circa 10-15 minuti dagli svincoli autostradali della SA-RC.<br/>
      Alle pendici delle montane, l'agriturismo &egrave; ideale come punto di partenza per escursioni nel Parco Nazionale del Pollino.<br/>
    {% endbox %}


    {% flickr "Ristorazione" 4134/4750820773_208811e242_m.jpg right horizontal %}
      La gestione familiare dell’Agriturismo offre un men&ugrave; ricco e interessante
      fatto di antipasti a base di formaggi salumi e verdure, paste fatte in casa
      (specialit&agrave; la “Biaginella”), tagliate di carne, Baccal&agrave; con i “zafarani”, pane,
      pizze e dolci fatti totalmente in casa, con l’uso di prodotti coltivati in azienda e
      locali.
      Nella comoda e ben arredata sala ristorazione si impone la presenza del
      forno a legna vera fabbrica di profumi e sapori.
   {% endbox %}

    {% flickr "La tradizionale Pitta" 4138/4751485592_e7c2d3a0e7_m.jpg left horizontal %}
      Da non perdere la degustazione della “pitta” cioè della pizza preparata e
      cucinata secondo la ricetta dei nonni.<br/>
      La “pitta” si differenzia dalla più “moderna” pizza per l’uso della stessa
      pasta del pane, per la maggiore quantità di farina utilizzata e dalla doppia
      lievitazione dell’impasto. 

      Viene condita con formaggi, salumi, pomodori e verdure tutti di produzione propria, disponibili a seconda della stagione.
Tra e tante "Pitte" offriamo: broccoli e salsiccia, patate e peperoni (saltati in padella), fave fritte e guanciale, fiori di zucca, zucca e cipolla fritta e molte altre.



	<div style="clear:both;">
	    <img src="http://farm5.static.flickr.com/4121/4751489594_cf6077489b_m.jpg" class="contentImage_right" alt="La Pitta cotta dell'Agriturismo La Terrazza"/>
      <img src="http://farm5.static.flickr.com/4135/4751486658_e5db277ea1_m.jpg" class="contentImage_left" alt="La pitta dell'Agriturismo La Terrazza"/>
  </div>
   {% endbox %}

    {% flickr "Il pane" 4082/4751495816_a8566c05d5_m.jpg left vertical %}
      A tavola per accompagnare i gustosi piatti viene servito il pane cotto nel forno
      a legna che ogni sera viene preparato per le necessità del giorno successivo.
   {% endbox %}
{% endblock %}
{% block right %}


   {% load box %}
   {% load call %}
  {% call "slideshow.html" set_id="72157624272781899" %}

   {% smallbox Informazioni e prenotazioni %}
      <ul class="phones">
        <li>tel. 0973.661088</li>
        <li>cell. 328.8443139</li>
      </ul>
      <p>Gradita la prenotazione.<br/>
      A richiesta, prenotando almeno il giorno prima pizza anche pranzo.</p>
      <p class="important">Chiuso Luned&igrave; e Marted&igrave;</p>
   {% endbox%}
   {% call "escursioni.html" %}
   {% smallbox Altri agriturismi %}
    Alla nostra pagina <a href="/agriturismo.html">agriturismo</a> troverai tutte le strutture raccomandate da Viaggiare Nel Pollino
   {% endbox%}

{% endblock %}
