{% extends "base.html" %}
{% block title %}Agriturismo Masseria{% endblock %}
{% block header %}Agriturismo Masseria{% endblock %}
{% block body %}
    {% load box %}
	  {% flickr "Dove siamo" 2073/2248754124_18a8b670b0_m.jpg left horizontal %}
<p>A&nbsp;6 km dal centro storico di&nbsp;Rotonda, in Basilicata</p>
<p>Nel Parco Nazionale del Pollino</p>
<p>A circa 10-15 minuti dagli svincoli autostradali della SA-RC</p>
	{% endbox %}

  {% flickr "L'agriturismo" "2800/4135798586_9a60041ff3_m.jpg" right horizontal %}
L&rsquo;Agriturismo Masseria di Senise Francesco, Si trova a circa 900 metri s.l.m. in posizione panoramica sulla Valle del Mercure sulle pendici del Pollino Lucano.<br/>
Dista dal Centro storico di rotonda appena 7 km e con la stessa distanza si raggiungono gi&agrave; le faggete che circondano Piano Pedarreto<br/>
  {% endbox %}

  {% flickr "Alloggi" "2545/4135790692_9dca925b71_m.jpg" left horizontal %}
  L'Agriturismo dispone di 2 camere con letto matrimoniale.&nbsp; Ogni camera &egrave; dotata di servizi completi.<br/>
  I nostri appartamenti sono naturalmente freschi in estate data la quota, ma ben riscaldati in inverno. <br/>
  {% endbox %}

  {% flickr "Ristorazione" "2550/4135792784_eef16f80ff_m.jpg" right horizontal %}
<p>La Masseria &egrave; in parte dedicata alla ristorazione, in un salone sufficiente a contenere un massimo di <strong>24 posti a sedere</strong>. In estate &egrave; possibile consumare il pasto all'esterno negli ampi spazi panoramici esterni.</p>
<p class="important">La cucina &egrave; aperta solo su prenotazione</p>
  {% endbox %}

  {% contentbox "Gastronomia" %}
La cucina rispetta la tipica tradizione locale e si basa sui prodotti aziendali e locali: Minestre di Verdure e Legumi, Antipasti a base di Salumi e Formaggi del Pollino, Pasta Casereccia, secondi piatti di Carne alla griglia e al forno.
  {% endbox %}

  {% contentbox "Produzioni" %}
La nostra azienda &egrave; specializzata nell'allevamento di Vacche, Pecore e Capre sia da carne che da latte. In alcuni periodi dell'anno sar&agrave; possibile gustare formaggi freschi appena prodotto e assistere alla produzione di formaggio e ricotta.<br/>
  {% endbox %}

  {% flickr "Svaghi e tempo Libero" "2080/2464981307_38ee416e38_m.jpg" right horizontal %}
Chi ama la natura potr&agrave; avventurarsi in escursioni guidate sui sentieri del Pollino, passeggiare a cavallo, presso strutture convenzionate presenti sul territorio, praticare sci da fondo, Rafting. <br/>
  {% endbox %}

  {% contentbox "Come raggiungerci" %}
<iframe scrolling="no" height="350" frameborder="0" width="547" src="http://maps.google.it/maps/ms?ie=UTF8&amp;lr=lang_it&amp;hl=it&amp;msa=0&amp;msid=102542793791810779727.00047a4d1b85598cb7aa1&amp;ll=39.932117,16.052399&amp;spn=0.368568,0.583649&amp;z=10&amp;output=embed" marginwidth="0" marginheight="0"></iframe><br/>
<small>Visualizza <a style="color: rgb(0, 0, 255); text-align: left;" href="http://maps.google.it/maps/ms?ie=UTF8&amp;lr=lang_it&amp;hl=it&amp;msa=0&amp;msid=102542793791810779727.00047a4d1b85598cb7aa1&amp;ll=39.932117,16.052399&amp;spn=0.368568,0.583649&amp;z=10&amp;source=embed">Agriturismo La Masseria di Senise Francesco</a> in una mappa di dimensioni maggiori</small>
  {% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% load box %}
  {% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>cell. 328.8443132</li>
    </ul>
  {% endbox%}
  {% comment %}
  {% smallbox "Tariffe Agriturismo"%}
Pernottamento&nbsp;con&nbsp;prima colazione <b>€&nbsp;25</b> a persona<br/><span><br/>Mezza pensione</span><br/>Camera matrimoniale <b>€ 45 </b>a persona<br/><br/><b>Pranzo</b> <b>€ 20</b> circa in funzione del menù
  {% endbox %}
{% endcomment %}
  {% call "escursioni.html" %}
  {% call "prenota_visita.html" %}
{% endblock %}
