{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="navPath">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="navPath">Agriturismo</a></span>
</div>
<div class="nav"><span class="enNav"><a href="asklepios.html" class="nav">Agriturismo Asklepios</a></span><span class="itNav"><a href="asklepios.html" class="nav">Agriturismo Asklepios</a></span>
</div>
<div class="nav"><span class="enNav"><a href="civarra.html" class="nav">Agriturismo Civarra</a></span><span class="itNav"><a href="civarra.html" class="nav">Agriturismo Civarra</a></span>
</div>
<div class="navSelf"><span class="enNav">Agriturismo Masseria</span><span class="itNav">Agriturismo Masseria</span>
</div>
<div class="nav"><span class="enNav"><a href="la_terrazza.html" class="nav">Agriturismo La Terrazza</a></span><span class="itNav"><a href="la_terrazza.html" class="nav">Agriturismo La Terrazza</a></span>
</div>
<div class="nav"><span class="enNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span><span class="itNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
    {% load box %}
	  {% flickr "Dove siamo" 2073/2248754124_18a8b670b0_m.jpg right horizontal %}
<p>A&nbsp;6 km dal centro storico di&nbsp;Rotonda, in Basilicata</p>
<p>Nel Parco Nazionale del Pollino</p>
<p>A circa 10-15 minuti dagli svincoli autostradali della SA-RC</p>
	{% endbox %}

  {% flickr "L'agriturismo" "2800/4135798586_9a60041ff3_m.jpg" right horizontal %}
L&rsquo;Agriturismo Masseria di Senise Francesco, Si trova a circa 900 metri s.l.m. in posizione panoramica sulla Valle del Mercure sulle pendici del Pollino Lucano.<br/>
Dista dal Centro storico di rotonda appena 7 km e con la stessa distanza si raggiungono gi&agrave; le faggete che circondano Piano Pedarreto<br/>
  {% endbox %}

  {% flickr "Alloggi" "2545/4135790692_9dca925b71_m.jpg" left horizontal %}
  L'Agriturismo dispone di 2 camere con letto matrimoniale.&nbsp; Ogni camera &egrave; dotata di servizi completi.<br/>
  I nostri appartamenti sono naturalmente freschi in estate data la quota, ma ben riscaldati in inverno. <br/>
  {% endbox %}

  {% flickr "Ristorazione" "2550/4135792784_eef16f80ff_m.jpg" right horizontal %}
<p>La Masseria &egrave; in parte dedicata alla ristorazione, in un salone sufficiente a contenere un massimo di <strong>24 posti a sedere</strong>. In estate &egrave; possibile consumare il pasto all'esterno negli ampi spazi panoramici esterni.</p>
<p class="important">La cucina &egrave; aperta solo su prenotazione</p>
  {% endbox %}
  
  {% contentbox "Gastronomia" %}
La cucina rispetta la tipica tradizione locale e si basa sui prodotti aziendali e locali: Minestre di Verdure e Legumi, Antipasti a base di Salumi e Formaggi del Pollino, Pasta Casereccia, secondi piatti di Carne alla griglia e al forno.
  {% endbox %}
  
  {% contentbox "Produzioni" %}
La nostra azienda &egrave; specializzata nell'allevamento di Vacche, Pecore e Capre sia da carne che da latte. In alcuni periodi dell'anno sar&agrave; possibile gustare formaggi freschi appena prodotto e assistere alla produzione di formaggio e ricotta.<br/>
  {% endbox %}

  {% flickr "Svaghi e tempo Libero" "2080/2464981307_38ee416e38_m.jpg" right horizontal %}
Chi ama la natura potr&agrave; avventurarsi in escursioni guidate sui sentieri del Pollino, passeggiare a cavallo, presso strutture convenzionate presenti sul territorio, praticare sci da fondo, Rafting. <br/>
Per chi ama la montagna o vuole visitare il Parco in generale disporr&agrave; di documentazione e materiali informativi. Chi vuole affrontare l&rsquo;ampia rete di sentieri del Pollino, della Costa di Maratea e della Basilicata, potr&agrave; usufruire dei servizi delle esperte <a href="../guida.html">Guide del Parco e delle Guide Escursionistiche Ambientali. </a>
  {% endbox %}

  {% contentbox "Come raggiungerci" %}
<iframe scrolling="no" height="350" frameborder="0" width="497" src="http://maps.google.it/maps/ms?ie=UTF8&amp;lr=lang_it&amp;hl=it&amp;msa=0&amp;msid=102542793791810779727.00047a4d1b85598cb7aa1&amp;ll=39.932117,16.052399&amp;spn=0.368568,0.583649&amp;z=10&amp;output=embed" marginwidth="0" marginheight="0"></iframe><br/>
<small>Visualizza <a style="color: rgb(0, 0, 255); text-align: left;" href="http://maps.google.it/maps/ms?ie=UTF8&amp;lr=lang_it&amp;hl=it&amp;msa=0&amp;msid=102542793791810779727.00047a4d1b85598cb7aa1&amp;ll=39.932117,16.052399&amp;spn=0.368568,0.583649&amp;z=10&amp;source=embed">Agriturismo La Masseria di Senise Francesco</a> in una mappa di dimensioni maggiori</small>
  {% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% load box %}
  {% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>cell. 328.8443132</li>
    </ul>
  {% endbox%}
  {% smallbox Tariffe %}
Pernottamento&nbsp;con&nbsp;prima colazione <b>€&nbsp;25</b> a persona<br/><span><br/>Mezza pensione</span><br/>Camera matrimoniale <b>€ 45 </b>a persona<br/><br/><b>Pranzo</b> <b>€ 20</b> circa in funzione del menù
  {% endbox %}
  {% call "escursioni.html" %}
  {% call "prenota_visita.html" %}
{% endblock %}
