{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Itinerario turistico</h2>
<p>Diversi e molto diversi fra loro sono gli spunti e gli stimoli presenti in questo territorio prevalentemente montano, racchiuso tra due sponde marine distanti fra loro appena un centinaio di km.</p>
<p>&nbsp;</p>
<p><strong>Riserva naturale valle del fiume Lao:</strong> il fiume Lao che d&agrave; il nome a questa zona, tra balzi e rapide genera scorci paesaggistici di notevole fascino; e&rsquo; possibile discenderlo in canoa o rafting, appoggiandosi anche alle diverse agenzie specializzate presenti sul territorio. </p>
<p>&nbsp;</p>
<p><strong>Grotta del Romito</strong>: &eacute; un sito archeologico, posto nei pressi di Papasidero, risalente a 10-16 mila anni a.C.; di particolare interesse i resti umani ed il graffito del toro &ldquo;Bos Primigenius&rdquo;. Prezzo della visita con guida: 2.60 euro </p>
<p>&nbsp;</p>
<p><strong>Rotonda:</strong> &eacute; uno dei pi&ugrave; grossi e attivi centri abitati, presenti all&rsquo;interno del Parco del Pollino. Monte Pollino e Serra Dolcedorme: il secondo (2267 m) &egrave; di poco pi&ugrave; alto del primo (2248 m); l&rsquo;escursione ad almeno una delle due cime &egrave; consigliata, per meglio apprezzare il parco e per toccare con mano i millenari pini loricati. </p>
<p>&nbsp;</p>
<p><strong>Gole del Fiume Raganello:</strong> il canyon scavato ininterrottamente per millenni dal fiume, e&rsquo; sicuramente il piu&rsquo; spettacolare esistente in Italia; il paese di S.Lorenzo Bellizzi, divide quelle che vengono identificate come gole alte da quelle basse, meglio accessibili da Civita (Ponte del Diavolo). Per compiere l&rsquo;escursione nelle gole, &eacute; opportuno rivolgersi alle guide presenti in loco, per meglio assaporare la gita e per non rischiare brutte sorprese. </p>
<p>&nbsp;</p>
<p><strong>Santuario S.Maria delle Armi:</strong> sorge all&rsquo;interno del Parco della Cessutta, vicino a Cerchiara. Di epoca bizantina, e&rsquo; il luogo dove viene custodita l&rsquo;immagine santa della Madonna delle Armi: durante i lavori di restauro del 1450 una pietra si spacc&ograve; di netto rivelando al suo interno l&rsquo;immagine della madonna con il bimbo nella sua destra, ancora perfettamente visibile. Il suggestivo contesto ambientale e l&rsquo;architettura, rendono questo posto un vero incanto. Una curiosit&agrave;: il santuario deve il suo nome al greco &ldquo;ton armon&rdquo;; plurale maschile, che sta a significare &ldquo;dei grotti/delle grotte&rdquo;, tradotto anche &ldquo;degli armi&rdquo;, divenuto poi &ldquo;delle armi&rdquo;. Tutto questo per dire che non c&rsquo;e&rsquo; alcun riferimento alle armi, in quanto tali. </p>
<p>&nbsp;</p>
<p><strong>Grotta delle Ninfe</strong> (tel.: 0981.991197 / 333.8491060): stabilimento termale con piscina e fanghi sulfurei, poco distante da Cerchiara. Prezzo del biglietto di ingresso: 3 euro. Famoso sin dai tempi degli antichi greci, il luogo, molto suggestivo, era considerato il nascondiglio della mitica Calipso; per i benefici delle sue acque termali e dei fanghi, e&rsquo; un complesso unico nel suo genere. </p>
<p>&nbsp;</p>
<p><strong>Morano Calabro:</strong> grazie al suo patrimonio culturale ed architettonico di indiscusso valore, &egrave; classificato, a ragione, come uno dei pi&ugrave; bei borghi d&rsquo;Italia; su tutto il paese, arroccato sullo sperone di una collina, domina il castello normanno risalente al XIII secolo. </p>
<p>&nbsp;</p>
<p><strong>Riserva naturale valle del fiume Argentino:</strong> altro esempio di fiume incontaminato che scorre nei boschi dell&rsquo;Orsomarso (massiccio montuoso posto a sud-ovest del Pollino). </p>
<p>&nbsp;</p>
<p><strong>Mar Ionio e Mar Tirreno:</strong> un bagno in una qualunque spiaggia di uno dei due mari &egrave; doveroso; non potevamo esimerci dal tuffarci nelle acque temperate di entrambe le sponde, per dare anche una valenza marina alla nostra traversata montana.</p>
<p><br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
 {% load call %}
 {% call "prenota_visita.html" %}
{% endblock %}
