{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../index.html" class="nav">Home</a></span><span class="itNav"><a href="../../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../escursioni.html" class="navPath">Excursions and Trekking</a></span><span class="itNav"><a href="../../escursioni.html" class="navPath">Escursioni e Visite</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../trekking.html" class="nav">Escursioni e Trekking</a></span><span class="itNav"><a href="../trekking.html" class="nav">Escursioni e Trekking</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../famiglia.html" class="nav">Trekking per Famiglie</a></span><span class="itNav"><a href="../famiglia.html" class="nav">Trekking per Famiglie</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../gite.html" class="nav">Visite Guidate</a></span><span class="itNav"><a href="../gite.html" class="nav">Visite Guidate</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../antropologia.html" class="nav">Trekking Rito Arboreo</a></span><span class="itNav"><a href="../antropologia.html" class="nav">Trekking Rito Arboreo</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../mountainbike.html" class="navPath">Mountain bike</a></span><span class="itNav"><a href="../mountainbike.html" class="navPath">Mountain bike</a></span>
</div>
<div class="nav2"><span class="enNav"><a href="itinerario.html" class="nav">Itinerario ciclistico</a></span><span class="itNav"><a href="itinerario.html" class="nav">Itinerario ciclistico</a></span>
</div>
<div class="nav2"><span class="enNav"><a href="eno-gastronomia.html" class="nav">itinerario gastronomico</a></span><span class="itNav"><a href="eno-gastronomia.html" class="nav">itinerario gastronomico</a></span>
</div>
<div class="navSelf2"><span class="enNav">Itinerario turistico</span><span class="itNav">Itinerario turistico</span>
</div>
<div class="nav"><span class="enNav"><a href="../geologia.html" class="nav">Trekking Geologico</a></span><span class="itNav"><a href="../geologia.html" class="nav">Trekking Geologico</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../maratea.html" class="nav">Maratea</a></span><span class="itNav"><a href="../maratea.html" class="nav">Maratea</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../english.html" class="nav">English</a></span><span class="itNav"><a href="../../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../link.html" class="nav">Links</a></span><span class="itNav"><a href="../../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Itinerario turistico</h2>
<p>Diversi e molto diversi fra loro sono gli spunti e gli stimoli presenti in questo territorio prevalentemente montano, racchiuso tra due sponde marine distanti fra loro appena un centinaio di km.</p>
<p>&nbsp;</p>
<p><strong>Riserva naturale valle del fiume Lao:</strong> il fiume Lao che d&agrave; il nome a questa zona, tra balzi e rapide genera scorci paesaggistici di notevole fascino; e&rsquo; possibile discenderlo in canoa o rafting, appoggiandosi anche alle diverse agenzie specializzate presenti sul territorio. </p>
<p>&nbsp;</p>
<p><strong>Grotta del Romito</strong>: &eacute; un sito archeologico, posto nei pressi di Papasidero, risalente a 10-16 mila anni a.C.; di particolare interesse i resti umani ed il graffito del toro &ldquo;Bos Primigenius&rdquo;. Prezzo della visita con guida: 2.60 euro </p>
<p>&nbsp;</p>
<p><strong>Rotonda:</strong> &eacute; uno dei pi&ugrave; grossi e attivi centri abitati, presenti all&rsquo;interno del Parco del Pollino. Monte Pollino e Serra Dolcedorme: il secondo (2267 m) &egrave; di poco pi&ugrave; alto del primo (2248 m); l&rsquo;escursione ad almeno una delle due cime &egrave; consigliata, per meglio apprezzare il parco e per toccare con mano i millenari pini loricati. </p>
<p>&nbsp;</p>
<p><strong>Gole del Fiume Raganello:</strong> il canyon scavato ininterrottamente per millenni dal fiume, e&rsquo; sicuramente il piu&rsquo; spettacolare esistente in Italia; il paese di S.Lorenzo Bellizzi, divide quelle che vengono identificate come gole alte da quelle basse, meglio accessibili da Civita (Ponte del Diavolo). Per compiere l&rsquo;escursione nelle gole, &eacute; opportuno rivolgersi alle guide presenti in loco, per meglio assaporare la gita e per non rischiare brutte sorprese. </p>
<p>&nbsp;</p>
<p><strong>Santuario S.Maria delle Armi:</strong> sorge all&rsquo;interno del Parco della Cessutta, vicino a Cerchiara. Di epoca bizantina, e&rsquo; il luogo dove viene custodita l&rsquo;immagine santa della Madonna delle Armi: durante i lavori di restauro del 1450 una pietra si spacc&ograve; di netto rivelando al suo interno l&rsquo;immagine della madonna con il bimbo nella sua destra, ancora perfettamente visibile. Il suggestivo contesto ambientale e l&rsquo;architettura, rendono questo posto un vero incanto. Una curiosit&agrave;: il santuario deve il suo nome al greco &ldquo;ton armon&rdquo;; plurale maschile, che sta a significare &ldquo;dei grotti/delle grotte&rdquo;, tradotto anche &ldquo;degli armi&rdquo;, divenuto poi &ldquo;delle armi&rdquo;. Tutto questo per dire che non c&rsquo;e&rsquo; alcun riferimento alle armi, in quanto tali. </p>
<p>&nbsp;</p>
<p><strong>Grotta delle Ninfe</strong> (tel.: 0981.991197 / 333.8491060): stabilimento termale con piscina e fanghi sulfurei, poco distante da Cerchiara. Prezzo del biglietto di ingresso: 3 euro. Famoso sin dai tempi degli antichi greci, il luogo, molto suggestivo, era considerato il nascondiglio della mitica Calipso; per i benefici delle sue acque termali e dei fanghi, e&rsquo; un complesso unico nel suo genere. </p>
<p>&nbsp;</p>
<p><strong>Morano Calabro:</strong> grazie al suo patrimonio culturale ed architettonico di indiscusso valore, &egrave; classificato, a ragione, come uno dei pi&ugrave; bei borghi d&rsquo;Italia; su tutto il paese, arroccato sullo sperone di una collina, domina il castello normanno risalente al XIII secolo. </p>
<p>&nbsp;</p>
<p><strong>Riserva naturale valle del fiume Argentino:</strong> altro esempio di fiume incontaminato che scorre nei boschi dell&rsquo;Orsomarso (massiccio montuoso posto a sud-ovest del Pollino). </p>
<p>&nbsp;</p>
<p><strong>Mar Ionio e Mar Tirreno:</strong> un bagno in una qualunque spiaggia di uno dei due mari &egrave; doveroso; non potevamo esimerci dal tuffarci nelle acque temperate di entrambe le sponde, per dare anche una valenza marina alla nostra traversata montana.</p>
<p><br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
