{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="navPath">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="navPath">Escursioni e Visite</a></span>
</div>
<div class="nav"><span class="enNav"><a href="trekking.html" class="nav">Escursioni e Trekking</a></span><span class="itNav"><a href="trekking.html" class="nav">Escursioni e Trekking</a></span>
</div>
<div class="nav"><span class="enNav"><a href="famiglia.html" class="nav">Trekking per Famiglie</a></span><span class="itNav"><a href="famiglia.html" class="nav">Trekking per Famiglie</a></span>
</div>
<div class="nav"><span class="enNav"><a href="gite.html" class="nav">Visite Guidate</a></span><span class="itNav"><a href="gite.html" class="nav">Visite Guidate</a></span>
</div>
<div class="navSelf"><span class="enNav">Trekking Rito Arboreo</span><span class="itNav">Trekking Rito Arboreo</span>
</div>
<div class="nav"><span class="enNav"><a href="mountainbike.html" class="nav">Mountain bike</a></span><span class="itNav"><a href="mountainbike.html" class="nav">Mountain bike</a></span>
</div>
<div class="nav"><span class="enNav"><a href="geologia.html" class="nav">Trekking Geologico</a></span><span class="itNav"><a href="geologia.html" class="nav">Trekking Geologico</a></span>
</div>
<div class="nav"><span class="enNav"><a href="maratea.html" class="nav">Maratea</a></span><span class="itNav"><a href="maratea.html" class="nav">Maratea</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<a title="Pitu di Rotonda di Pollino Kombat, su Flickr" href="http://www.flickr.com/photos/22306268@N06/2251572153/"><img width="500" height="375" alt="Pitu di Rotonda" src="http://farm3.static.flickr.com/2118/2251572153_b18e62c893.jpg"/></a>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Trekking antropologico</h2>
Viaggio tra l'antico e il moderno modo di vivere la fede, da parte di una comunit&agrave; rurale di uno dei paesi pi&ugrave; industrializzati del mondo (l'Italia!).  Ogni anno due gruppi di fedeli di Rotonda (PZ), a piedi, salgono in montagna per recidere due alberi che faticosamente saranno portati in piazza, &quot;maritati&quot; e innalzati in devozione a Sant'Antonio. Il viaggio dura sei giorni tra fatiche titaniche, antiche tecniche per il trasporto, strani congegni, forzuti buoi, preghiere, musiche balli e canti. Da quanto tempo dura questa tradizione non &egrave; dato sapere, ma &egrave; possibile che i devoti di oggi perpetuino un antico culto che ha avuto origine oltre 2000 anni fa e che ha resistito a persecuzioni religiose e alla modernizzazione del nostro secolo. Il trekking prevede la totale &quot;simbiosi&quot; e quindi un forte rispetto delle regole e dei modi di vivere dei devoti.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>8 Giugno</h2>
<p>Ore 22.00 si va a vedere la partenza dei fedeli in localit&agrave; Santa Maria. Fuochi d'artificio e preghiera dei fedeli. Conoscenza con i &quot;Caporali&quot;. I Caporali sono i capi delle due spedizioni. Essendo le persone pi&ugrave; anziane e con maggior esperienza sono una ricchezza di aneddoti. Avere un buon rapporto con loro &egrave; fondamentale per integrarsi nella manifestazione. <br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>9 Giugno</h2>
Partenza alle ore 6.30.
<p>Incontro con i fedeli a Colle Impiso.</p>
<p>Percorso insieme ai fedeli per vedere il taglio dell'albero in localit&agrave; Cugno dell'Acero e ritorno. Da questa localit&agrave; i fedeli procedono su vecchie mulattiere. In quest'occasione i fedeli recidono un albero di abete. Lo stesso viene preparato per il trasporto fino a Rotonda, avendo cura di mantenere intatta i rami e le fronde della parte apicale. Vengono adottate particolari tecniche di taglio e trasporto con l'ausilio di una coppia di buoi. La particolarit&agrave; sta nel fatto che i buoi non trascinano l'albero altrimenti la chioma verrebbe danneggiata, ma viene trasportato sollevato da terra con l'aiuto di una ventina di persone. Il trasporto dell'albero presenta alcune difficolt&agrave; tecniche che vengono superate a forza di braccia e rappresentano un momento di forte abnegazione alla fatica. Il Percorso attraversa una suggestiva faggeta-abetina, ricca anche di importanti entit&agrave; faunistiche e vegetazionali.<br/>
Si dorme in tenda in localit&agrave; Colle Impiso insieme ai fedeli. Durante la sera davanti al fuoco i fedeli consumeranno una frugale ma abbondante cena a base di prodotti tipici. Dopo cena i fedeli cantano e danzano al ritmo di tarantelle, accompagnati da zampogne e fisarmonica. Il momento giusto per farsi raccontare dagli anziani qualche aneddoto: essi hanno vissuto questa festa sin dalla prima infanzia senza soluzioni di continuit&agrave;. Sono testimoni dei cambiamenti sociali e culturali avvenuti.</p>
<a target="_blank" href="http://it.youtube.com/watch?v=F8-OzKALiXw"></a> <br/>
<object width="425" height="373">
<param value="http://www.youtube.com/v/F8-OzKALiXw&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1" name="movie"/>
<param value="transparent" name="wmode"/><embed width="425" height="373" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/F8-OzKALiXw&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>10 Giugno</h2>
Mentre i fedeli proseguono il viaggio i trekkers possono fare una escursione che li porti a fare conoscenza con i Pini Loricati.
<p>Al termine dell'escursione si raggiunge il gruppo di fedeli presso Piano Pedarreto, dove avviene l'incontro con l'altro gruppo di fedeli che hanno tagliato la pianta di faggio a Piano Marolo. Il Faggio viene trascinato da 13 coppie di buoi condotti dai &quot;valani&quot; e l'ausilio dei &quot;pannulari&quot;. Anche qui per il trascinamento del tronco vengono realizzate alcune &quot;attrezzature&quot; tradizionali per l'&quot;imbaiamento&quot; dei buoi e l'attacco del tronco ai buoi. Per il posizionamento dei buoi si attengono ad una particolare misurazione che comporta spesso aspri litigi per aggiudicare le posizioni pi&ugrave; prestigiose. Durante la sera canti e danze con l'incontro dei due gruppi di fedeli.<br/>
</p>
<object width="425" height="373">
<param value="http://www.youtube.com/v/teCEluDuT58&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1" name="movie"/>
<param value="transparent" name="wmode"/><embed width="425" height="373" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/teCEluDuT58&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>11 Giugno</h2>
In questa giornata inizia la discesa verso Rotonda fino alla localit&agrave; Pozzicelli al seguito dei Fedeli. La partenza &egrave; preceduta da una messa che raccoglie tutti i fedeli compresi quelli che salgono dal paese per l'occasione. I fedeli durante la notte rientrano alle loro abitazioni. In questo momento di disimpegno, pu&ograve; avvenire che fedeli gravati da malattie, camminino sul tronco dell'Abete per chiedere la grazia per intercessione di Sant'Antonio.<br/>
<p><br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>12 Giugno</h2>
La mattina, tutti i fedeli e i trekkers si portano in localit&agrave; Pozzicelli. Qui le piante e gli animali vengono addobbati con i tradizionali &quot;ceri&quot; per la discesa finale alla piazza del paese. Nel pomeriggio avviene l'incontro con le autorit&agrave; civiche e religiose. Nel tardo pomeriggio si svolge la sfilata dei tronchi in piazza tra la folla in attesa. Dopo il discorso delle autorit&agrave; il tronco di faggio svincolato dai bovini viene sollevato a forza di braccia dai fedeli e condotto a spalla, con una spettacolare prova di forza, fino al luogo dove verr&agrave; innalzato. L'abete viene custodito all'interno della chiesa con uno spettacolare momento di devozione religiosa.<a href="http://www.youtube.com/watch?v=OnjwsmL2fPU" ><br/>
</a><object width="425" height="373">
<param name="movie" value="http://www.youtube.com/v/OnjwsmL2fPU&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1"/>
<param name="wmode" value="transparent"/><embed width="425" height="373" src="http://www.youtube.com/v/OnjwsmL2fPU&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1" type="application/x-shockwave-flash" wmode="transparent"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>13 Giugno</h2>
La mattina presto i fedeli preparano la chioma dell'abete e la &quot;maritano&quot; al faggio con particolari legacci. Dopodich&eacute; si procede al sollevamento a mano e con l'uso delle &quot;porfiche&quot;, speciali forche di legno di grandi dimensioni. Una volta innalzato l'albero &egrave; possibile che alcuni fedeli tentino la &quot;scalata&quot;. Il pomeriggio visita del centro storico di Rotonda.<br/>
<object width="425" height="373">
<param name="movie" value="http://www.youtube.com/v/jOtUqqrXD9Y&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1"/>
<param name="wmode" value="transparent"/><embed width="425" height="373" src="http://www.youtube.com/v/jOtUqqrXD9Y&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1" type="application/x-shockwave-flash" wmode="transparent"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
 {% load call %}
 {% call "prenota_visita.html" %}
{% endblock %}
