{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="famiglia/mainColumnParagraphs/0/image/conigatti.jpg" class="contentImage_left" alt=""/>
	<h2>Trekking per famiglia con ASKLEPIOS</h2>
Asklepios vi offre un soggiorno sul Pollino studiato appositamente per le famiglie con ragazzi dai 5 agli 88 anni. Tutte le escursioni e le attivit&agrave; sono ideali per quei genitori che vorranno vivere una esperienza, in assoluta sicurezza per i loro figli, senza rinunciare a nessuno dei meravigliosi spettacoli naturali offerti dal Parco Nazionale del Pollino. Presso l'Azienda Asklepios i ragazzi potranno trascorrere il loro tempo negli spazi aziendali, giocando con cani, gatti e galline e sono a disposizione materiali e giochi. Sono previste attivit&agrave; di ricerca e studio naturalistico, riconoscimento piante e tracce di animali, osservazione della fauna.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="famiglia/mainColumnParagraphs/00/image/asinoweb.jpg" class="contentImage_right" alt=""/>
	<h2>Programma (suscettibile di modifiche)</h2>
<p><strong>1&nbsp;giorno</strong><br/>
Rotonda<br/>
Accoglienza in azienda, visita al centro storico di Rotonda, al Museo Naturalistico con i resti dell&rsquo;elefante fossile.</p>
<p><strong>2 giorno</strong><br/>
Le praterie del Pollino<br/>
Escursione a Piano di Ruggio.</p>
<p><strong>3 giorno</strong><br/>
I Patriarchi<br/>
Escursione al Bosco di Pollinello dove &egrave; possibile ammirare alcuni esemplari millenari di Pino Loricato.</p>
<p><strong>4 giorno</strong><br/>
Il Fiume Lao il Regno della Lontra<br/>
Rafting sul fiume Lao &ndash; Escursione al Paese abbandonato di Laino Castello - Visita alla Grotta del Romito</p>
<p><strong>5 giorno</strong><br/>
Nelle terre degli Arbereshe, e nei castelli dei Normanni<br/>
Le Gole del Raganello e Civita &ndash; Morano Calabro</p>
<p><strong>6 giorno</strong><br/>
Nel regno dell&rsquo;Abete<br/>
Escursione nella gola di Jannace fino al Santuario della Madonna del Pollino.</p>
<p><strong>7 giorno</strong><br/>
Un asino per amico<br/>
Trekking con l&rsquo;asino &ndash; Passeggiata al panoramico Santuario della Madonna del Soccorso</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
 {% load call %}
 {% call "prenota_visita.html" %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Tariffe Trekking per famiglie</div>
Adulti <b>€ 45.00</b>, ragazzi fino a 16 anni <b>€ 22.50</b> al giorno<br/>Nella quota sono comprese le seguenti voci<br/><br/>1. un pernottamento con prima colazione<br/>2. un pranzo al sacco<br/>3. una merenda al rientro dall'escursione <br/>4. una escursione guidata nel Parco<br/>5. uso della cucina attrezzata<br/>6. consumo prodotti aziendali<br/>7. discesa rafting facile e/o escursione con l’asino<br/><br/>Il trekking per famiglie prevede l’accettazione di un programma di almeno 4 giorni.<br/>Per gruppi plurifamiliari è possibile effettuare lo stesso programma con diversa sistemazione.
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Escursioni guidate nel Pollino e dintorni</div>
Gruppi inferiori alle <b>7</b> persone <b>€ 20 </b>pro-capite<br/>Gruppi superiori<br/>Escursione guidata in alta montagna giornata intera <b>€ 150</b><br/>Gruppi scuola o tour turistici&nbsp; <b>€ 100</b><br/><br/><b>Riduzioni</b> non sono applicate nei mesi di Aprile e Maggio <br/><br/>La tariffa non comprende il prezzo di eventuali trasporti in auto, autobus, fuoristrada, cavallo, asino o altro mezzo diverso dalle proprie gambe, che restano a carico del cliente. Se necessario possono essere organizzate visite a bordo dei mezzi di trasporto summenzionati.
	</div>
{% endblock %}
