{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="navPath">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="navPath">Escursioni e Visite</a></span>
</div>
<div class="nav"><span class="enNav"><a href="trekking.html" class="nav">Escursioni e Trekking</a></span><span class="itNav"><a href="trekking.html" class="nav">Escursioni e Trekking</a></span>
</div>
<div class="navSelf"><span class="enNav">Trekking per Famiglie</span><span class="itNav">Trekking per Famiglie</span>
</div>
<div class="nav"><span class="enNav"><a href="gite.html" class="nav">Visite Guidate</a></span><span class="itNav"><a href="gite.html" class="nav">Visite Guidate</a></span>
</div>
<div class="nav"><span class="enNav"><a href="antropologia.html" class="nav">Trekking Rito Arboreo</a></span><span class="itNav"><a href="antropologia.html" class="nav">Trekking Rito Arboreo</a></span>
</div>
<div class="nav"><span class="enNav"><a href="mountainbike.html" class="nav">Mountain bike</a></span><span class="itNav"><a href="mountainbike.html" class="nav">Mountain bike</a></span>
</div>
<div class="nav"><span class="enNav"><a href="geologia.html" class="nav">Trekking Geologico</a></span><span class="itNav"><a href="geologia.html" class="nav">Trekking Geologico</a></span>
</div>
<div class="nav"><span class="enNav"><a href="maratea.html" class="nav">Maratea</a></span><span class="itNav"><a href="maratea.html" class="nav">Maratea</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="famiglia/mainColumnParagraphs/0/image/conigatti.jpg" class="contentImage_left" alt=""/>
	<h2>Trekking per famiglia con ASKLEPIOS</h2>
Asklepios vi offre un soggiorno sul Pollino studiato appositamente per le famiglie con ragazzi dai 5 agli 88 anni. Tutte le escursioni e le attivit&agrave; sono ideali per quei genitori che vorranno vivere una esperienza, in assoluta sicurezza per i loro figli, senza rinunciare a nessuno dei meravigliosi spettacoli naturali offerti dal Parco Nazionale del Pollino. Presso l'Azienda Asklepios i ragazzi potranno trascorrere il loro tempo negli spazi aziendali, giocando con cani, gatti e galline e sono a disposizione materiali e giochi. Sono previste attivit&agrave; di ricerca e studio naturalistico, riconoscimento piante e tracce di animali, osservazione della fauna.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="famiglia/mainColumnParagraphs/00/image/asinoweb.jpg" class="contentImage_right" alt=""/>
	<h2>Programma (suscettibile di modifiche)</h2>
<p><strong>1&nbsp;giorno</strong><br/>
Rotonda<br/>
Accoglienza in azienda, visita al centro storico di Rotonda, al Museo Naturalistico con i resti dell&rsquo;elefante fossile.</p>
<p><strong>2 giorno</strong><br/>
Le praterie del Pollino<br/>
Escursione a Piano di Ruggio.</p>
<p><strong>3 giorno</strong><br/>
I Patriarchi<br/>
Escursione al Bosco di Pollinello dove &egrave; possibile ammirare alcuni esemplari millenari di Pino Loricato.</p>
<p><strong>4 giorno</strong><br/>
Il Fiume Lao il Regno della Lontra<br/>
Rafting sul fiume Lao &ndash; Escursione al Paese abbandonato di Laino Castello - Visita alla Grotta del Romito</p>
<p><strong>5 giorno</strong><br/>
Nelle terre degli Arbereshe, e nei castelli dei Normanni<br/>
Le Gole del Raganello e Civita &ndash; Morano Calabro</p>
<p><strong>6 giorno</strong><br/>
Nel regno dell&rsquo;Abete<br/>
Escursione nella gola di Jannace fino al Santuario della Madonna del Pollino.</p>
<p><strong>7 giorno</strong><br/>
Un asino per amico<br/>
Trekking con l&rsquo;asino &ndash; Passeggiata al panoramico Santuario della Madonna del Soccorso</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Prenota la tua escursione</div>
Compilate l'apposto modulo di <a href="../prenotazioni.html"><b>PRENOTAZIONE</b></a> per ricevere informazioni sui nostri servizi, riceverete una risposta entro 12-24 ore.<br/><b><br/>Informazioni telefoniche<br/></b><b>0973.669290<br/>347.2631462</b><br/>Ore ufficio dalle 14 alle 20
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Tariffe Trekking per famiglie</div>
Adulti <b>€ 45.00</b>, ragazzi fino a 16 anni <b>€ 22.50</b> al giorno<br/>Nella quota sono comprese le seguenti voci<br/><br/>1. un pernottamento con prima colazione<br/>2. un pranzo al sacco<br/>3. una merenda al rientro dall'escursione <br/>4. una escursione guidata nel Parco<br/>5. uso della cucina attrezzata<br/>6. consumo prodotti aziendali<br/>7. discesa rafting facile e/o escursione con l’asino<br/><br/>Il trekking per famiglie prevede l’accettazione di un programma di almeno 4 giorni.<br/>Per gruppi plurifamiliari è possibile effettuare lo stesso programma con diversa sistemazione.
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Escursioni guidate nel Pollino e dintorni</div>
Gruppi inferiori alle <b>7</b> persone <b>€ 20 </b>pro-capite<br/>Gruppi superiori<br/>Escursione guidata in alta montagna giornata intera <b>€ 150</b><br/>Gruppi scuola o tour turistici&nbsp; <b>€ 100</b><br/><br/><b>Riduzioni</b> non sono applicate nei mesi di Aprile e Maggio <br/><br/>La tariffa non comprende il prezzo di eventuali trasporti in auto, autobus, fuoristrada, cavallo, asino o altro mezzo diverso dalle proprie gambe, che restano a carico del cliente. Se necessario possono essere organizzate visite a bordo dei mezzi di trasporto summenzionati.
	</div>
{% endblock %}
