{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>SoggiorniTematici</h2>
Questo &egrave; un programma modello per un soggiorno tematico. In base ai vostri interessi possono essere programmati soggiorni tematici sul Pollino di botanica, zoologia, antropologia, archeologia, storia, tradiioni e musica popolare.<br/>
Segue un suggerimento per visitare il Pollino in tutti i suoi aspetti <strong>geologico-naturalistici</strong>, senza trascurare la bellezza del paesaggio e le belle passeggiate
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Primo giorno</h2>
Presentazione del soggiorno con introduzione alla formazione geologica della terra e ai principali eventi geologici locali.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Secondo giorno</h2>
La formazione della crosta oceanica, la deriva dei contenenti: Visita a Timpa di Pietrasasso, Timpa delle Murge e Monte Pelato. I Pillows, le Ofioliti.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Terzo  giorno</h2>
La formazione dei sedimenti calcarei e l'innalzamento della catena:<br/>
Visita alla Timpa di San Lorenzo e Falconara.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Quarto giorno</h2>
Le glaciazioni e il carsismo, aspetti geomorfologici e vegetazionali:<br/>
Escursione ai Piani di Pollino, il Pino Loricato, un fossile vivente.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Quinto giorno</h2>
La Valle del Mercure: La lignite, il travertino, i fossili nelle argille del lago.<br/>
Visita al Museo di Storia Naturale di Rotonda (resti fossili di elefante antico, ippopotamo ed altro) <br/>
L'uomo: &quot;L'evoluzione culturale&quot;: visita alla Grotta del Romito.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
  {% load call %}
  {% call "prenota_visita.html" %}
{% endblock %}
