  {% extends "base.html" %}
  {% block title %}
  {% endblock %}

  {% block body %}
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>PRIMO GIORNO</h2>
  Arrivo in albergo e presentazione<br/>
  POMERIGGIO<br/>
  Breve visita al centro storico di Rotonda con panorama sulla Valle del Mercure e al Museo di storia naturale con i resti fossili dell&rsquo;elefante antico.
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>SECONDO GIORNO</h2>
  Colle del Dragone: vista dei Pini Loricati sul Timpone di Viggianello e Panorama sulle maggiori vette del Parco e sul Mar Ionio.<br/>
  Sosta al Piano di Ruggio: piccola escursione facoltativa al Belvedere di Ruggio con vista sui costoni rocciosi della Serra del Prete e sui Pini Loricati. Piano Ruggio &egrave; una delle localit&agrave; del Parco pi&ugrave; visitate, circondato da estese faggete.<br/>
  Fermata al punto panoramico di Colle Impiso: vista sul cuore del Massiccio con le cime pi&ugrave; elevate.<br/>
  Osservazione dei rapaci sulle praterie delle Serrette.<br/>
  Visita alla sorgente del Mercure e ai depositi di argilla del Lago Pleistocenico con conchiglie fossili.
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>TERZO GIORNO</h2>
  MATTINA<br/>
  Visita alla grotta del Romito. La Grotta del Romito conserva sepolture umane di 12.000 anni fa e un graffito raffigurante il Bue primigenio, considerata la pi&ugrave; bella espressione artistica di quel periodo<br/>
  Pranzo al sacco o al ristorante<br/>
  POMERIGGIO<br/>
  Visita al centro storico di Papasidero<br/>
  Si prosegue lungo la suggestiva gola del Lao fino alla costa tirrenica nei pressi di Scalea: bagno al tramonto.
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>QUARTO GIORNO</h2>
  Visita al centro storico medioevale di Rivello<br/>
  Eventuale escursione naturalistica nei dintorni di Maratea<br/>
  Visita al centro storico di&nbsp; Maratea<br/>
  Bagno in una suggestiva spiaggia della Costa di Maratea con attesa del tramonto.<br/>
  Pranzo al sacco o al ristorante<br/>
  Visita al centro storico di Tortora e al museo archeologico
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>QUINTO GIORNO</h2>
  MATTINA<br/>
  Breve escursione nei pressi del Santuario della Madonna del Pollino. Punto panoramico sul versante lucano del Parco Nazionale del Pollino<br/>
  Colazione al sacco o all&rsquo;Agriturismo &ldquo;La Garavina&rdquo;<br/>
  POMERIGGIO<br/>
  Visita alla Timpa di Pietrasasso e alla Timpa delle Murge. Si tratta di due enormi complessi rocciosi di origine lavica che conservano ancora l&rsquo;aspetto del momento in cui &egrave; avvenuta la solidificazione nelle profondit&agrave; oceaniche.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>SESTO GIORNO</h2>
MATTINA<br/>
Visita al belvedere di <span>Civita sul Canyon del Raganello:</span> uno degli scorci panoramici pi&ugrave; spettacolari del Parco, il fiume percorre 8 km incassato in una profondissima gola, con pareti rocciose strapiombanti per oltre 300 metri.<br/>
Visita al centro storico albanese di Civita: &egrave; uno dei paesi che conserva meglio le tradizioni culturali e religiose della madrepatria. Visita alla chiesa e al museo etnico.<br/>
Pranzo a Civita (al sacco o al ristorante tipico Kamastra).<br/>
POMERIGGIO<br/>
Visita a Morano Calabro, citt&agrave; dal passato florido, testimoniato dalla grandezza e dalla ricchezza di ornamenti e opere artistiche delle sue principali chiese. Panorama suggestivo sulla catena del Pollino. Sicuramente il pi&ugrave; bel paese del Parco.<br/>
In alternativa a Morano Calabro si pu&ograve; visitare il bellissimo Santuario delle Armi di Cerchiara di Calabria, &ldquo;incastonato&rdquo; in una parete rocciosa con panorama sul Mar Ionio.<br/>
Eventuale bagno sul Mar Ionio o alla sorgente di acqua sulfurea della Grotta delle Ninfe.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>SETTIMO GIORNO</h2>
Breve passeggiata al Centro storico abbandonato di Laino Castello e visita al centro storico di Laino Borgo e al Santuario delle Cappelle. <br/>
Breve passeggiata sulle sponde del fiume Lao nei pressi delle Gole omonime.<br/>
Partenza.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
  {% load call %}
  {% call "prenota_visita.html" %}
  {% load box %}
  {% comment %}
  {% smallbox Tariffe Escursioni Guidate nel Pollino e dintorni %}
Gruppi inferiori alle <b>7</b> persone <b>€ 20 </b>pro-capite<br/>Gruppi superiori<br/>Escursione guidata in alta montagna giornata intera <b>€ 150</b><br/>Gruppi scuola o tour turistici&nbsp; <b>€ 100</b><br/><br/><b>Riduzioni</b> non sono applicate nei mesi di Aprile e Maggio <br/><br/>La tariffa non comprende il prezzo di eventuali trasporti in auto, autobus, fuoristrada, cavallo, asino o altro mezzo diverso dalle proprie gambe, che restano a carico del cliente. Se necessario possono essere organizzate visite a bordo dei mezzi di trasporto summenzionati.
  {% endbox %}
  {% endcomment %}
{% endblock %}
