  {% extends "base.html" %}
  {% block title %}
  {% endblock %}
  {% block nav %}
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="navPath">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="navPath">Escursioni e Visite</a></span>
  </div>
  <div class="nav"><span class="enNav"><a href="trekking.html" class="nav">Escursioni e Trekking</a></span><span class="itNav"><a href="trekking.html" class="nav">Escursioni e Trekking</a></span>
  </div>
  <div class="nav"><span class="enNav"><a href="famiglia.html" class="nav">Trekking per Famiglie</a></span><span class="itNav"><a href="famiglia.html" class="nav">Trekking per Famiglie</a></span>
  </div>
  <div class="navSelf"><span class="enNav">Visite Guidate</span><span class="itNav">Visite Guidate</span>
  </div>
  <div class="nav"><span class="enNav"><a href="antropologia.html" class="nav">Trekking Rito Arboreo</a></span><span class="itNav"><a href="antropologia.html" class="nav">Trekking Rito Arboreo</a></span>
  </div>
  <div class="nav"><span class="enNav"><a href="mountainbike.html" class="nav">Mountain bike</a></span><span class="itNav"><a href="mountainbike.html" class="nav">Mountain bike</a></span>
  </div>
  <div class="nav"><span class="enNav"><a href="geologia.html" class="nav">Trekking Geologico</a></span><span class="itNav"><a href="geologia.html" class="nav">Trekking Geologico</a></span>
  </div>
  <div class="nav"><span class="enNav"><a href="maratea.html" class="nav">Maratea</a></span><span class="itNav"><a href="maratea.html" class="nav">Maratea</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="nav">Agriturismo</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../letture.html" class="nav">Letture</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
  </div>
  <div class="navLine"><br/></div>
  <div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
  </div>
  {% endblock %}
  {% block body %}
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>PRIMO GIORNO</h2>
  Arrivo in albergo e presentazione<br/>
  POMERIGGIO<br/>
  Breve visita al centro storico di Rotonda con panorama sulla Valle del Mercure e al Museo di storia naturale con i resti fossili dell&rsquo;elefante antico.
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>SECONDO GIORNO</h2>
  Colle del Dragone: vista dei Pini Loricati sul Timpone di Viggianello e Panorama sulle maggiori vette del Parco e sul Mar Ionio.<br/>
  Sosta al Piano di Ruggio: piccola escursione facoltativa al Belvedere di Ruggio con vista sui costoni rocciosi della Serra del Prete e sui Pini Loricati. Piano Ruggio &egrave; una delle localit&agrave; del Parco pi&ugrave; visitate, circondato da estese faggete.<br/>
  Fermata al punto panoramico di Colle Impiso: vista sul cuore del Massiccio con le cime pi&ugrave; elevate.<br/>
  Osservazione dei rapaci sulle praterie delle Serrette.<br/>
  Visita alla sorgente del Mercure e ai depositi di argilla del Lago Pleistocenico con conchiglie fossili.
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>TERZO GIORNO</h2>
  MATTINA<br/>
  Visita alla grotta del Romito. La Grotta del Romito conserva sepolture umane di 12.000 anni fa e un graffito raffigurante il Bue primigenio, considerata la pi&ugrave; bella espressione artistica di quel periodo<br/>
  Pranzo al sacco o al ristorante<br/>
  POMERIGGIO<br/>
  Visita al centro storico di Papasidero<br/>
  Si prosegue lungo la suggestiva gola del Lao fino alla costa tirrenica nei pressi di Scalea: bagno al tramonto.
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>QUARTO GIORNO</h2>
  Visita al centro storico medioevale di Rivello<br/>
  Eventuale escursione naturalistica nei dintorni di Maratea<br/>
  Visita al centro storico di&nbsp; Maratea<br/>
  Bagno in una suggestiva spiaggia della Costa di Maratea con attesa del tramonto.<br/>
  Pranzo al sacco o al ristorante<br/>
  Visita al centro storico di Tortora e al museo archeologico
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>QUINTO GIORNO</h2>
  MATTINA<br/>
  Breve escursione nei pressi del Santuario della Madonna del Pollino. Punto panoramico sul versante lucano del Parco Nazionale del Pollino<br/>
  Colazione al sacco o all&rsquo;Agriturismo &ldquo;La Garavina&rdquo;<br/>
  POMERIGGIO<br/>
  Visita alla Timpa di Pietrasasso e alla Timpa delle Murge. Si tratta di due enormi complessi rocciosi di origine lavica che conservano ancora l&rsquo;aspetto del momento in cui &egrave; avvenuta la solidificazione nelle profondit&agrave; oceaniche.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>SESTO GIORNO</h2>
MATTINA<br/>
Visita al belvedere di <span>Civita sul Canyon del Raganello:</span> uno degli scorci panoramici pi&ugrave; spettacolari del Parco, il fiume percorre 8 km incassato in una profondissima gola, con pareti rocciose strapiombanti per oltre 300 metri.<br/>
Visita al centro storico albanese di Civita: &egrave; uno dei paesi che conserva meglio le tradizioni culturali e religiose della madrepatria. Visita alla chiesa e al museo etnico.<br/>
Pranzo a Civita (al sacco o al ristorante tipico Kamastra).<br/>
POMERIGGIO<br/>
Visita a Morano Calabro, citt&agrave; dal passato florido, testimoniato dalla grandezza e dalla ricchezza di ornamenti e opere artistiche delle sue principali chiese. Panorama suggestivo sulla catena del Pollino. Sicuramente il pi&ugrave; bel paese del Parco.<br/>
In alternativa a Morano Calabro si pu&ograve; visitare il bellissimo Santuario delle Armi di Cerchiara di Calabria, &ldquo;incastonato&rdquo; in una parete rocciosa con panorama sul Mar Ionio.<br/>
Eventuale bagno sul Mar Ionio o alla sorgente di acqua sulfurea della Grotta delle Ninfe.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>SETTIMO GIORNO</h2>
Breve passeggiata al Centro storico abbandonato di Laino Castello e visita al centro storico di Laino Borgo e al Santuario delle Cappelle. <br/>
Breve passeggiata sulle sponde del fiume Lao nei pressi delle Gole omonime.<br/>
Partenza.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
 {% load call %}
 {% call "prenota_visita.html" %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Tariffe Escursioni Guidate nel Pollino e dintorni<br/></div>
Gruppi inferiori alle <b>7</b> persone <b>€ 20 </b>pro-capite<br/>Gruppi superiori<br/>Escursione guidata in alta montagna giornata intera <b>€ 150</b><br/>Gruppi scuola o tour turistici&nbsp; <b>€ 100</b><br/><br/><b>Riduzioni</b> non sono applicate nei mesi di Aprile e Maggio <br/><br/>La tariffa non comprende il prezzo di eventuali trasporti in auto, autobus, fuoristrada, cavallo, asino o altro mezzo diverso dalle proprie gambe, che restano a carico del cliente. Se necessario possono essere organizzate visite a bordo dei mezzi di trasporto summenzionati.
	</div>
{% endblock %}
