{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="maratea/mainColumnParagraphs/0/image/heeadwater_2_021.jpg" class="contentImage_left" alt=""/>
	<h2>1. IL REDENTORE: IL MARE DALL’ALTO</h2>
<p>Maratea Convento dei Cappuccini (300 m.) &THORN; Madonna delle Grazie &THORN; Madonna degli Ulivi &THORN; Vecchio centro storico abbandonato di Maratea &THORN; Basilica di San Biagio &THORN;Redentore&nbsp; &THORN;Santa Caterina &THORN;San Vito &THORN; Maratea (300 m) </p>
<p><b>Dislivello 323 m - </b><b>Tempo di percorrenza 2,5 ore - </b><b>Lunghezza Km 4,5 </b></p>
<p><b>ESCURSIONE FACILE</b></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>2. LA SECCA: PASSEGGIARE SUL MARE</h2>
<p>Punto panoramico Baia Caina &THORN; La Secca &THORN; Spiaggia della Grolla &THORN; foce del fiume Noce. </p>
<p><b>Dislivello 50 m - </b><b>Tempo di percorrenza 1 ora&nbsp;- </b><b>Km 2 </b></p>
<p><b>ESCURSIONE ADATTA A TUTTI </b></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>VOLANDO SU TRECCHINA</h2>
Trecchina &THORN; Cappella della Forraina &THORN; Santuario Della Madonna Del Soccorso &THORN; Serra Pollino<br/>
&nbsp;<span>Tempo di percorrenza - Km - Escursione facile</span>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
  {% load call %}
  {% call "prenota_visita.html" %}
{% endblock %}
