{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="navPath">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="navPath">Escursioni e Visite</a></span>
</div>
<div class="nav"><span class="enNav"><a href="trekking.html" class="nav">Escursioni e Trekking</a></span><span class="itNav"><a href="trekking.html" class="nav">Escursioni e Trekking</a></span>
</div>
<div class="nav"><span class="enNav"><a href="famiglia.html" class="nav">Trekking per Famiglie</a></span><span class="itNav"><a href="famiglia.html" class="nav">Trekking per Famiglie</a></span>
</div>
<div class="nav"><span class="enNav"><a href="gite.html" class="nav">Visite Guidate</a></span><span class="itNav"><a href="gite.html" class="nav">Visite Guidate</a></span>
</div>
<div class="nav"><span class="enNav"><a href="antropologia.html" class="nav">Trekking Rito Arboreo</a></span><span class="itNav"><a href="antropologia.html" class="nav">Trekking Rito Arboreo</a></span>
</div>
<div class="navSelf"><span class="enNav">Mountain bike</span><span class="itNav">Mountain bike</span>
</div>
<div class="nav2"><span class="enNav"><a href="mountainbike/itinerario.html" class="nav">Itinerario ciclistico</a></span><span class="itNav"><a href="mountainbike/itinerario.html" class="nav">Itinerario ciclistico</a></span>
</div>
<div class="nav2"><span class="enNav"><a href="mountainbike/eno-gastronomia.html" class="nav">itinerario gastronomico</a></span><span class="itNav"><a href="mountainbike/eno-gastronomia.html" class="nav">itinerario gastronomico</a></span>
</div>
<div class="nav2"><span class="enNav"><a href="mountainbike/turistico.html" class="nav">Itinerario turistico</a></span><span class="itNav"><a href="mountainbike/turistico.html" class="nav">Itinerario turistico</a></span>
</div>
<div class="nav"><span class="enNav"><a href="geologia.html" class="nav">Trekking Geologico</a></span><span class="itNav"><a href="geologia.html" class="nav">Trekking Geologico</a></span>
</div>
<div class="nav"><span class="enNav"><a href="maratea.html" class="nav">Maratea</a></span><span class="itNav"><a href="maratea.html" class="nav">Maratea</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Duna Rossa<br/>Una settimana in bici nel Parco del Pollino <br/>Descritta e raccontata da Pierangelo Tesoro<br/>12 - 18 Settembre 2004 </h2>
  <p>Alla scoperta delle tradizioni locali calabro-lucane pedalando, mangiando, camminando, conversando&hellip;</p>
  <p><b>Prima di partire </b></p>
  <p>Il Parco del Pollino abbraccia una vasta zona montuosa piuttosto selvaggia e poco popolata; in aggiunta a ci&ograve;, le poche indicazioni presenti sulle strade e la quasi assenza di sentieri segnalati possono mettere in difficolt&agrave; chi si avventura in quest&rsquo;area per fare percorsi escursionistici, senza avere delle cartine appropriate nonch&eacute; una giusta conoscenza delle tecniche di orientamento. Attenta lettura della carta e del terreno, forte spirito critico e capacit&agrave; di fare il punto (con l&rsquo;aiuto di un altimetro e di una bussola), sono fondamentali per non rischiare di perdersi in questi ambienti tanto belli quanto infidi.</p>
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>Informazioni generali e cartografia</h2>
  <p>Per chi non &egrave; sufficientemente preparato, si consiglia di contattare una delle tante disponibilissime e preparate <strong>Guide del Parco</strong>, prima di intraprendere percorsi escursionistici di una certa portata. </p>
  <p>Nel nostro caso, non siamo riusciti nell&rsquo;intento di recuperare a priori tutte le informazioni utili per pianificare al meglio la nostra settimana in bicicletta, ma forti delle nostre precedenti esperienze ciclo-escursionistiche itineranti, abbiamo ugualmente definito un percorso di massima, caratterizzato dai luoghi da visitare e dal tragitto da fare; una volta giunti poi sul posto, abbiamo sistemato meglio i dettagli grazie all&rsquo;aiuto di <strong>Peppe Cosenza</strong>, Guida del Parco, proprietario di quello che lui stesso definisce il <strong>pi&ugrave; piccolo agriturismo del mondo </strong><a href="agriturismo/asklepios.html">www.viaggiarenelpollino.com/agriturismo/asklepios</a>.</p>
  <p>Di seguito, si indicano alcune cartine essenziali per la programmazione e per l&rsquo;effettuazione in sicurezza di eventuali giri escursionistici impegnativi. </p>
  <p>Sia la &ldquo;Carta Escursionistica del Pollino Lucano&rdquo; di scala 1:50.000 che quella pi&ugrave; generale del &ldquo;Parco del Pollino&rdquo; sono reperibili tramite la &rdquo;Azienda di Promozione Turistica della Basilicata&rdquo; - tel.: 0971.22160 / 0971.411839; &ldquo;www.aptbasilicata.it&rdquo; con indirizzo e-mail&nbsp; <a href="mailto:info@aptbasilicata.it">info@aptbasilicata.it</a>. </p>
  <p>Altra cartina dettagliata che copre anche la parte calabra e&rsquo; quella del &ldquo;Parco
  Nazionale del Pollino&rdquo; di scala 1:55.000 ed. &ldquo;Il Coscile&rdquo; &ndash; tel.:
  0981.22632; &ldquo;www.ilcoscile.it&rdquo; &ndash; <a
  href="mailto:segreteria@ilcoscile.it">segreteria@ilcoscile.it</a>. </p>
  <p>Un&rsquo;altra bella cartina relativa agli itinerari escursionistici del versante sud-est del parco &eacute; quella realizzata dal Club Alpino Italiano Sezione di Castrovillari &ndash; tel.: 339.8446060 / 348.0010440 &ndash; &ldquo;www.caicastrovillari.it&rdquo;.</p>
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
  {% endblock %}
{% block right %}
 {% load call %}
 {% call "prenota_visita.html" %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Tariffe Escursioni Guidate nel Pollino e dintorni</div>
Tariffe da definire<br/>
	</div>
{% endblock %}
