{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Duna Rossa<br/>Una settimana in bici nel Parco del Pollino <br/>Descritta e raccontata da Pierangelo Tesoro<br/>12 - 18 Settembre 2004 </h2>
  <p>Alla scoperta delle tradizioni locali calabro-lucane pedalando, mangiando, camminando, conversando&hellip;</p>
  <p><b>Prima di partire </b></p>
  <p>Il Parco del Pollino abbraccia una vasta zona montuosa piuttosto selvaggia e poco popolata; in aggiunta a ci&ograve;, le poche indicazioni presenti sulle strade e la quasi assenza di sentieri segnalati possono mettere in difficolt&agrave; chi si avventura in quest&rsquo;area per fare percorsi escursionistici, senza avere delle cartine appropriate nonch&eacute; una giusta conoscenza delle tecniche di orientamento. Attenta lettura della carta e del terreno, forte spirito critico e capacit&agrave; di fare il punto (con l&rsquo;aiuto di un altimetro e di una bussola), sono fondamentali per non rischiare di perdersi in questi ambienti tanto belli quanto infidi.</p>
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
          <div style="clear:both;">
                          <div class="line"><br/></div>
          <h2>Informazioni generali e cartografia</h2>
  <p>Per chi non &egrave; sufficientemente preparato, si consiglia di contattare una delle tante disponibilissime e preparate <strong>Guide del Parco</strong>, prima di intraprendere percorsi escursionistici di una certa portata. </p>
  <p>Nel nostro caso, non siamo riusciti nell&rsquo;intento di recuperare a priori tutte le informazioni utili per pianificare al meglio la nostra settimana in bicicletta, ma forti delle nostre precedenti esperienze ciclo-escursionistiche itineranti, abbiamo ugualmente definito un percorso di massima, caratterizzato dai luoghi da visitare e dal tragitto da fare; una volta giunti poi sul posto, abbiamo sistemato meglio i dettagli grazie all&rsquo;aiuto di <strong>Peppe Cosenza</strong>, Guida del Parco, proprietario di quello che lui stesso definisce il <strong>pi&ugrave; piccolo agriturismo del mondo </strong><a href="agriturismo/asklepios.html">www.viaggiarenelpollino.com/agriturismo/asklepios</a>.</p>
  <p>Di seguito, si indicano alcune cartine essenziali per la programmazione e per l&rsquo;effettuazione in sicurezza di eventuali giri escursionistici impegnativi. </p>
  <p>Sia la &ldquo;Carta Escursionistica del Pollino Lucano&rdquo; di scala 1:50.000 che quella pi&ugrave; generale del &ldquo;Parco del Pollino&rdquo; sono reperibili tramite la &rdquo;Azienda di Promozione Turistica della Basilicata&rdquo; - tel.: 0971.22160 / 0971.411839; &ldquo;www.aptbasilicata.it&rdquo; con indirizzo e-mail&nbsp; <a href="mailto:info@aptbasilicata.it">info@aptbasilicata.it</a>. </p>
  <p>Altra cartina dettagliata che copre anche la parte calabra e&rsquo; quella del &ldquo;Parco
  Nazionale del Pollino&rdquo; di scala 1:55.000 ed. &ldquo;Il Coscile&rdquo; &ndash; tel.:
  0981.22632; &ldquo;www.ilcoscile.it&rdquo; &ndash; <a
  href="mailto:segreteria@ilcoscile.it">segreteria@ilcoscile.it</a>. </p>
  <p>Un&rsquo;altra bella cartina relativa agli itinerari escursionistici del versante sud-est del parco &eacute; quella realizzata dal Club Alpino Italiano Sezione di Castrovillari &ndash; tel.: 339.8446060 / 348.0010440 &ndash; &ldquo;www.caicastrovillari.it&rdquo;.</p>
          </div>
          <div style="clear:both;">
                          <br/><br/>
          </div>
  {% endblock %}
{% block right %}
 {% load call %}
 {% call "prenota_visita.html" %}
 <!-- TODO(robcos) inserire tarifffe mountain bike -->
 <!-- 
	<div style="clear:both;">
		<div class="rightColumnTitle">Tariffe Escursioni Guidate nel Pollino e dintorni</div>
Tariffe da definire<br/>
	</div>
  -->
{% endblock %}
