{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Escursioni nel Pollino</h2>
<p><a target="_blank" href="http://www.flickr.com/photos/22306268@N06/collections/72157603897820345/"></a></p>
<p><strong><a target="_blank" href="http://www.flickr.com/photos/22306268@N06/sets/72157604166088729/">BOOK FOTOGRAFICO</a><br/>
</strong></p>
<p><strong>1. IMMERSI NELLE FAGGETE DELLA COPPOLA DI PAOLA</strong></p>
<p><strong>2. LA SERRA DELLE CIAVOLE: IL CIMITERO DEI PINI LORICATI </strong></p>
<p><strong>3. LA SERRA DI CRISPO: IL GIARDINO DEGLI DEI </strong></p>
<p><strong>4. LA SERRA DELLE PIETRE </strong></p>
<p><strong>5. PERIPLO DI PIANO RUGGIO </strong></p>
<p><strong>6. I PATRIARCHI DEL POLLINO </strong></p>
<p><strong>7. DOLCEDORME: IL TETTO DEL MEZZOGGIORNO </strong></p>
<p><strong>8. LE VIE DEI BOSCAIOLI </strong></p>
<p><strong>9. LA FALCONARA </strong></p>
<p><strong>10. SUL FONDO DELLA TETIDE </strong></p>
<p><strong>11. GOLE DEL LAO: UN VIAGGIO NEL TEMPO 1 </strong></p>
<p><strong>12. LAINO: UN VIAGGIO NEL TEMPO 2 </strong></p>
<p><strong>13. A &ldquo;VOLO D&rsquo;UCCELLO&rdquo; SULLA VALLE DEL MERCURE</strong></p>
<p><strong>14. PINO LORICATO &ldquo;ALLA SPINA&rdquo;</strong></p>
<p><strong>15. FIUME PESCHIERA</strong></p>
<p><strong>16. ORRIDO DEL RAGANELLO: DISCESA AL PONTE DEL DIAVOLO</strong></p>
<p><strong>17. MORANO CALABRO LUNGO LA FERROVIA</strong></p>
<p><strong>18. LA VIA DELLA ROCCA</strong></p>
<p>&nbsp;</p>
<p>Tutti gli itinerari sono studiati e proposti dalla Guida Ufficiale <a href="/contatti.html">Giuseppe Cosenza</a> se non indicato diversamente.</p>
<p>Per approfondire o stampare il testo apri la versione <a target="escursioni pollino da stampare" href="trekking/trekking.html">stampabile<br/>
</a></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="/escursioni/trekking/mainColumnParagraphs/01/image/coppola_di_paola.jpg" class="contentImage_left" alt=""/>
	<h2>1. IMMERSI NELLE FAGGETE DELLA COPPOLA DI PAOLA</h2>
<p><a  href="http://it.youtube.com/watch?v=KWt7kSB-E4s" target="_blank">VIDEO</a><br/>
</p>
<p><br/>
</p>
<p>Piano Pedarreto (m 1350) &THORN; Timpa dell&rsquo;Orso &THORN; Cozzo Ferriero (m 1805) &THORN; Coppola di Paola (m 1919) &THORN; Colle del Dragone (m 1606) &THORN; Sorgente della Caballa (m 1540) &THORN; Piano Ruggio (m 1535) &THORN; Piano Pedarreto (m 1350) </p>
<p><b>Dislivello: 569 m - </b><b>Tempo di percorrenza </b><b>5&nbsp;h&nbsp;- </b><b>Km 9</b></p>
<p><b>ESCURSIONE MEDIA</b></p>
<p>&nbsp;</p>
<p>Vuoi saperne di pi&ugrave;? <strong><a href="/trekking/trekking.html" target="stampabile">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/01/image/serra_delle_ciavole_008.jpg" class="contentImage_right" alt=""/>
	<h2>2. LA SERRA DELLE CIAVOLE: IL CIMITERO DEI PINI LORICATI</h2>
<p>Colle dell&rsquo;Impiso (m 1573) &THORN; Piani di Vacquarro (m 1525) &THORN; Piani di Toscano (m 1800) &THORN; Fontana degli Scifi (m 1850)&THORN; Serra delle Ciavole sud (m 2127) &THORN; S. d. Ciavole Nord (m 2130) &THORN; Sorgente alta del Frido (m 1965) &THORN; Balconata del Pollino &THORN; Piani di Toscano (m 1800) &THORN; Piani di Vacquarro (m 1525) &THORN; Colle dell&rsquo;Impiso (m 1573) </p>
<p><b>Dislivello: 653 - </b><b>Tempo di percorrenza 6 - </b><b>Km </b><b>13 </b></p>
<p><b>ESCURSIONE MEDIA</b></p>
<p>Vuoi saperne di pi&ugrave;? <strong><a href="trekking/trekking.html" target="stampabile">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/02/image/serracrispo_web.jpg" class="contentImage_left" alt=""/>
	<h2>3. LA SERRA DI CRISPO: IL GIARDINO DEGLI DEI</h2>
<p><a href="http://www.flickr.com/photos/22306268@N06/sets/72157603952238078/" target="_blank">FOTO</a><br/>
</p>
<p>Localit&agrave; Lago Duglia (m. 1.375) &THORN; Lago Fondo (m.1508) &THORN; Pietra Castello (m. 1671) &THORN; Grande Porta del Pollino (m 1957) &THORN; Serretta della Porticella (m 2000) &THORN; Serra di Crispo &THORN; (m. 2053) &THORN; Piano Jannace&nbsp; (m 1650) &THORN; Santuario della Madonna di Pollino (m 1537) &THORN; Fosso Jannace&nbsp; (m 1250)</p>
<p><strong>Dislivello: 678 in salita, 803 m in discesa - Tempo di percorrenza 6,5 h - Km 12 </strong></p>
<p><strong>ESCURSIONE MEDIA</strong></p>
<p>Vuoi saperne di pi&ugrave;? <strong><a target="stampabile" href="trekking/trekking.html">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/017/image/2276458607_16bfd39d29_m.jpg" class="contentImage_right" alt=""/>
	<h2>4. LA SERRA DELLE PIETRE</h2>
Rifugio De Gasperi Piano Ruggio (m 1535) &THORN; Belvedere di Ruggio (1550) &THORN; Serra del Prete (m 2180) &THORN; Ritorno per la stessa via<br/>
<br/>
 Dislivello: 645 m<br /> Tempo di percorrenza 5 ore<br /> Km 8<br /> ESCURSIONE FACILE - E
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/04/image/2277226578_7f146dc016_m.jpg" class="contentImage_left" alt=""/>
	<h2>5. PERIPLO DI PIANO RUGGIO</h2>
<p><a href="http://www.flickr.com/photos/22306268@N06/sets/72157603988573489/" target="_blank">FOTO</a><br/>
</p>
<p>Rifugio De Gasperi Piano Ruggio (m 1535)&nbsp; &THORN; Colle del Dragone (m 1606) &THORN; Sorgente della Cavalla (m 1540) &THORN; Sorgente di Ruggio (1572 m) &THORN; Vallone di Malevento &THORN; Belvedere di Ruggio (1575)&nbsp; &THORN; Piano Ruggio (1512 m)&THORN; Rifugio De Gasperi (m 1535) </p>
<p><b>Dislivello 129 m </b><b>Tempo di percorrenza </b><b>3 ore </b><b>Km 7 </b></p>
<p><b>ESCURSIONE ADATTA A TUTTI</b> </p>
<p>&nbsp;</p>
<p>Vuoi saperne di pi&ugrave;? <strong><a target="stampabile" href="trekking/trekking.html">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/05/image/monte_pollino.jpg" class="contentImage_right" alt=""/>
	<h2>6. I PATRIARCHI DEL POLLINO</h2>
<p><a href="http://www.flickr.com/photos/22306268@N06/sets/72157603983659162/" target="_blank">FOTO</a><br/>
</p>
<p>Colle Impiso (m 1573) &THORN; Piani di Vacquarro (m 1525) &THORN; Piano Gaudolino (m 1684) &THORN; Dolina del Pollino (m 1975) &THORN; Monte Pollino (m 2248) &THORN; Patriarchi &THORN; Bosco Pollinello (m 1820) &THORN; Piano Gaudolino (m 1684) &THORN; Colle Impiso (m 1573) </p>
<p><b>Dislivello: 771 m - </b><b>Tempo di percorrenza 6,5 ore - </b><b>Km 14 </b></p>
<p><b>ESCURSIONE MEDIA</b> </p>
<p>&nbsp;</p>
<p>Vuoi saperne di pi&ugrave;? <strong><a target="stampabile" href="trekking/trekking.html">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/06/image/dolcedorme145.jpg" class="contentImage_left" alt=""/>
	<h2>7. DOLCEDORME: IL TETTO DEL MEZZOGGIORNO</h2>
<p><a href="http://www.flickr.com/photos/22306268@N06/sets/72157603948280326/" target="_blank" >FOTO</a><br/>
</p>
<p>Colle Impiso (m 1573) &THORN; Piani di Vacquarro (m 1525)&nbsp; &THORN; Piano di Toscano (m 1800)&nbsp; &THORN; Piano di Pollino (m 1803)&nbsp; &THORN; Sella Dolcedorme (m 1970) &THORN; Serra Dolcedorme (m 2266) &THORN;&nbsp; Passo delle Ciavole (m 1872) &THORN; Piano di Pollino (m 1803)&nbsp; &THORN; Piano di Toscano (m 1800) &THORN; Colle Impiso (m 1573)&nbsp;</p>
<p><b>Dislivello: 789 m - </b><b>Tempo di percorrenza 6 ore -</b>&nbsp;<b>Km 15 </b></p>
<p><b>ESCURSIONE DIFFICILE</b></p>
<p>Vuoi saperne di pi&ugrave;? <strong><a href="trekking/trekking.html" target="stampabile">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/07/image/2175907028_530ef9d8e9_m.jpg" class="contentImage_right" alt=""/>
	<h2>8. LE VIE DEI BOSCAIOLI</h2>
<p><a href="http://www.flickr.com/photos/22306268@N06/sets/72157603866926548/" target="_blank">FOTO</a><br/>
</p>
<p>Sorgente Jannace Serra (m 800) &THORN; Piano Lordicheto (m 1175)&THORN; Piano Marolo (m 1425) &THORN;&nbsp; Sorgente di Jermite (m 1300) &THORN; Fosso Sambucoso &THORN; Zircoli (m 839)&THORN; Sorgente Jannace Serra (m 800)&nbsp; </p>
<p><b>Dislivello 625 m - </b><b>Tempo di percorrenza 6 ore - </b><b>Km 11 </b></p>
<p><b>ESCURSIONE MEDIA</b> </p>
<p>&nbsp;</p>
<p>Vuoi saperne di pi&ugrave;? <strong><a target="stampabile" href="trekking/trekking.html">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/08/image/falconara.jpg" class="contentImage_left" alt=""/>
	<h2>9. LA FALCONARA</h2>
<p><a href="http://it.youtube.com/watch?v=teLszJ5669E">VIDEO</a><br/>
</p>
<p>Lago Duglia (m. 1375) &THORN; Piano Cardone (m. 1575) &THORN; Piano della Jumenta &THORN; Toppo Vuturo (m. 1625) &THORN; Colle Falconara (m. 1475) &THORN; Falconara (m. 1656) &THORN; Colle Falconara (m. 1475) &THORN; Casino Guaragna (m. 1500) &THORN; Rifugio Segheria (m. 1372) </p>
<p>&nbsp;<b>Dislivello: 456 in salita</b> - <b>Tempo di percorrenza 6 ore - </b><b>Km 8</b></p>
<p><b>ESCURSIONE MEDIA</b> </p>
<p>&nbsp;</p>
<p>Vuoi saperne di pi&ugrave;? <strong><a target="stampabile" href="trekking/trekking.html">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/09/image/pietrasasso.jpg" class="contentImage_right" alt=""/>
	<h2>10. PIETRASASSO: SUL FONDO DELLA TETIDE</h2>
<p><a href="http://it.youtube.com/watch?v=MaStGgIgLAc" target="_blank">VIDEO</a><br/>
</p>
<p><br/>
</p>
<p>Casa del Conte (m. 1100) &THORN; Timpa delle Murge (m. 1441) &THORN; Sorgente Catusa (m. 1280) &THORN; Timpa di Pietrasasso (m.1350) &THORN;&nbsp; Terranova di Pollino&nbsp;<br/>
</p>
<p><b>Dislivello: 441 - </b><b>Tempo di percorrenza 5 ore - </b><b>Km 8,5 </b></p>
<p><b>ESCURSIONE FACILE</b></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/010/image/laino_castello.jpg" class="contentImage_left" alt=""/>
	<h2>11. GOLE DEL LAO: UN VIAGGIO NEL TEMPO 1</h2>
<p>Laino Castello Madonna degli Scolari (m 534)&THORN; Laino Castello Centro storico abbandonato (m 474) &THORN; Ponte Filannino (m 194) &THORN; Ponte Campicello (m 200) &THORN; Grotta del Romito (m 275) Dislivello 260 </p>
<p><b>Tempo di percorrenza </b><b>3,5 ore - </b><b>Km 9</b></p>
<p><b>ESCURSIONE ADATTA A TUTTI</b></p>
<p>Vuoi saperne di pi&ugrave;? <strong><a href="trekking/trekking.html" target="stampabile">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/011/image/2176051054_f505b7684d_m.jpg" class="contentImage_right" alt=""/>
	<h2>12. LAINO: UN VIAGGIO NEL TEMPO 2</h2>
<p>Stazione FCL San Primo &THORN; Laino Borgo (m 280) &THORN; Gole del Lao (m 270) &THORN; Laino Borgo (m 280)&nbsp; &THORN; Santuario delle Cappelle (425 m) </p>
<p><b>Dislivello 200 m in salita m&nbsp; 48 in discesa - </b><b>Tempo di percorrenza 3,5 ore - </b><b>Km 9</b></p>
<p><b>&nbsp;ESCURSIONE ADATTA A TUTTI</b></p>
<p>Vuoi saperne di pi&ugrave;? <strong><a target="stampabile" href="trekking/trekking.html">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/012/image/2522411352_f51ed99902_m.jpg" class="contentImage_left" alt=""/>
	<h2>In preparazione<br/>13. A “VOLO D’UCCELLO” SULLA VALLE DEL MERCURE</h2>
<p>Piano Pedarretto (m1327) &THORN;&nbsp; Serra di Mauro (m1579) &THORN; Viggianello (m 549)</p>
<p><b>Dislivello circa 1030 - </b><b>Tempo di percorrenza ??? - </b><b>Km 8 </b></p>
<p><b>ESCURSIONE MEDIA-DIFFICILE</b> </p>
<p>&nbsp;</p>
<p>Vuoi saperne di pi&ugrave;? <strong><a target="stampabile" href="trekking/trekking.html">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/013/image/2280845854_b81d1cb749_m.jpg" class="contentImage_right" alt=""/>
	<h2>15. PINO LORICATO “ALLA SPINA”</h2>
<p>Santuario Della Madonna del Soccorso (1103 m) &THORN; Conca Scotella (1329 m) &THORN; Monte Capillo (1399 m) &THORN; Monte La Spina (1642 m) </p>
<p>&nbsp;</p>
<p><strong>Dislivello 500 - </strong><strong>Tempo di percorrenza 5 ore - </strong><strong>Km 10</strong></p>
<p><strong>ESCURSIONE IMPEGNATIVA</strong></p>
<p>Vuoi saperne di pi&ugrave;? <strong><a href="trekking/trekking.html" target="stampabile">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/014/image/2175699902_9fdbb7fa34_m.jpg" class="contentImage_left" alt=""/>
	<h2>16.FIUME PESCHIERA: IL REGNO DELLA LONTRA</h2>
<p>Taverna Magnano (640 m)) &THORN; risalita del corso del Torrente Peschiera &THORN; recinto del cervo&nbsp; &THORN;Fonte della Principessa &THORN; Taverna Magnano (640 m)<br/>
<strong>Dislivello 259 - Tempo di percorrenza 4 ore -&nbsp;Km 8<br/>
ESCURSIONE FACILE - E</strong></p>
<p>Vuoi saperne di pi&ugrave;? <strong><a href="trekking/trekking.html" target="stampabile">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="trekking/mainColumnParagraphs/015/image/2175147753_795f8cf3fb_m.jpg" class="contentImage_right" alt=""/>
	<h2>17. ORRIDO DEL RAGANELLO: DISCESA AL PONTE DEL DIAVOLO</h2>
<a href="http://www.flickr.com/photos/22306268@N06/sets/72157603991611258/" target="_blank">FOTO</a><br/>
<br/>
Escurione disponibile con diverse varianti. Si percorre panoramicamente la la Gola del Raganello fino al Ponte del Diavolo e si raggiunge il centro storico di Civita, comunit&agrave; Arbereshe.<br/>
tempo percorrenza, dislivello e difficolt&agrave; variabili<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="/escursioni/trekking/mainColumnParagraphs/016/image/morano_ferrovia.jpg" class="contentImage_left" alt=""/>
	<h2>18. MORANO CALABRO E LA FERROVIA</h2>
<a target="_blank" href="http://www.flickr.com/photos/22306268@N06/sets/72157603981046398/">FOTO<br/>
</a><br/>
Trekking urbano nel centro storico di Morano Calabro, si prosegue per Campotenese lungo la Dirupata, percorrendo la Ferrovia dismessa Calabro-Lucana fino ai luoghi della battaglia del 9 marzo 1809.<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>4. La Via della Rocca</h2>
<p>Colle dell&rsquo;Impiso (m 1573) &THORN; Vacquarro (m 1475) &THORN; Cresta del Conocchiello (m&nbsp; 1650) &THORN; Piano Jannace (m 1646) &THORN; i &ldquo;Monumenti&rdquo; &THORN; Bosco di Cugno dell&rsquo;Acero &THORN; Rueping &THORN; Pietra Castello (m 1671)&nbsp; &THORN; Lago Fondo (m.1508)&nbsp; &THORN; Lago Duglia (m. 1.375) </p>
<p><strong>Dislivello: 200 m in salita 398 in discesa - Tempo di percorrenza - </strong><strong>5 ore</strong></p>
<p><strong>ESCURSIONE FACILE</strong></p>
<p>Vuoi saperne di pi&ugrave;? <strong><a href="trekking/trekking.html" target="stampabile">approfondisci</a></strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
 {% load call %}
 {% call "prenota_visita.html" %}
{% endblock %}
