{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Novità</h2>
<br/>
TRITO DI PEPERONCINO PICCANTE IN OLIO EXTRA-VERGINE DI OLIVA<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/010/image/melanzanarossaliooliva.jpg" class="contentImage_left" alt=""/>
	<h2>Melanzana Rossa in Olio Extravergine di Oliva</h2>
Vasetto da 290 g<br/>
<br/>
Ingredienti<br/>
Melanzana Rossa di Rotonda DOP<br/>
Olio Extravergine di Oliva<br/>
Aceto<br/>
Aglio<br/>
Sale<br/>
Menta selvatica<br/>
Origano selvatico<br/>
<br/>
<br/>
Vedi scheda <a href="/prodotti_tipici/agricoli/melanzana_rossa.html.html">Melanzana Rossa</a><br/>
<br />Prezzo al pubblico &euro; 6,00</a><br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/011/image/zucchinascapece.jpg" class="contentImage_left" alt=""/>
	<h2>Zucchina a Scapice</h2>
Vasetto da 290 g<br/>
<br/>
<br/>
Ingredienti<br/>
Zucchine<br/>
Olio di semi di girasole<br/>
Aceto<br/>
Aglio<br/>
Sale<br/>
Menta selvatica<br/>
origano selvatico<br/>
<br/>
<br/>
Prezzo al pubblico &euro; 5,00<br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/00/image/cremamelanzane.jpg" class="contentImage_left" alt=""/>
	<h2>Crema di Melanzane Rosse di Rotonda</h2>
Vasetto da 200 g<span><br/>
<br/>
Ingredienti</span><br/>
Melanzana Rossa di Rotonda DOP<br/>
Olio Extravergine di Oliva<br/>
Sale<br/>
Aglio<br/>
Correttore di Acidit&agrave;: Acido lattico<br/>
<br/>
<br/>
Vedi scheda <a href="/prodotti_tipici/agricoli/melanzana_rossa.html">Melanzana Rossa</a><br/>
<br/>
Prezzo al pubblico &euro; 5,00<br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Pomodoro verde in Olio Extra-Vergine di Oliva</h2>
NOVITA!<br/>
<br/>
Vasetto da 290 g<br/>
<br/>
Ingredienti<br/>
Pomodoro verde lungo<br/>
Olio Extravergine di Oliva<br/>
Aceto<br/>
Aglio<br/>
Sale<br/>
<br/>
<br />Prezzo al pubblico &euro; 5,00<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/06/image/fagiolopoverellobianco.jpg" class="contentImage_left" alt=""/>
	<h2>Fagiolo Poverello Bianco</h2>
Sacchetti da 500 g<br/>
<br/>
<br/>
Vedi scheda <a href="/prodotti_tipici/agricoli/fagioli.html">Fagioli di Rotonda</a><br/>
<br/>
<br/>
Prezzo al pubblico &euro; 6,00<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/0/image/fagiolobianco.jpg" class="contentImage_left" alt=""/>
	<h2>Fagiolo Bianco di Rotonda</h2>
Sacchetti da 500 g<br/>
<br/>
<br/>
Vedi scheda <a href="/prodotti_tipici/agricoli/fagioli.html">Fagioli di Rotonda</a><br/>
<br/>
<span><br/>
<br/>
Prezzo </span>al pubblico &euro; 5,50<br/>
<br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/01/image/fagiolocastelluccisa.jpg" class="contentImage_left" alt=""/>
	<h2>Fagiolo Castelluccisa</h2>
Sacchetti da 500 g<br/>
<br/>
<br/>
Vedi scheda <a href="/prodotti_tipici/agricoli/fagioli.html">Fagioli di Rotonda</a><br/>
<br/>
<br/>
 Prezzo al pubblico &euro; 5,00<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/03/image/fagiolomarrozzo.jpg" class="contentImage_left" alt=""/>
	<h2>Fagiolo "a Marrozzo"</h2>
Sacchetti da 500 g<br/>
<br/>
<br/>
Vedi scheda <a href="/prodotti_tipici/agricoli/fagioli.html">Fagioli di Rotonda</a><br/>
<br/>
<br/>
 Prezzo al pubblico &euro; 5,00<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/04/image/fagioloocchiodibue.jpg" class="contentImage_left" alt=""/>
	<h2>Fagiolo Occhio di Bue</h2>
Sacchetti da 500 g<br/>
<br/>
<br/>
Vedi scheda <a href="/prodotti_tipici/agricoli/fagioli.html">Fagioli di Rotonda</a><br/>
<br/>
<br/>
<br/>
<br/>
 Prezzo al pubblico &euro; 5,00</a>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/05/image/fagiolopandascheddra.jpg" class="contentImage_left" alt=""/>
	<h2>Fagiolo Pandascheddra</h2>
Sacchetti da 500 g<br/>
<br/>
<br/>
Vedi scheda <a href="/prodotti_tipici/agricoli/fagioli.html">Fagioli di Rotonda</a><br/>
<br/>
<br/>
<br/>
 Prezzo al pubblico &euro; 5,00
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="confezionati/mainColumnParagraphs/08/image/fagiolozavicenza.jpg" class="contentImage_left" alt=""/>
	<h2>Fagiolo "Za Vicenza"</h2>
Sacchetti da 500 g<br/>
<br/>
<br/>
Vedi scheda <a href="/prodotti_tipici/agricoli/fagioli.html">Fagioli di Rotonda</a><br/>
<br/>
<br/>
NON DISPONIBILE<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">INFO ACQUISTI</div>
Per acquisti scrivere a <a href="/contatti.html">Contatti</a><br/>Telefono <b><br/>0973.669290</b> - <b>347.2631462<br/></b>Ore ufficio dalle 14 alle 20
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">DOVE ACQUISTARE IN NOSTRI PRODOTTI NELLA VOSTRA CITTA'</div>
<b>Atena Lucana (SA)<br/><br/>Bari<br/><br/>Battipaglia (SA)<br/><br/>Castrovillari (CS)<br/><br/>Cosenza<br/><br/>Lagonegro (PZ)<br/><br/>Lauria (PZ)<br/><br/>Latronico (PZ)<br/><br/>Matera <br/><br/>Maratea (PZ)<br/><br/>Padula (SA)<br/><br/>Potenza<br/><br/>Roma<br/><br/>Rotonda (PZ)<br/></b>Flavia de Marco<br/><br/><b>Salerno<br/><br/>Taranto<br/>&nbsp;<br/>Torino<br/><br/>Venosa (PZ)</b>
	</div>
{% endblock %}
