{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="fagioli/mainColumnParagraphs/06/image/fagioli_misto_web.jpg" class="contentImage_right" alt=""/>
L'azienda Agricola Attadia coltiva ben 7 ecotipi locali, unici in Italia<br/>
<br/>
<p>1. Poverello Bianco</p>
<p>2. Castelluccisa</p>
<p>3. Occhio di Bue</p>
<p>4. Marrozzo</p>
<p>5. Pantaschedda</p>
<p>6. Fagiolo Bianco di Rotonda</p>
<p>7. Za Vicenza</p>
<p><br/>
</p>
<p><br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="fagioli/mainColumnParagraphs/0/image/povereddro_web.jpg" class="contentImage_left" alt=""/>
	<h2>Povereddro Bianco</h2>
<p>Il Poverello Bianco di Rotonda</p>
<p>Piccolo Fagiolo, di colore bianco panna, uniforme,&nbsp;dal sapore delicato. Ecotipo raro ed unico a Rotonda</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="fagioli/mainColumnParagraphs/00/image/castelluccisa_web.jpg" class="contentImage_right" alt=""/>
	<h2>Castelluccisa</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="fagioli/mainColumnParagraphs/01/image/fagiolo_occhio_di_bue_web.jpg" class="contentImage_left" alt=""/>
	<h2>Occhio di Bue</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="fagioli/mainColumnParagraphs/02/image/marrozzoweb.jpg" class="contentImage_right" alt=""/>
	<h2>Marrozzo</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="fagioli/mainColumnParagraphs/03/image/pantascheddra_web.jpg" class="contentImage_left" alt=""/>
	<h2>Pantascheddra</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="fagioli/mainColumnParagraphs/04/image/bianco_web.jpg" class="contentImage_right" alt=""/>
	<h2>Fagiolo Bianco</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="fagioli/mainColumnParagraphs/05/image/zavicenza_web.jpg" class="contentImage_left" alt=""/>
	<h2>Za Vicenza</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
  {% load call %}
  {% call "prenota_visita.html" %}
{% endblock %}
