{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="melanzana_rossa/mainColumnParagraphs/0/image/melanzana_rossa.jpg" class="contentImage_left" alt=""/>
	<h2>Melanzana Rossa di Rotonda DOP</h2>
La <a href="http://viaggiarenelpollino.com/prodotti/agricoli/melanzana_rossa">Melanzana Rossa di Rotonda</a> (<em>Solanum aethiopicum), </em>detta localmente <strong>&quot;Merlingiana a Pummadora&quot;</strong> per la sua somiglianza con il pomodoro &egrave; coltivata unicamente a Rotonda.
<p>Di origine africana &egrave; stata importanta alla fine del XIX secolo da Rotondesi di ritorno dall'Etiopia al tempo dell'avventura coloniale&nbsp;italiana.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="melanzana_rossa/mainColumnParagraphs/00/image/melanzanarossaliooliva.jpg" class="contentImage_left" alt=""/>
&nbsp;
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="melanzana_rossa/mainColumnParagraphs/01/image/melanzanaoliogirasole.jpg" class="contentImage_left" alt=""/>
&nbsp;
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
  {% load call %}
  {% call "info.html" %}
{% endblock %}
