{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>PRODOTTI FRESCHI 2008</h2>
POMODORO LUNGO<br/>
POMODORO COSTOLUTO<br/>
PEPERONE CORTO ROGGIANESE - &quot;SALVATORE&quot;<br/>
MELANZANA ROSSA DI ROTONDA DOP<br/>
FAGIOLO BIANCO<br/>
FAGIOLINI PIATTI VERDI - &quot;VAJANA&quot;<br/>
FAGIOLO BORLOTTO<br/>
FAGIOLO BIANCO DOP<br/>
FAGIOLO BIANCO POVERELLO DOP<br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="ortaggi/mainColumnParagraphs/00/image/peperoni.jpg" class="contentImage_right" alt=""/>
	<h2>PEPERONI</h2>
&nbsp;PEPERONE CORTO ROGGIANESE - &quot;SALVATORE&quot;<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="ortaggi/mainColumnParagraphs/0/image/aglio.jpg" class="contentImage_left" alt=""/>
	<h2>AGLIO</h2>
<br/>
<br/>
<br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">INFO ACQUISTI</div>
Per acquisti scrivere a <a href="/contatti.html">Contatti</a><br/>Telefono <b><br/>0973.669290</b> - <b>347.2631462<br/></b>Ore ufficio dalle 14 alle 20
	</div>
{% endblock %}
