{% load box %}
{% smallbox Galleria Fotografica  %}
<iframe scrolling="no" height="200" frameborder="0" width="205" src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=+(Agriturismo+Asklepios)&amp;sll=39.93651,16.033194&amp;sspn=0.008638,0.018368&amp;g=Frazione+Barone&amp;ie=UTF8&amp;ll=39.946266,16.037035&amp;spn=0.017275,0.036736&amp;z=14&amp;iwloc=A&amp;cid=5669464976826613994&amp;output=embed" marginwidth="0" marginheight="0"></iframe><br/>
<small><a style="color: rgb(0, 0, 255); text-align: left;" href="http://maps.google.it/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=+(Agriturismo+Asklepios)&amp;sll=39.93651,16.033194&amp;sspn=0.008638,0.018368&amp;g=Frazione+Barone&amp;ie=UTF8&amp;ll=39.946266,16.037035&amp;spn=0.017275,0.036736&amp;z=14&amp;iwloc=A&amp;cid=5669464976826613994">Visualizzazione ingrandita della mappa</a></small>
{% endbox %}
