{% load box %}
{% smallbox Galleria Fotografica  %}
<object width="205" height="154">
<param name="flashvars" value="offsite=true&lang=it_IT&page_show_url=%2Fphotos%2Fpollino%2Fsets%2F{{set_id}}%2Fshow%2F&set_id={{set_id}}&jump_to="></param>
<param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param><param name="allowFullScreen" value="true"></param>
<embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true"
    flashvars="offsite=true&lang=it_IT&page_show_url=%2Fphotos%2Fpollino%2Fsets%2F{{set_id}}%2Fshow%2F&set_id={{set_id}}&jump_to=" width="205" height="154"></embed></object>
{% endbox %}
