{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="navPath">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="navPath">Asino chi legge!</a></span>
</div>
<div class="nav"><span class="enNav"><a href="allevamento.html" class="nav">Allevamento</a></span><span class="itNav"><a href="allevamento.html" class="nav">Allevamento</a></span>
</div>
<div class="navSelf"><span class="enNav">Latte</span><span class="itNav">Latte</span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="latte_asina/mainColumnParagraphs/0/image/asinosagittario.jpg" class="contentImage_left" alt=""/>
	<h2>Cos'è il latte di Asina?</h2>
<p>Il latte di Asina &egrave; un latte speciale prodotto in allevamenti di asino specializzati. Il latte di Asina &egrave; un alimento per neonati o per persone con elevato grado di intollerabilit&agrave; verso il latte vaccino o di altri animali.</p>
<p>L'Azienda Sagittario, situata nel comune di Lauria, alle pendici del Monte La Spina &quot;all'ombra&quot; dei Pini Loricati &egrave; una nuova realt&agrave; produttiva di questo prodotto, una delle prime Nel Sud Italia e sicuramente l'unica in Basilicata.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Proprietà del Latte d'Asina</h2>
Il latte di asina ideale per i bambini allergici al latte di mucca; lo dimostra una ricerca condotta dall&rsquo;Istituto di Scienze delle Produzioni Alimentari, sezione di Torino del Consiglio Nazionale delle Ricerche.<br/>
&ldquo;Cio che rende cos&igrave; ben tollerato questo latte &egrave; la sua grande somiglianza con quello umano&rdquo; (Amedeo Conti I.s.p.a. C.N.R.)<br/>
Il Latte di asina ha, inoltre, un contenuto di acidi polinsaturi del tutto simile a quello materno ed &egrave; molto ricco di lisozima, una proteina caratterizzata da elevata propriet&agrave; antibatterica, in grado di proteggere il neonato da possibili patologie.<br/>
&ldquo;Anche il rapporto calcio-fosforo e il contenuto proteico totale sono simili a quello umano&rdquo; (Amedeo Conti&nbsp; I.s.p.a. &ndash; C.N.R.)<br/>
Il latte Sagittario &egrave; prodotto esclusivamente da soggetti allevati nella omonima azienda, sottoposti a sistematici controlli igienico-sanitari.<br/>
Nessun artificio viene usato per provocare una lattazione pi&ugrave; abbondante.<br/>
Sagittario dedica massima attenzione ad ogni elemento capace di influenzare la buona salute dei suoi animali e quindi la produzione di latte della migliore qualit&agrave;.<br/>
Sagittario offre ai suoi equidi vasti pascoli incontaminati, stabulazione idonea a garantire le migliori condizioni igieniche, alimentazione esclusivamente vegetale con prodotti ottenuti senza uso di concimi chimici.<br/>
Il sistema di mungitura meccanica, la sterilizzazione dei contenitori e degli ambienti costituiscono una indispensabile garanzia di igiene.<br/>
L&rsquo;azienda Sagittario s.r.l. produce e vende latte di asina intero, prodotto e pastorizzato nella propria sede sita in Contrada Cerase di Lauria (PZ).<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Come comprare il LATTE DI ASINA</h2>
<p>Il latte pu&ograve; essere <strong>consegnato</strong> in qualsiasi localit&agrave; italiana.<br/>
Il costo di un litro di latte &egrave; di <strong>15 euro</strong> al litro + le spese di consegna.<br/>
</p>
<p>E&rsquo; consigliabile un ordine <strong>minimo di 15 litri</strong>, sufficiente per circa un mese di lattazione.<br/>
Il latte pu&ograve; essere conservato in frigo.</p>
<p><br/>
</p>
<p>Contattateci usando l'apposito&nbsp;<a href="../prenotazioni.html">modulo</a>&nbsp; <br/><br/>
 <strong>1. nome e cognome <br/>
2. Indirizzo per la spedizione<br/>
3. quantit&agrave;</strong> </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">COMPRARE IL LATTE</div>
Ospedali, pediatri, farmacie e privati interessati a provare il nostro prodotto, o avere ulteriori informazioni&nbsp;possono chiamarci dalle 14 alle 20 allo 0973.669290&nbsp;o scrivere a&nbsp;><a href="../prenotazioni.html"><b>Prenotazioni</b></a>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Punti Vendita</div>
Stiamo cercando di realizzare una rete di negozi nelle grandi città dove poter acquistare direttamente il nostro prodotto. <br/><br/>Segnalateci a&nbsp;<a href="../contatti.html"><b>Contatti</b></a>&nbsp;qualche esercente farmaceutico o sanitario interessato.
	</div>
{% endblock %}
