{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="latte_asina/mainColumnParagraphs/0/image/asinosagittario.jpg" class="contentImage_left" alt=""/>
	<h2>Cos'è il latte di Asina?</h2>
<p>Il latte di Asina &egrave; un latte speciale prodotto in allevamenti di asino specializzati. Il latte di Asina &egrave; un alimento per neonati o per persone con elevato grado di intollerabilit&agrave; verso il latte vaccino o di altri animali.</p>
<p>L'Azienda Sagittario, situata nel comune di Lauria, alle pendici del Monte La Spina &quot;all'ombra&quot; dei Pini Loricati &egrave; una nuova realt&agrave; produttiva di questo prodotto, una delle prime Nel Sud Italia e sicuramente l'unica in Basilicata.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Proprietà del Latte d'Asina</h2>
Il latte di asina ideale per i bambini allergici al latte di mucca; lo dimostra una ricerca condotta dall&rsquo;Istituto di Scienze delle Produzioni Alimentari, sezione di Torino del Consiglio Nazionale delle Ricerche.<br/>
&ldquo;Cio che rende cos&igrave; ben tollerato questo latte &egrave; la sua grande somiglianza con quello umano&rdquo; (Amedeo Conti I.s.p.a. C.N.R.)<br/>
Il Latte di asina ha, inoltre, un contenuto di acidi polinsaturi del tutto simile a quello materno ed &egrave; molto ricco di lisozima, una proteina caratterizzata da elevata propriet&agrave; antibatterica, in grado di proteggere il neonato da possibili patologie.<br/>
&ldquo;Anche il rapporto calcio-fosforo e il contenuto proteico totale sono simili a quello umano&rdquo; (Amedeo Conti&nbsp; I.s.p.a. &ndash; C.N.R.)<br/>
Il latte Sagittario &egrave; prodotto esclusivamente da soggetti allevati nella omonima azienda, sottoposti a sistematici controlli igienico-sanitari.<br/>
Nessun artificio viene usato per provocare una lattazione pi&ugrave; abbondante.<br/>
Sagittario dedica massima attenzione ad ogni elemento capace di influenzare la buona salute dei suoi animali e quindi la produzione di latte della migliore qualit&agrave;.<br/>
Sagittario offre ai suoi equidi vasti pascoli incontaminati, stabulazione idonea a garantire le migliori condizioni igieniche, alimentazione esclusivamente vegetale con prodotti ottenuti senza uso di concimi chimici.<br/>
Il sistema di mungitura meccanica, la sterilizzazione dei contenitori e degli ambienti costituiscono una indispensabile garanzia di igiene.<br/>
L&rsquo;azienda Sagittario s.r.l. produce e vende latte di asina intero, prodotto e pastorizzato nella propria sede sita in Contrada Cerase di Lauria (PZ).<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Come comprare il LATTE DI ASINA</h2>
<p>Il latte pu&ograve; essere <strong>consegnato</strong> in qualsiasi localit&agrave; italiana.<br/>
Il costo di un litro di latte &egrave; di <strong>15 euro</strong> al litro + le spese di consegna.<br/>
</p>
<p>E&rsquo; consigliabile un ordine <strong>minimo di 15 litri</strong>, sufficiente per circa un mese di lattazione.<br/>
Il latte pu&ograve; essere conservato in frigo.</p>
<p><br/>
</p>
<p>Contattateci usando l'apposito&nbsp;<a href="/prenotazioni.html">modulo</a>&nbsp; <br/><br/>
 <strong>1. nome e cognome <br/>
2. Indirizzo per la spedizione<br/>
3. quantit&agrave;</strong> </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">COMPRARE IL LATTE</div>
Ospedali, pediatri, farmacie e privati interessati a provare il nostro prodotto, o avere ulteriori informazioni&nbsp;possono chiamarci dalle 14 alle 20 allo 0973.669290&nbsp;o scrivere a&nbsp;><a href="/prenotazioni.html"><b>Prenotazioni</b></a>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Punti Vendita</div>
Stiamo cercando di realizzare una rete di negozi nelle grandi città dove poter acquistare direttamente il nostro prodotto. <br/><br/>Segnalateci a&nbsp;<a href="/contatti.html"><b>Contatti</b></a>&nbsp;qualche esercente farmaceutico o sanitario interessato.
	</div>
{% endblock %}
