{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<p>Cacciatori di abeti, predoni della montagna, all'alba, in cammino sull'erba umida, sul dirupo scosceso e nel bosco di sempre, cercano una preda sacrificale per il grande rito della Primavera. </p>
<p>Anche quest'anno come l'anno prima, cos&igrave; come nel secolo precedente, cos&igrave; come un millennio fa e... chiss&agrave; chi s&agrave; da quando. </p>
<p>Il tempo cambia... Ma l'odore della carne di capra sul fuoco, il sapore del vino con il pane di casa, l'acqua all'anice, i baffi e i volti rugosi, le (vane, tronfie, inutili ed estenuanti) discussioni sulla preda migliore, la voglia e il bisogno di ritrovarsi insieme di nuovo non sono cambiati. </p>
<p>Giuseppe Cosenza </p>
<p>Inedito giugno 2000</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
<object width="425" height="344">
<param value="http://www.youtube.com/v/teCEluDuT58&amp;hl=it&amp;fs=1&amp;color1=0xe1600f&amp;color2=0xfebd01" name="movie"/>
<param value="true" name="allowFullScreen"/>
<param value="always" name="allowscriptaccess"/><embed width="425" height="344" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/teCEluDuT58&amp;hl=it&amp;fs=1&amp;color1=0xe1600f&amp;color2=0xfebd01"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
