{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>la Caccia</h2>
<p><strong>Il Cigno</strong><br/>
Un giorno un cigno vol&ograve; raso sui tetti del villaggio. <br/>
Il barista usc&igrave; dal Bar e guardando in su disse: guardate sembra un&hellip; un&hellip; <br/>
Tutti gli avventori seguirono il suo sguardo e cominci&ograve; un dibattito su quanto pesasse, da dove venisse, ma soprattutto cosa fosse. <br/>
Il bambino sorridendo disse: &egrave; bianco. <br/>
La bambina rispose: no! &egrave; bello. <br/>
Il Contadino asciugandosi il sudore disse: sembra un angelo. <br/>
Il Prete disse: &egrave; la prova dell&rsquo;esistenza di Dio. <br/>
La Massaia disse: avr&agrave; fame. <br/>
La Madre disse: sta cercando i suoi figli <br/>
Il Padre disse: sta cercando dove costruire il suo nido <br/>
L&rsquo;autista ne approfitt&ograve; per fermarsi a pisciare e lo guard&ograve; senza dire nulla. <br/>
Il barbiere disse: no, non porta sventura. <br/>
Il vecchio disse: io ne ho visti anche pi&ugrave; grandi. <br/>
Lo scemo del villaggio grid&ograve; sulla piazza: &egrave; un cigno, &egrave; un cigno. <br/>
Il cacciatore disse: non so cosa sia, da dove venga e dove vada, se sia creatura del diavolo o porti buona sorte, se serva a qualcuno qui o altrove, a malapena ne percepisco i colori, la sagoma, il verso&hellip; ma di una cosa sono assolutamente certo: &Egrave; MIO! </p>
<p>Pubblicato su Elianto n&deg; 3/2003</p>
<p>&nbsp;</p>
<p><strong>L&rsquo;Invasore</strong></p>
<p>Nel mio campo<br/>
la vita che ho visto nascere, crescere, giocare<br/>
i canti che rallegrano il tepore del mattino<br/>
le orecchie di lepre sporgenti dall&rsquo;erba, convinta invisibile<br/>
non mi appartengono: <br/>
non ne ho il diritto </p>
<p>Quando arriva l&rsquo;invasore<br/>
Prende tutto e porta via<br/>
Ed io non posso fermarlo,<br/>
perch&eacute; se &egrave; armato<br/>
ne ha il diritto.</p>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
