{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Prenderti per la gola</h2>
<p>Eccomi a casa finalmente solo. I bambini dalla nonna. </p>
<p>Sto preparando una cena che ti lascer&agrave; senza fiato. Il tavolo &egrave; apparecchiato per due. Due bicchieri per ognuno: uno per l&rsquo;acqua e l&rsquo;altro per il vino. Avrei dovuto metterne un altro ancora&hellip; ma con il men&ugrave; di stasera il vino bianco non si combina. </p>
<p>Ho messo anche le candele, come si addice ad una cena romantica, per le occasioni importanti. I fiori: un mazzo di rose rosse al centro del tavolo. La musica: sono indeciso, ci vorrebbe qualcosa di lento, dolce, magari jazz. Ma dove lo prendo? Io ascolto solo musica etnica e rock. Una tarantella non mi pare proprio il caso. Per&ograve; forse David Silvian potrebbe andare bene: fa un po&rsquo; di atmosfera. </p>
<p>Un po&rsquo; di olio di Lavanda, per profumare di fresco la stanza. </p>
<p>Torniamo al men&ugrave;. Cominciamo con un bell&rsquo;antipasto vegetariano: melanzane rosse di Rotonda alla griglia, pomodorini ripieni e funghi sott&rsquo;olio. Qualche scaglia di formaggio pecorino di Moliterno. Una fetta di lardo di colonnata e lenticchie di Norcia. </p>
<p>Ho preparato addirittura due primi. Il primo &ldquo;primo&rdquo; &egrave; una tagliatella al sugo di cinghiale (rigorosamente di bracconaggio che mi ha portato un amico assessore all&rsquo;ambiente del comune di Tardonio). Ci ho messo poco poco di pomodoro e una grattatina di tartufo nero dell&rsquo;Irpinia. Il &ldquo;secondo&rdquo; invece &egrave; una bella minestra tappi e fagioli (di Sarconi) al pomodoro con peperoncino piccante. Li servir&ograve; caldi caldi, uno alla volta. </p>
<p>Sui secondi riprendo il cinghiale che ho cotto in umido e lo servir&ograve; insieme ai funghi porcini e peperoni di Senise. Ho messo poco aglio: salviamo l&rsquo;alito. Dopo il cinghiale due pezzetti di capretto con patate di Colfiorito. Anche questo al forno, profumato con timo, origano e salvia. </p>
<p>Il dolce? Non ci ho pensato e comunque non avevo molto tempo. Ma una bel semifreddo al torroncino non sarebbe stato male. Per&ograve; ho preso il gelato fatto in casa qui alla pasticceria. E poi troppi dolci fanno ingrassare&hellip; anche se un bel dolce con mele, noci, miele e cioccolato&hellip; </p>
<p>Il caff&egrave;? si alla fine un bel caff&egrave;&hellip; per rilassarmi. </p>
<p>Quando arriverai, ti far&ograve; accomodare al tuo posto, ti verser&ograve; un bicchiere di vino e mentre sarai l&igrave; l&igrave; per aprire bocca e lamentarti su come ho disposte le stoviglie sul tavolo&hellip; prima che cominci a chiedermi che schifezze ho preparato&hellip; prima ancora che tu dica che i fiori sono un inutile spreco&hellip; che odi il profumo di lavanda&hellip; che non c&rsquo;&egrave; nulla da festeggiare&hellip; che &egrave; da pazzi cucinare tutta questa roba&hellip; che la carne non ti piace&hellip; che i fagioli fanno male&hellip;che la pasta ingrassa&hellip; che il vino ubriaca&hellip; ti passer&ograve; alle spalle&hellip; ti prender&ograve; per la gola e stringer&ograve; forte forte&hellip; finch&egrave; sentir&ograve; il tuo ultimo respiro, il tuo cuore dare l&rsquo;ultimo &ldquo;toc&rdquo;. </p>
<p>E finalmente non dirai una parola&hellip; e potr&ograve; mangiare quello che mi pare! </p>
<p><br/>
Pubblicato su &quot;Arti Visive&quot; Marzo/2003 </p>
<p>&nbsp;</p>
<p><br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
