{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="navPath">Readings</a></span><span class="itNav"><a href="../letture.html" class="navPath">Letture</a></span>
</div>
<div class="nav"><span class="enNav"><a href="apollo.html" class="nav">Apollo e il Pollino</a></span><span class="itNav"><a href="apollo.html" class="nav">Apollo e il Pollino</a></span>
</div>
<div class="nav"><span class="enNav"><a href="uro.html" class="nav">Il Bue</a></span><span class="itNav"><a href="uro.html" class="nav">Il Bue</a></span>
</div>
<div class="nav"><span class="enNav"><a href="abeti.html" class="nav">Cacciatori di Abeti</a></span><span class="itNav"><a href="abeti.html" class="nav">Cacciatori di Abeti</a></span>
</div>
<div class="nav"><span class="enNav"><a href="romito.html" class="nav">Grotta del Romito</a></span><span class="itNav"><a href="romito.html" class="nav">Grotta del Romito</a></span>
</div>
<div class="navSelf"><span class="enNav">I Draghi</span><span class="itNav">I Draghi</span>
</div>
<div class="nav"><span class="enNav"><a href="runner.html" class="nav">Pollino Runner</a></span><span class="itNav"><a href="runner.html" class="nav">Pollino Runner</a></span>
</div>
<div class="nav"><span class="enNav"><a href="valljie.html" class="nav">Valljie</a></span><span class="itNav"><a href="valljie.html" class="nav">Valljie</a></span>
</div>
<div class="nav"><span class="enNav"><a href="vipera.html" class="nav">Vipera</a></span><span class="itNav"><a href="vipera.html" class="nav">Vipera</a></span>
</div>
<div class="nav"><span class="enNav"><a href="madonna.html" class="nav">Madonna di Pollino</a></span><span class="itNav"><a href="madonna.html" class="nav">Madonna di Pollino</a></span>
</div>
<div class="nav"><span class="enNav"><a href="maiale.html" class="nav">Il Maiale</a></span><span class="itNav"><a href="maiale.html" class="nav">Il Maiale</a></span>
</div>
<div class="nav"><span class="enNav"><a href="tuono.html" class="nav">Il Giorno del Tuono</a></span><span class="itNav"><a href="tuono.html" class="nav">Il Giorno del Tuono</a></span>
</div>
<div class="nav"><span class="enNav"><a href="cervo.html" class="nav">Il ritorno del Cervo</a></span><span class="itNav"><a href="cervo.html" class="nav">Il ritorno del Cervo</a></span>
</div>
<div class="nav"><span class="enNav"><a href="caccia.html" class="nav">La Caccia</a></span><span class="itNav"><a href="caccia.html" class="nav">La Caccia</a></span>
</div>
<div class="nav"><span class="enNav"><a href="sete.html" class="nav">...morimmo di sete</a></span><span class="itNav"><a href="sete.html" class="nav">...morimmo di sete</a></span>
</div>
<div class="nav"><span class="enNav"><a href="cena.html" class="nav">...per la gola</a></span><span class="itNav"><a href="cena.html" class="nav">...per la gola</a></span>
</div>
<div class="nav"><span class="enNav"><a href="petrarca.html" class="nav">Inghilterra</a></span><span class="itNav"><a href="petrarca.html" class="nav">Inghilterra</a></span>
</div>
<div class="nav"><span class="enNav"><a href="teana.html" class="nav">Carnevale di Teana</a></span><span class="itNav"><a href="teana.html" class="nav">Carnevale di Teana</a></span>
</div>
<div class="nav"><span class="enNav"><a href="accettura.html" class="nav">Il Maggio di Accettura</a></span><span class="itNav"><a href="accettura.html" class="nav">Il Maggio di Accettura</a></span>
</div>
<div class="nav"><span class="enNav"><a href="hard-disk.html" class="nav">Hard Disk</a></span><span class="itNav"><a href="hard-disk.html" class="nav">Hard Disk</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<p>Norman Douglas &egrave; uno scrittore inglese che all'inizio del secolo ha compiuto un viaggio partendo dalla Puglia fino a Messina, attraversando Basilicata e Calabria e soffermandosi anche sul Pollino. Durante questo viaggio, in localit&agrave; poco note, ha raccolto numerose annotazioni di carattere storico, artistico e antropologico, con un punto di vista molto &quot;inglese&quot; ma efficacemente descrittive e per alcuni versi anche molto attuali quando si parla della condizione socio-culturale delle genti del sud. Questo suo viaggio &egrave; documentato in un fantastico libro &quot;Old Calabria&quot;, che consiglio a tutti di leggere. <br/>
Il capitolo XIV, &quot;i Draghi&quot;, mi ha particolarmente colpito: con una piccola anticipazione alla fine del capitolo precedente, N. Douglas si avventura in una fantastica ricerca sulla simbologia del drago nelle culture umane. <br/>
Secondo l'autore, i draghi rappresentano nell'immaginario umano, spesso belve che vivono nel sottosuolo. <br/>
Se il drago vive sottoterra, le acque che scorrono sulla superficie della terra non sono altro che draghi usciti all'esterno. Basta pensare al drago sputafuoco per associare quest'immagine a quella di una sorgente termale con i suoi sbuffi di vapore. Oppure al corso meandriforme dei fiumi che ricorda, quando non costretti da opere di contenimento umane, il movimento sinuoso di un rettile. Se poi questi hanno regimi irregolari ed impetuosi e sono capaci di produrre distruzioni e catastrofi con perdite di vite umane, ecco che il drago diventa una belva pericolosa, forte e incontenibile contro il quale l'uomo deve difendersi con caparbiet&agrave; e tenacia. <br/>
Un piccolo specchio d'acqua, una sorgente, diventano l'occhio di un drago che ci osserva con quella fissit&agrave; tipica dei rettili, ricordando che in greco &quot;dr&agrave;kon&quot; e &quot;ophis&quot; (serpente) sono anche la radice etimologica di osservare, guardare, occhio. <br/>
Una conferma di quanto dice il Douglas l'ho avuta visitando a Castel San Felice di Narco, in Umbria, una delle pi&ugrave; belle chiese romaniche d'Italia (forse sconosciuta al Douglas): in un bassorilievo &egrave; ricordata l'opera di bonifica e contenimento del fiume Nera da parte dei Frati Benedettini avvenuta nel XII sec. rappresentata proprio come la lotta contro un mostruoso drago. <br/>
Anche in una antica favola cinese si parla di una localit&agrave; dove il drago aveva inghiottito il sole (la nebbia provocata da una grande palude) e solo con la bonifica il drago fu ucciso e il sole ricomparve. <br/>
I nostro vecchi contadini irrigavano conducendo un piccolo corpo d'acqua sui campi. A volte con un guizzo rapido l'acqua, proprio come un rettile, apriva una cavit&agrave; nei porosi terreni di origine carsica, anche molto profonda, e si inabissava provocando grande spavento. <br/>
In provincia di Terni il ramarro (un &quot;piccolo drago&quot;) viene comunemente chiamato &quot;rago&quot; a conferma che la trasformazione dell'etimo da &quot;drago&quot; a &quot;rago&quot; &egrave; comune anche lontano dalle nostre terre. <br/>
Mi vengono in mente alcuni toponimi del Pollino come Raganello, Colle del Dragone, Vallone del Rago, che hanno come origine sicuramente l'etimo &quot;dr&agrave;kon&quot; con la perdita della &quot;d&quot; o attraverso il rafforzamento della &quot;r&quot;. <br/>
Questi toponimi sono associati a corsi d'acqua impetuosi o meandriformi, cos&igrave; come in prossimit&agrave; del Colle del Dragone (italianizzazione di Ragone?) prende origine in occasione di forti temporali estivi un impetuoso e selvaggio rivolo d'acqua: un DRAGO... appunto! </p>
<p>Giuseppe Cosenza <br/>
Apollinea 5/1999 - Edizioni &quot;il Coscile&quot; </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
