{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<p>Norman Douglas &egrave; uno scrittore inglese che all'inizio del secolo ha compiuto un viaggio partendo dalla Puglia fino a Messina, attraversando Basilicata e Calabria e soffermandosi anche sul Pollino. Durante questo viaggio, in localit&agrave; poco note, ha raccolto numerose annotazioni di carattere storico, artistico e antropologico, con un punto di vista molto &quot;inglese&quot; ma efficacemente descrittive e per alcuni versi anche molto attuali quando si parla della condizione socio-culturale delle genti del sud. Questo suo viaggio &egrave; documentato in un fantastico libro &quot;Old Calabria&quot;, che consiglio a tutti di leggere. <br/>
Il capitolo XIV, &quot;i Draghi&quot;, mi ha particolarmente colpito: con una piccola anticipazione alla fine del capitolo precedente, N. Douglas si avventura in una fantastica ricerca sulla simbologia del drago nelle culture umane. <br/>
Secondo l'autore, i draghi rappresentano nell'immaginario umano, spesso belve che vivono nel sottosuolo. <br/>
Se il drago vive sottoterra, le acque che scorrono sulla superficie della terra non sono altro che draghi usciti all'esterno. Basta pensare al drago sputafuoco per associare quest'immagine a quella di una sorgente termale con i suoi sbuffi di vapore. Oppure al corso meandriforme dei fiumi che ricorda, quando non costretti da opere di contenimento umane, il movimento sinuoso di un rettile. Se poi questi hanno regimi irregolari ed impetuosi e sono capaci di produrre distruzioni e catastrofi con perdite di vite umane, ecco che il drago diventa una belva pericolosa, forte e incontenibile contro il quale l'uomo deve difendersi con caparbiet&agrave; e tenacia. <br/>
Un piccolo specchio d'acqua, una sorgente, diventano l'occhio di un drago che ci osserva con quella fissit&agrave; tipica dei rettili, ricordando che in greco &quot;dr&agrave;kon&quot; e &quot;ophis&quot; (serpente) sono anche la radice etimologica di osservare, guardare, occhio. <br/>
Una conferma di quanto dice il Douglas l'ho avuta visitando a Castel San Felice di Narco, in Umbria, una delle pi&ugrave; belle chiese romaniche d'Italia (forse sconosciuta al Douglas): in un bassorilievo &egrave; ricordata l'opera di bonifica e contenimento del fiume Nera da parte dei Frati Benedettini avvenuta nel XII sec. rappresentata proprio come la lotta contro un mostruoso drago. <br/>
Anche in una antica favola cinese si parla di una localit&agrave; dove il drago aveva inghiottito il sole (la nebbia provocata da una grande palude) e solo con la bonifica il drago fu ucciso e il sole ricomparve. <br/>
I nostro vecchi contadini irrigavano conducendo un piccolo corpo d'acqua sui campi. A volte con un guizzo rapido l'acqua, proprio come un rettile, apriva una cavit&agrave; nei porosi terreni di origine carsica, anche molto profonda, e si inabissava provocando grande spavento. <br/>
In provincia di Terni il ramarro (un &quot;piccolo drago&quot;) viene comunemente chiamato &quot;rago&quot; a conferma che la trasformazione dell'etimo da &quot;drago&quot; a &quot;rago&quot; &egrave; comune anche lontano dalle nostre terre. <br/>
Mi vengono in mente alcuni toponimi del Pollino come Raganello, Colle del Dragone, Vallone del Rago, che hanno come origine sicuramente l'etimo &quot;dr&agrave;kon&quot; con la perdita della &quot;d&quot; o attraverso il rafforzamento della &quot;r&quot;. <br/>
Questi toponimi sono associati a corsi d'acqua impetuosi o meandriformi, cos&igrave; come in prossimit&agrave; del Colle del Dragone (italianizzazione di Ragone?) prende origine in occasione di forti temporali estivi un impetuoso e selvaggio rivolo d'acqua: un DRAGO... appunto! </p>
<p>Giuseppe Cosenza <br/>
Apollinea 5/1999 - Edizioni &quot;il Coscile&quot; </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
