{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<p>Non so se a voi, amici computer &ldquo;dipendenti&rdquo;,&nbsp; sia mai capitato. A me si! Come cosa? Quello che vorreste non vi capitasse mai: perdere tutti i dati memorizzati nel vostro Hard Disk.<br/>
Si! A me &egrave; capitato. Certo non ho perso tutto ma molte delle cose che avevo prodotto negli ultimi tre o quattro mesi.<br/>
Che sensazione terribile. <br/>
In un centro abilitato al recupero dei dati mi hanno detto: &ldquo;si pu&ograve; fare, se i dati sono importanti; quanto &egrave; disposto a spendere?&rdquo;.<br/>
Un tonfo al cuore! Quanto sono disposto a spendere per le mie emozioni, per i mie sentimenti? Io che conservo ancora la mia prima lettera d&rsquo;amore, quanto sono disposto a spendere per una foto, per una poesia, per una lettera, per la mia spicciola contabilit&agrave;?</p>
<p>Il mio pensiero vola all&rsquo;incommensurabile quantit&agrave; di parole che questo fantastico mezzo elettronico ci consente di registrare, trasmettere, scambiare. Si tratta di una quantit&agrave;&nbsp; solo fino a qualche tempo fa non immaginabile. Di fatto il computer &egrave; un estensione della nostra memoria e della nostra capacit&agrave; di comunicare all&rsquo;esterno i nostri pensieri. Il tutto con una notevole economia di energia. Pensate solo quanto sia facile oggi scrivere un pensiero che ci balena nella mente e trasmetterlo al nostro amico pi&ugrave; lontano e ricevere immediatamente i suoi. Immaginate questa stessa operazione fatta appena un secolo fa o peggio un millennio fa. </p>
<p>Ma immaginatela tutta, seguite il viaggio della vostra missiva&hellip; ops? Il mulo si &egrave; azzoppato! Aspettiamo che arrivi il cambio&hellip; <br/>
Nel frattempo il vostro piccione viaggiatore viene sbranato da un Falco Pellegrino&hellip;</p>
<p>Provate solo ad immaginare quanti byte produciamo nello scrivere una lettera, comprese tutte le versioni prodotte fino alla stesura definitiva.<br/>
Il tutto tradotto in nanoscopici impulsi elettrIci: miliardi di miliardi elevati a miliardi di miliardi impulsi elettrici.</p>
<p>Tutto ci&ograve; che sappiamo della nostra storia deriva da testi scritti e trascritti, ma anche o soprattutto da graffiti incisi nella pietra, da geroglifici scolpiti sul granito, da segni cuneiformi su tavolette di ceramica, da codici d&rsquo;inchiostro su pelle di pecora.<br/>
Pensate a ci&ograve; che ha rappresentato la Stele di Rosetta per la nostra cultura o cosa potr&agrave; dirci la decifrazione dell&rsquo;epigrafe di Blanda (sito archeologico presso Tortora), scritta con un alfabeto greco-sibarita, ma in lingua indigena attualmente sconosciuta.</p>
<p>E noi cosa lasciamo alle nostre generazioni future? Impulsi elettrici e magnetici probabilmente illeggibili gi&agrave; tra qualche decennio. Cosa sapranno di me, di voi, di noi i nostri figli, nipoti, pronipoti o eventuali invasori di una civilt&agrave;&nbsp; extraterrestre?</p>
<p>Forse dobbiamo pensare a produrre, ognuno di noi, una nuova, personale, Stele di Rosetta.<br/>
</p>
<p>Pubblicato su Lucanianet 5/10/2002</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
