{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="navPath">Readings</a></span><span class="itNav"><a href="../letture.html" class="navPath">Letture</a></span>
</div>
<div class="nav"><span class="enNav"><a href="apollo.html" class="nav">Apollo e il Pollino</a></span><span class="itNav"><a href="apollo.html" class="nav">Apollo e il Pollino</a></span>
</div>
<div class="nav"><span class="enNav"><a href="uro.html" class="nav">Il Bue</a></span><span class="itNav"><a href="uro.html" class="nav">Il Bue</a></span>
</div>
<div class="nav"><span class="enNav"><a href="abeti.html" class="nav">Cacciatori di Abeti</a></span><span class="itNav"><a href="abeti.html" class="nav">Cacciatori di Abeti</a></span>
</div>
<div class="nav"><span class="enNav"><a href="romito.html" class="nav">Grotta del Romito</a></span><span class="itNav"><a href="romito.html" class="nav">Grotta del Romito</a></span>
</div>
<div class="nav"><span class="enNav"><a href="draghi.html" class="nav">I Draghi</a></span><span class="itNav"><a href="draghi.html" class="nav">I Draghi</a></span>
</div>
<div class="nav"><span class="enNav"><a href="runner.html" class="nav">Pollino Runner</a></span><span class="itNav"><a href="runner.html" class="nav">Pollino Runner</a></span>
</div>
<div class="nav"><span class="enNav"><a href="valljie.html" class="nav">Valljie</a></span><span class="itNav"><a href="valljie.html" class="nav">Valljie</a></span>
</div>
<div class="nav"><span class="enNav"><a href="vipera.html" class="nav">Vipera</a></span><span class="itNav"><a href="vipera.html" class="nav">Vipera</a></span>
</div>
<div class="navSelf"><span class="enNav">Madonna di Pollino</span><span class="itNav">Madonna di Pollino</span>
</div>
<div class="nav"><span class="enNav"><a href="maiale.html" class="nav">Il Maiale</a></span><span class="itNav"><a href="maiale.html" class="nav">Il Maiale</a></span>
</div>
<div class="nav"><span class="enNav"><a href="tuono.html" class="nav">Il Giorno del Tuono</a></span><span class="itNav"><a href="tuono.html" class="nav">Il Giorno del Tuono</a></span>
</div>
<div class="nav"><span class="enNav"><a href="cervo.html" class="nav">Il ritorno del Cervo</a></span><span class="itNav"><a href="cervo.html" class="nav">Il ritorno del Cervo</a></span>
</div>
<div class="nav"><span class="enNav"><a href="caccia.html" class="nav">La Caccia</a></span><span class="itNav"><a href="caccia.html" class="nav">La Caccia</a></span>
</div>
<div class="nav"><span class="enNav"><a href="sete.html" class="nav">...morimmo di sete</a></span><span class="itNav"><a href="sete.html" class="nav">...morimmo di sete</a></span>
</div>
<div class="nav"><span class="enNav"><a href="cena.html" class="nav">...per la gola</a></span><span class="itNav"><a href="cena.html" class="nav">...per la gola</a></span>
</div>
<div class="nav"><span class="enNav"><a href="petrarca.html" class="nav">Inghilterra</a></span><span class="itNav"><a href="petrarca.html" class="nav">Inghilterra</a></span>
</div>
<div class="nav"><span class="enNav"><a href="teana.html" class="nav">Carnevale di Teana</a></span><span class="itNav"><a href="teana.html" class="nav">Carnevale di Teana</a></span>
</div>
<div class="nav"><span class="enNav"><a href="accettura.html" class="nav">Il Maggio di Accettura</a></span><span class="itNav"><a href="accettura.html" class="nav">Il Maggio di Accettura</a></span>
</div>
<div class="nav"><span class="enNav"><a href="hard-disk.html" class="nav">Hard Disk</a></span><span class="itNav"><a href="hard-disk.html" class="nav">Hard Disk</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<p><br/>
</p>
<p>L'ultima volta che andai alla Festa della Madonna del Pollino era il 1983: ricordo che in macchina ascoltai l'ultima opera dei Police &quot;Synchronicity&quot; appena uscito e coincidenza stamattina alla radio danno &quot;every breath you take&quot;, brano dello stesso LP. <br/>
Da allora motivi di studio e lavoro mi hanno portato lontano da questa terra e dalle sue tradizioni.Ricordo anche per&ograve; la prima volta che ci andai. Erano gli anni settanta, e come sempre era il primo fine settimana di Luglio. Allora non mi fece impressione, anzi mi sembr&ograve; fantasticamente normale, che sulle vette del Pollino e della Serra del Prete ci fossero ancora chiazze di neve che contrastavano con il verde della Primavera ormai finita.<br/>
Per me oggi &egrave; inevitabile fare confronti con quello che riuscivo a percepire con gli occhi di ragazzo e quello che percepisco oggi.<br/>
Non saprei dire se la gente ha lo stesso trascinamento per la fede di allora.<br/>
Infatti gi&agrave; in quegli anni si manifestava una certa &quot;moda&quot; della scampagnata in montagna che si sovrapponeva al pellegrinaggio vero e proprio.<br/>
Quello che sicuramente non percepivo da ragazzo erano le ragioni per cui un fedele proveniente da Rotondella, Policoro, Castrovillari, Villapiana o Rotonda si inerpicasse fino quass&ugrave; per venerare una statua.Ma in chiesa guardando i volti della gente al cospetto della statua, a volte piangenti, si percepisce quel bisogno di protezione e sostegno che solo ad una entit&agrave; soprannaturale si pu&ograve; chiedere.<br/>
Probabilmente per molti la Madonna &egrave; una sorta di supersorella, superamica, supermamma a cui confidare l'inconfidabile, confessare i segreti pi&ugrave; profondi, cercare conforto per le tragedie personali.Ma questo non &egrave; sempre vero. Lo si vede nella gioia con cui alcune persone si impegnano a cantare canzoni di ingenua &quot;simpatia&quot; alla Madonna o nello zelante impegno dei zampognari, calabresi e lucani, che tentano di intonare una nenia prima di essere azzittati dal sacrestano.<br/>
E che dire della Processione? Ognuno partecipa a suo modo: c'&egrave; chi prega, chi canta, chi balla la tarantella, chi suona, chi offre da mangiare e chi porta la statua. Altrove questa promiscua esplosione di espressione religiosa verrebbe contrastata e inibita.<br/>
Un sessantenne signore di Sanseverino mi racconta alcuni aneddoti della sua giovinezza alla festa e mi resta impresso il &quot;ragliare contemporaneo di centinaia di asini&quot;.<br/>
Proprio come dice Norman Douglas in &quot;Old Calabria&quot;: &quot;duemila persone si accampano intorno alla cappella, con un enorme esercito di muli e asini, i cui ragli si mischiano alle musiche pastorali delle zampogne&hellip;&quot;<br/>
Oggi gli accampamenti non sono pi&ugrave; di baracche in verdi frasche di faggio, ma di tecnicissime tende blu, e gli asini sono stati sostituiti dalle auto.<br/>
Questo si traduce in una festa pi&ugrave; &quot;frettolosa&quot;. C'&egrave; chi arriva e va via in giornata. Con l'asino e a piedi questo non succedeva: la festa era pi&ugrave; meditata, pi&ugrave; vissuta e forse anche la &quot;devozione&quot; era maggiore, considerando i sacrifici richiesti per raggiungere il Santuario. <br/>
Ho scoperto che la gente si avvicina alla statua della Madonna spesso con un fazzoletto e pratica un gesto che sembra di spolvero. Pare che in questo modo il fazzoletto porti con se un potere taumaturgico evidentemente attribuito alla Madonna. <br/>
Ma ho visto anche gente strofinare sulla statua oggetti di vario tipo e addirittura un cellulare. Il gesto &egrave; del tutto comprensibile, se si considera che questo nuovissimo strumento di comunicazione ci tiene in contatto con il mondo, con i parenti pi&ugrave; stretti e lontani, con la ragazza o il ragazzo, e attraverso di esso passano tutte le ansie, le aspettative, le belle e le brutte notizie. <br/>
Il Santuario si presenta semplice e spoglio di ornamenti. Non si usano pi&ugrave; e sono scomparsi gli ex-voto in cera raffiguranti parti anatomiche del corpo guarite, per intercessione della Madonna: una forma antichissima di venerazione risalente secondo N. Douglas al Neolitico. Se ne pu&ograve; vedere ancora qualcuno nella Cappella del Purgatorio a Laino Borgo. <br/>
La festa termina con la Domenica. Il Santuario che ne custodisce la Statua resta aperto tutti i giorni fino a Settembre quando la statua verr&agrave; riportata a Sanseverino. <br/>
Ma il giorno dopo l'area dove si sono accampati i fedeli sembra un campo di battaglia: spazzatura di tutti i generi ricoprono il prato o sono malamente raccolti e nascosti tra i cespugli. <br/>
Bisognerebbe organizzare un sistema di vigilanza e raccolta dei rifiuti serio. Capitare al Santuario in quelle condizioni &egrave; uno spettacolo che non fa onore ad una localit&agrave; mistica e paesaggisticamente di valore inserita in un Parco Nazionale. Aggiungi a questo il degrado dei fabbricati come il Rifugio e gli altri vicini: non &egrave; proprio una bella cartolina. <br/>
Un qualsiasi visitatore che capitasse l&igrave; nei giorni successivi si farebbe un'idea negativa della festa e dei partecipanti. Meglio non lasciare tracce per conservare la magia nascosta nei canti, nei balli, nelle libagioni e nelle orazioni. <br/>
Tutte le autorit&agrave; si dovrebbero impegnare nella cura di questa localit&agrave;, i sacerdoti, in primis, per l'evidente autorit&agrave; morale che hanno sui fedeli. </p>
<p>Giuseppe Cosenza<br/>
Pubblicato su <a href="http://www.lucanianet.it">www.lucanianet.it</a> il 13/07/2002<br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
<object width="445" height="364">
<param value="http://www.youtube.com/v/Y4I5CFFTVDg&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1" name="movie"/>
<param value="true" name="allowFullScreen"/>
<param value="always" name="allowscriptaccess"/><embed width="445" height="364" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/Y4I5CFFTVDg&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
