{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<p><br/>
</p>
<p>L'ultima volta che andai alla Festa della Madonna del Pollino era il 1983: ricordo che in macchina ascoltai l'ultima opera dei Police &quot;Synchronicity&quot; appena uscito e coincidenza stamattina alla radio danno &quot;every breath you take&quot;, brano dello stesso LP. <br/>
Da allora motivi di studio e lavoro mi hanno portato lontano da questa terra e dalle sue tradizioni.Ricordo anche per&ograve; la prima volta che ci andai. Erano gli anni settanta, e come sempre era il primo fine settimana di Luglio. Allora non mi fece impressione, anzi mi sembr&ograve; fantasticamente normale, che sulle vette del Pollino e della Serra del Prete ci fossero ancora chiazze di neve che contrastavano con il verde della Primavera ormai finita.<br/>
Per me oggi &egrave; inevitabile fare confronti con quello che riuscivo a percepire con gli occhi di ragazzo e quello che percepisco oggi.<br/>
Non saprei dire se la gente ha lo stesso trascinamento per la fede di allora.<br/>
Infatti gi&agrave; in quegli anni si manifestava una certa &quot;moda&quot; della scampagnata in montagna che si sovrapponeva al pellegrinaggio vero e proprio.<br/>
Quello che sicuramente non percepivo da ragazzo erano le ragioni per cui un fedele proveniente da Rotondella, Policoro, Castrovillari, Villapiana o Rotonda si inerpicasse fino quass&ugrave; per venerare una statua.Ma in chiesa guardando i volti della gente al cospetto della statua, a volte piangenti, si percepisce quel bisogno di protezione e sostegno che solo ad una entit&agrave; soprannaturale si pu&ograve; chiedere.<br/>
Probabilmente per molti la Madonna &egrave; una sorta di supersorella, superamica, supermamma a cui confidare l'inconfidabile, confessare i segreti pi&ugrave; profondi, cercare conforto per le tragedie personali.Ma questo non &egrave; sempre vero. Lo si vede nella gioia con cui alcune persone si impegnano a cantare canzoni di ingenua &quot;simpatia&quot; alla Madonna o nello zelante impegno dei zampognari, calabresi e lucani, che tentano di intonare una nenia prima di essere azzittati dal sacrestano.<br/>
E che dire della Processione? Ognuno partecipa a suo modo: c'&egrave; chi prega, chi canta, chi balla la tarantella, chi suona, chi offre da mangiare e chi porta la statua. Altrove questa promiscua esplosione di espressione religiosa verrebbe contrastata e inibita.<br/>
Un sessantenne signore di Sanseverino mi racconta alcuni aneddoti della sua giovinezza alla festa e mi resta impresso il &quot;ragliare contemporaneo di centinaia di asini&quot;.<br/>
Proprio come dice Norman Douglas in &quot;Old Calabria&quot;: &quot;duemila persone si accampano intorno alla cappella, con un enorme esercito di muli e asini, i cui ragli si mischiano alle musiche pastorali delle zampogne&hellip;&quot;<br/>
Oggi gli accampamenti non sono pi&ugrave; di baracche in verdi frasche di faggio, ma di tecnicissime tende blu, e gli asini sono stati sostituiti dalle auto.<br/>
Questo si traduce in una festa pi&ugrave; &quot;frettolosa&quot;. C'&egrave; chi arriva e va via in giornata. Con l'asino e a piedi questo non succedeva: la festa era pi&ugrave; meditata, pi&ugrave; vissuta e forse anche la &quot;devozione&quot; era maggiore, considerando i sacrifici richiesti per raggiungere il Santuario. <br/>
Ho scoperto che la gente si avvicina alla statua della Madonna spesso con un fazzoletto e pratica un gesto che sembra di spolvero. Pare che in questo modo il fazzoletto porti con se un potere taumaturgico evidentemente attribuito alla Madonna. <br/>
Ma ho visto anche gente strofinare sulla statua oggetti di vario tipo e addirittura un cellulare. Il gesto &egrave; del tutto comprensibile, se si considera che questo nuovissimo strumento di comunicazione ci tiene in contatto con il mondo, con i parenti pi&ugrave; stretti e lontani, con la ragazza o il ragazzo, e attraverso di esso passano tutte le ansie, le aspettative, le belle e le brutte notizie. <br/>
Il Santuario si presenta semplice e spoglio di ornamenti. Non si usano pi&ugrave; e sono scomparsi gli ex-voto in cera raffiguranti parti anatomiche del corpo guarite, per intercessione della Madonna: una forma antichissima di venerazione risalente secondo N. Douglas al Neolitico. Se ne pu&ograve; vedere ancora qualcuno nella Cappella del Purgatorio a Laino Borgo. <br/>
La festa termina con la Domenica. Il Santuario che ne custodisce la Statua resta aperto tutti i giorni fino a Settembre quando la statua verr&agrave; riportata a Sanseverino. <br/>
Ma il giorno dopo l'area dove si sono accampati i fedeli sembra un campo di battaglia: spazzatura di tutti i generi ricoprono il prato o sono malamente raccolti e nascosti tra i cespugli. <br/>
Bisognerebbe organizzare un sistema di vigilanza e raccolta dei rifiuti serio. Capitare al Santuario in quelle condizioni &egrave; uno spettacolo che non fa onore ad una localit&agrave; mistica e paesaggisticamente di valore inserita in un Parco Nazionale. Aggiungi a questo il degrado dei fabbricati come il Rifugio e gli altri vicini: non &egrave; proprio una bella cartolina. <br/>
Un qualsiasi visitatore che capitasse l&igrave; nei giorni successivi si farebbe un'idea negativa della festa e dei partecipanti. Meglio non lasciare tracce per conservare la magia nascosta nei canti, nei balli, nelle libagioni e nelle orazioni. <br/>
Tutte le autorit&agrave; si dovrebbero impegnare nella cura di questa localit&agrave;, i sacerdoti, in primis, per l'evidente autorit&agrave; morale che hanno sui fedeli. </p>
<p>Giuseppe Cosenza<br/>
Pubblicato su <a href="http://www.lucanianet.it">www.lucanianet.it</a> il 13/07/2002<br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
<object width="445" height="364">
<param value="http://www.youtube.com/v/Y4I5CFFTVDg&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1" name="movie"/>
<param value="true" name="allowFullScreen"/>
<param value="always" name="allowscriptaccess"/><embed width="445" height="364" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/Y4I5CFFTVDg&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
