{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>In Inghilterra sognando l’Italia <br/>30 Novembre 2003 _ Torquay, South Devon, United Kingdom </h2>
<p>Sto sorseggiando annoiato la mia seconda birra, in un rumoroso e fumoso Pub, uguale a tanti altri, dove, superata la maggiore et&agrave;, uomini e donne inglesi trascorrono le migliori ore della loro vita, fino alla vecchiaia. Il mio sguardo cade su un polveroso scaffale pieno di vecchi libri, di seconda mano, comprati da qualche rigattiere, allo scopo di dare un tocco &ldquo;di cultura&rdquo; all&rsquo;ambiente. <br/>
Ne sfoglio alcuni: romanzi, gialli, racconti brevi, poesie, addirittura un manuale di zoologia e un trattato di economia. Poi un grande libro con la copertina rossa. Lo apro casualmente e, sorpresa delle sorprese, nella pagina a destra, al centro, in una grande spazio vuoto, in corsivo, un breve testo in Italiano. </p>
<p><em>&quot;Trovommi amor del tutto disarmato </em></p>
<p><em>et aperta la via per gli occhi al core, </em></p>
<p><em>che di lagrime son fatti uscio e varco&quot;.</em> </p>
<p>Leggo alcune pagine, che precedono la poesia, per conoscere l&rsquo;autore e capire in quale contesto e per quale motivo viene citata. Scopro che appartengono a Petrarca, autore di mia scolastica memoria, che io non ricordavo cos&igrave; &ldquo;romantico&rdquo;. L&rsquo;autore dice: &ldquo;Si, quest&rsquo;uomo aveva capito proprio tutto dell&rsquo;amore&rdquo;. Sono incredibilmente incantato da questi versi, tanto belli che, un Inglese con &ldquo;farfalle nella pancia&rdquo;, li preferisce ad un &ldquo;Sonetto d&rsquo;amore&rdquo; di Shakespeare. </p>
<p>Comincio a fantasticare... </p>
<p>Mi piace pensare che li abbia letti la prima volta in Italia, durante un viaggio oltre i confini dell&rsquo;Isola Britannica, viaggiando nelle valli di un Italia, fatta di monti, colline, pianure, di gente che parla, scrive, ama. Sentendo gli odori delle campagne, dei campi di grano, dei vigneti, delle mandrie e delle greggi, dei cieli blu, assolati, le notti stellate. Ascoltando il fruscio dei fiumi, dei torrenti, il canto delle cicale, il cuculo, lo stridio delle rondini, le urla nelle strade, l&rsquo;organetto che suona e la madre che chiama i figli. Mi piace pensare che li abbia fissati nella sua mente, leggendoli, sotto una pergola che mitiga i raggi di agosto, con a tavola i sapori di pecorino, prosciutto, l&rsquo;odore della pasta e fagioli e dell&rsquo;aglio rosolato. Il vino rosso che scende nel bicchiere e che macchia la tovaglia rossa a quadri liberando aromi che profumano di nostalgia&hellip; Bevo, ma non &egrave; vino! &Egrave; solo insipida birra. <br/>
Improvvisamente il suono della campana delle 23 e un drammatico urlo &ldquo;Go out! Please!&rdquo;, interrompono definitivamente il mio &ldquo;sogno italiano&rdquo;. Rimetto a posto il libro. Ingoio forzatamente le ultime gocce di liquido contenute nel mio bicchiere ed esco per strada, e mi ritrovo circondato da orde di ragazze sgraziate e seminude e ragazzi vocianti ubriachi. Cos&igrave;, mi avvio, sotto un cielo buio di pioggia leggera, verso una casa che non mi appartiene, in una citt&agrave; alla quale non appartengo.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
