{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<p>Sono andato per l'ennesima volta alla grotta del Romito. Ho visto il calco dello scheletro di ROM, il mio avo pi&ugrave; &quot;avo&quot; che ho. <br/>
12.000 anni f&agrave; mi lasci&ograve; un regalo: uno splendido graffito raffigurante il bue primigenio e tanti altri segni che solo lui potr&agrave; dirci cosa significano. <br/>
Trent'anni fa lo portarono via e non &egrave; ancora tornato. E' dura la vita nel sud, anche da morto bisogna emigrare e trascorrere il tempo dormendo dentro uno scaffale museale, proprio come tanti profughi che dormono dentro scatole di cartone sotto i ponti. Hanno portato via anche tante sue cose, disperse qua e l&agrave; nella Penisola, come cenere al vento, di cui si &egrave; persa memoria. <br/>
Ma io resto qua ad aspettarlo, a tenere vivo il suo ricordo per i prossimi 12.000 anni o almeno finch&egrave; non torner&agrave;... </p>
<p>Giuseppe Cosenza<br/>
Inedito maggio 2000 </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
