{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<p>Pollino Runner<br/>
&quot;Io ho visto e sentito cose<br/>
che voi uomini neanche immaginate&quot; <br/>
La violenza del temporale<br/>
Il fragore delle onde <br/>
Le urla del cervo cacciato dai lupi<br/>
La monotonia cupa delle foreste di abete <br/>
L'odore forte delle erbe arse dal sole<br/>
Il canto lugubre del gufo<br/>
La dolcezza infinita dei campi di grano punteggiati di fiori<br/>
La melanconia straziante del canto dei pastori<br/>
Il sibilo del falco in picchiata<br/>
La felicit&agrave; del predatore che conquista un nuovo pasto<br/>
&quot;E tutto questo sono solo lacrime<br/>
che si perdono nella pioggia&hellip;<br/>
&hellip;&egrave; tempo di morire&quot; </p>
<p>Giuseppe Cosenza<br/>
Gennaio 2000 <br/>
Corso di Formazione per Operatori di Educazione Ambientale <br/>
Istituto Pangea &ndash; Sabaudia (LT)</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
