{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Quell'anno morimmo tutti di sete...</h2>
<p>Correva l'anno 2047. <br/>
Ormai tutti i prodotti industriali non avevano nessun valore. Nessuno acquistava pi&ugrave; cellulari, lavatrici a raggi X, orologi satellitari, computer da polso, ecc. </p>
<p>Inizialmente (era il 2022) i prezzi di questi prodotti salirono alle stelle, a causa della produzione contingentata. Si perch&eacute; si obblig&ograve; le aziende a ridurre le produzioni del 70-80% sulla media del decennio precedente. I prezzi si impennarono. La corsa all'accaparramento dei prodotti provoc&ograve; un innalzamento dei prezzi di oltre il 400%. Anche l'energia, nonostante una discreta disponibilit&agrave; di energia solare ed eolica, aument&ograve; vertiginosamente: le componenti dei macchinari erano comunque contingentati. Troppo tempo si era perso nel diffondere le fonti di energia alternative. <br/>
Il petrolio restava ancora la fonte energetica primaria, anche se ridotto e costoso, e i consumi d'acqua legati ai processi di raffreddamento dei generatori erano notevoli. </p>
<p>La crisi &quot;tecnologica&quot; della nostra civilt&agrave; era legata alla scarsit&agrave; d'acqua. L'acqua era diventata un bene, non prezioso, raro! </p>
<p>Bisognava risparmiarla in ogni campo per far si che ne restasse a sufficienza per l'agricoltura e per i consumi del potabile. Le industrie dovevano farne a meno. Chiudere! <br/>
Come dicevo all'inizio i prezzi dei beni industriali salirono alle stelle, ma successivamente anche quelli dei prodotti agricoli. Come si poteva pensare che l'agricoltura dei paesi industrializzati potesse fare a meno della tecnologia e in seguito anche dell'acqua stessa. </p>
<p>L'acqua stessa cominci&ograve; a costare sempre di pi&ugrave;. Nel 2034 super&ograve; il prezzo del carburante. Poi il prezzo del carburante cominci&ograve; a scendere, cos&igrave; come quello dei prodotti industriali. Perch&eacute;?!?! Perch&eacute; non c'era pi&ugrave; domanda. Non c'era pi&ugrave; un economia vera. Il baratto sostitu&igrave; la moneta. E a chi serviva un cellulare, un auto, un telepower? Ormai si scambiava tutto per del cibo o per acqua. Ma mentre il baratto primitivo consisteva nello scambiare merce &quot;prodotta&quot;, qui si scambiava merce gi&agrave; in possesso con un p&ograve; di acqua. Svendevamo tutto. Ricordo ancora quando provai a scambiare il mio Towerlight di appena 10 anni con 50 litri di acqua, neanche depurata. Di cloro non ne parliamo: la produzione era scomparsa nel 2025. Ma a me sembrava acqua di sorgente. <br/>
Ma anche questo dur&ograve; finch&egrave; a qualcuno poteva interessare un vecchio Towerligth o un auto usata. Adesso la situazione era ancora pi&ugrave; tragica. </p>
<p>Osservavo dalla mia finestra le torri di petrolio ferme, le inutili strade asfaltate vuote che risalgono le cime delle montagne, i lampioni che illuminavano le campagne casa per casa, l'aeroporto pieno di carcasse di aerei, le dighe asciutte, case vuote o piene di cianfrusaglie inutili: frigoriferi, play-station, televisori, sedie a dondolo, bicchieri di cristallo, telecomandi, tamagochi, bottiglie di plastica, tisane anticellulite e centinaia di confezioni di Viagra. E tutto intorno il deserto: una landa desolata, gialla e polverosa, senza stagioni. Solo qua e l&agrave; qualche macchia di fico d'india o di graminacee steppose. </p>
<p>Stavamo morendo di sete, ma non nel senso che non ci fosse assolutamente niente da bere, ma nel senso che nulla poteva essere prodotto senz'acqua: energia, cibo, manufatti, igiene. <br/>
Nessuno aveva voluto rinunciare al suo benessere, alle sue comodit&agrave; moderne. Nessuno voleva spendere un solo euro per l'ambiente. Nessun politico volle prendere seriamente in considerazione il problema. </p>
<p>A nulla era servita l'istituzione di centinaia di Riserve e Parchi. Anzi si rivelarono dispendiosi baracconi che per solo progettare un ettaro di rimboschimento spendevano tanto quanto avrebbero speso per rimboschirne effettivamente 10.000. Eppure la soluzione era facile. Lo sapevano gi&agrave; dal XX secolo che c'era un solo modo per fermare l'effetto serra e la riduzione delle riserve d'acqua: ridurre i consumi, investire sulle fonti alternative e utilizzare i profitti per RIMBOSCHIRE, RIMBOSCHIRE, RIMBOSCHIRE!!!!! </p>
<p>Pubblicato su Elianto n&deg; 1/2002 </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
