{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="navPath">Readings</a></span><span class="itNav"><a href="../letture.html" class="navPath">Letture</a></span>
</div>
<div class="nav"><span class="enNav"><a href="apollo.html" class="nav">Apollo e il Pollino</a></span><span class="itNav"><a href="apollo.html" class="nav">Apollo e il Pollino</a></span>
</div>
<div class="nav"><span class="enNav"><a href="uro.html" class="nav">Il Bue</a></span><span class="itNav"><a href="uro.html" class="nav">Il Bue</a></span>
</div>
<div class="nav"><span class="enNav"><a href="abeti.html" class="nav">Cacciatori di Abeti</a></span><span class="itNav"><a href="abeti.html" class="nav">Cacciatori di Abeti</a></span>
</div>
<div class="nav"><span class="enNav"><a href="romito.html" class="nav">Grotta del Romito</a></span><span class="itNav"><a href="romito.html" class="nav">Grotta del Romito</a></span>
</div>
<div class="nav"><span class="enNav"><a href="draghi.html" class="nav">I Draghi</a></span><span class="itNav"><a href="draghi.html" class="nav">I Draghi</a></span>
</div>
<div class="nav"><span class="enNav"><a href="runner.html" class="nav">Pollino Runner</a></span><span class="itNav"><a href="runner.html" class="nav">Pollino Runner</a></span>
</div>
<div class="nav"><span class="enNav"><a href="valljie.html" class="nav">Valljie</a></span><span class="itNav"><a href="valljie.html" class="nav">Valljie</a></span>
</div>
<div class="nav"><span class="enNav"><a href="vipera.html" class="nav">Vipera</a></span><span class="itNav"><a href="vipera.html" class="nav">Vipera</a></span>
</div>
<div class="nav"><span class="enNav"><a href="madonna.html" class="nav">Madonna di Pollino</a></span><span class="itNav"><a href="madonna.html" class="nav">Madonna di Pollino</a></span>
</div>
<div class="nav"><span class="enNav"><a href="maiale.html" class="nav">Il Maiale</a></span><span class="itNav"><a href="maiale.html" class="nav">Il Maiale</a></span>
</div>
<div class="navSelf"><span class="enNav">Il Giorno del Tuono</span><span class="itNav">Il Giorno del Tuono</span>
</div>
<div class="nav"><span class="enNav"><a href="cervo.html" class="nav">Il ritorno del Cervo</a></span><span class="itNav"><a href="cervo.html" class="nav">Il ritorno del Cervo</a></span>
</div>
<div class="nav"><span class="enNav"><a href="caccia.html" class="nav">La Caccia</a></span><span class="itNav"><a href="caccia.html" class="nav">La Caccia</a></span>
</div>
<div class="nav"><span class="enNav"><a href="sete.html" class="nav">...morimmo di sete</a></span><span class="itNav"><a href="sete.html" class="nav">...morimmo di sete</a></span>
</div>
<div class="nav"><span class="enNav"><a href="cena.html" class="nav">...per la gola</a></span><span class="itNav"><a href="cena.html" class="nav">...per la gola</a></span>
</div>
<div class="nav"><span class="enNav"><a href="petrarca.html" class="nav">Inghilterra</a></span><span class="itNav"><a href="petrarca.html" class="nav">Inghilterra</a></span>
</div>
<div class="nav"><span class="enNav"><a href="teana.html" class="nav">Carnevale di Teana</a></span><span class="itNav"><a href="teana.html" class="nav">Carnevale di Teana</a></span>
</div>
<div class="nav"><span class="enNav"><a href="accettura.html" class="nav">Il Maggio di Accettura</a></span><span class="itNav"><a href="accettura.html" class="nav">Il Maggio di Accettura</a></span>
</div>
<div class="nav"><span class="enNav"><a href="hard-disk.html" class="nav">Hard Disk</a></span><span class="itNav"><a href="hard-disk.html" class="nav">Hard Disk</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="tuono/mainColumnParagraphs/0/image/Il_giorno_del_tuono.jpg" class="contentImage_right" alt=""/>
<p>Siamo partiti dalla terra del ghiaccio e della neve, dove d&rsquo;estate il sole illumina anche la notte. <br/>
Abbiamo viaggiato attraverso la terra dove corrono i Bisonti e soffia la <strong>Borea </strong>(1). Abbiamo viaggiato tra le valli e i monti di questo paese caldo e solare che chiamano Italia. <br/>
I nostri antenati hanno vagato come bestie nelle pianure del Nord cacciando <strong>Uri e Bisonti</strong> (2), sfuggendo alle tempeste, patendo la neve per molti mesi l&rsquo;anno e mangiando carne secca e cruda. <br/>
Per troppi anni siamo stati chiamati Barbari a causa delle nostre <strong>Lunghe Barbe bionde</strong> (3), insultati di essere sporchi e di puzzare come <strong>Ziegenbock</strong> (4). Per troppi anni abbiamo difeso i confini dell&rsquo;Impero, come carne da macello, tra le Legioni Romane, gli <strong>Schiavi</strong> (5)e gli <strong>Avari</strong>(6) dell&rsquo;Est, senza goderne le ricchezze. Per troppi anni ci hanno detto che i nostri Dei erano falsi. Ma se <strong>Wodan</strong> (7) non avesse voluto non saremmo qua. <br/>
Adesso abbiamo superato il <strong>Wald</strong> (8)e davanti a noi c&rsquo;&egrave; il Paradiso: orti ricchi di frutta, fiumi tiepidi che non gelano mai, <strong>Stainberga</strong> (9) scaldate dalla legna delle montagne. Questo &egrave; il Paradiso che Wodan non pu&ograve; averci negato. <br/>
Abbiamo sacrificato sia a Wodan che al Dio dei Romani i nostri bianchi <strong>Tori</strong> (10) migliori. E Il Dio dei Romani non ci ha fermato. Non ci fermer&agrave; perch&eacute; il nostro &egrave; stato un lungo viaggio. Se siamo passati sul fiume di Roma, ci lascer&agrave; passare anche sul Lao. Siamo giunti fin qua per dominare questi popoli e lo faremo. Se non ci fermeranno le croci dei Cristiani, vuol dire che il loro Dio ci ha eletti per dominarli. <br/>
Pianteremo il nostro albero sulla piazza di ogni villaggio, avremo tutti Stainberga da abitare, <strong>Zimma</strong> (11) per i nostri animali, una <strong>Land</strong> (12)da coltivare. Ogni uomo avr&agrave; donne scure e dai capelli neri come la notte. Le donne avranno un marito che lavorer&agrave; per loro. <br/>
Se necessario stermineremo chiunque tenter&agrave; di fermarci. Muoveremo guerra e il sangue scorrer&agrave;. La terra sar&agrave; ancora pi&ugrave; fertile dopo che avr&agrave; accolto il nostro e il loro sangue. <br/>
Quando la nebbia si sar&agrave; diradata usciremo dal Wald e scenderemo nella <strong>Vallis Laini</strong> (13) come tempesta di fuoco, veloci come il vento, con la furia di una tormenta di grandine. <br/>
Combatteremo e vinceremo perch&eacute; oggi &egrave; <strong>Donnerstag</strong> (14): <strong>il Giorno del Tuono!!!!</strong> </p>
<p>&nbsp;</p>
<p>Pubblicato su Elianto n&deg;2/2003</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>NOTE </h2>
<p>Racconto liberamente ispirato alla canzone &ldquo;Immigrant Song&rdquo; dei &ldquo;Led Zeppelin&rdquo;. Se ne consiglia l&rsquo;ascolto leggendo)</p>
<p>Consulenza linguistica di Susanne Wald</p>
<p>&nbsp;</p>
<p>Glossario</p>
<p>1. Borea = vento del nord diventato poi &quot;Voria&quot; nel nostro dialetto. </p>
<p>2. Le pianure del Nord Europa erano popolate da mandrie di Bisonti e Buoi selvatici (Uro). Quest&rsquo;ultimo estinto ufficialmente nel 1627 in Polonia. </p>
<p>3. Longobardo = nome attribuito a questo popolo (Winnili) probabilmente per l&rsquo;usanza di portare lunghe barbe. 4. Ziegenbock = caprone, forse ha dato origine al nostro &ldquo;Z&igrave;mmaro&rdquo;. </p>
<p>5. Schiavi= Schiavoni o Slavi. </p>
<p>6. Avari = Popolazione di origine mongolica, come gli Unni di Attila, spinsero le popolazioni germaniche verso Ovest. Quest&rsquo;ultime spesso utilizzate dall&rsquo;Impero Romano come alleati per difendere i confini esterni. </p>
<p>7. Wodan = Odino, principale divinit&agrave; germanica. I Longobardi convertiti dal Paganesimo all&rsquo;Arianesimo hanno per anni mantenuto tradizioni religiose germaniche, combattuti tra la conservazione della loro cultura e la conversione al Cristianesimo. </p>
<p>8. Wald = dal germanico Foresta. Derivano da Wald alcuni toponimi come Galdo, Gaudo, Gualdo. Guarda caso proprio tra Castelluccio Sup. e la localit&agrave; Galdo di Lauria esiste anche il toponimo Foresta. </p>
<p>9. Stainberga = dal Longobardo Stain=pietra e Berga=casa. Ha dato origine al termine italiano Stamberga. Evidentemente le case in pietra non erano comuni tra i popoli nomadi se era necessario specificarne il materiale di costruzione. </p>
<p>10. Le attuali razze bovine Podoliche comuni in Italia sono state portate in Italia dai Longobardi (Podolia= regione storica dell&rsquo;Est Europeo) </p>
<p>11. Zimma = nel nostro dialetto indica una stanza usata per l&rsquo;allevamento di animali. Deriva probabilmente dal Germanico Zimmer. </p>
<p>12. Land = Terra, terreno. &quot;Auf der land&quot; in tedesco significa &ldquo;in campagna&rdquo; e suona proprio come il nostro &ldquo;&rsquo;nda landa&rdquo; cio&egrave; &ldquo;fuori nei campi&rdquo;, intendendo i terreni non prossimali all&rsquo;abitazione dell&rsquo;agricoltore. </p>
<p>13. Laino, nella Valle del Mercure-Lao, fu Gastaldato Longobardo cio&egrave; sede di un funzionariato del Regno Longobardo. </p>
<p>14. Donnerstag= Gioved&igrave;, letteralmente Donner=tuono e Tag=giorno. Donar &egrave; Thor&nbsp; &ldquo;Dio del tuono&rdquo; </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
