{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<object width="445" height="364">
<param name="movie" value="http://www.youtube.com/v/9ybeJDusFVc&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1"/>
<param name="allowFullScreen" value="true"/>
<param name="allowscriptaccess" value="always"/><embed width="445" height="364" src="http://www.youtube.com/v/9ybeJDusFVc&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed></object>
<p>Di mio nonno paterno ho un flebile ricordo, strettamente legato al mio primo incontro con un serpente: ricordo mio zio che butt&ograve; il suo bastone, ormai &quot;sporco&quot;, usato per uccidere &quot;nu scurzone niuro&quot;. Invece la prima Vipera la ricordo ancora bene: avvolta intorno ad un palo tutore. Provai a toccarla con una luuuunga canna e si volt&ograve; contro di me mostrandomi la sua lingua bifida. Scappai urlando dallo spavento e mio nonno (materno questa volta) tent&ograve; di ucciderla.<br/>
Non sapevo allora cosa fosse una Vipera realmente, ma lo spavento preso la tramut&ograve; subito in qualcosa di pericoloso, arricchito poi da terribili leggende, e storie di decessi fulminei. Il nome di questa &quot;pericolosa e immonda bestia&quot; si traduceva in Serpente del diavolo, Guardapassi (che ti osservava camminare per poi aggredirti), Treppassi (cos&igrave; velenosa da non lasciarti compiere nemmeno tre passi dopo il morso). Ed io ci credevo, ...e tutti ci crediamo ancora.<br/>
Oggi mi incuriosisce e mi fa piacere incontrare questi affascinanti animali, non solo per gli splendidi colori e disegni che vestono, ma anche per quei momenti vissuti in campagna durante afose estati, da bambino, tra mietitori di grano, tra solchi tracciati con l'aratro di legno, e al seguito di merci trasportate &quot;cu ciuccio&quot;.<br/>
In Italia esistono solo 5 specie di serpenti considerati velenosi: una appartiene alla famiglia dei colubridi, il Colubro lacertino (Coluber monspessulanum), presente solo in poche aree al confine con la Francia e le altre quattro appartengono alla famiglia dei Viperidi.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Le Vipere Italiane</h2>
Presente in tutta Italia (Sardegna esclusa) &egrave; la Vipera Comune o Aspide (Vipera aspis), mentre la Vipera dal Corno (Vipera ammodites) e il Marasso (Vipera berus), pi&ugrave; grandi e &quot;velenose&quot; della comune sono localizzate unicamente nel Nord Italia, soprattutto nelle regioni orientali.<br/>
<p> La quarta specie &egrave; la Vipera di Orsini (Vipera ursinii) strettamente legata ad ambienti di alta montagna, localizzata sulle cime del Parco d'Abruzzo, Gran Sasso, Sibillini. Questa Vipera &egrave; rara e piccola; si nutre di insetti ed &egrave; praticamente innocua per l'uomo: &egrave; pi&ugrave; facile farsi male inciampando su un quadrifoglio che essere morsi dalle sue piccole fauci. Rischia addirittura di estinguersi e rappresenta un trofeo da collezione per erpetologi e naturalisti senza scrupoli.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="vipera/mainColumnParagraphs/00/image/vipera.jpg" class="contentImage_left" alt=""/>
	<h2>L'unica nostra vipera</h2>
In Calabria e Basilicata, e quindi nel nostro territorio, la Vipera Comune &egrave; rappresentata dalla sottospecie detta della &quot;Magna Grecia&quot; o <span>Vipera dell'Hugyi </span>(Vipera aspis hugyi). Essa si distingue dalle altre per il colore di fondo grigio percorso da una fascia o macchie brune disposte a zig-zag; si possono trovare anche esemplari melanotici (pi&ugrave; scuri) o melanici (neri). <br/>
<p> Dato per&ograve; che molti serpenti innocui tendono ad imitare i disegni del corpo delle vipere per mimetismo foberico (=somigliare ai &quot;cattivi&quot; per spaventare i nemici), e che la Vipera presenta una notevole variabilit&agrave; di pigmentazione del corpo, pu&ograve; essere molto difficile identificarla dai colori e dai disegni del dorso.<br/>
I caratteri principali che distinguono in generale tutte e 4 le vipere italiane dagli altri serpenti sono: forma della testa triangolare, muso all'ins&ugrave;, occhio con pupilla &quot;felina&quot;, lunghezza del corpo generalmente non superiore ai 75-80 cm, coda corta e tozza, squame della testa generalmente piccole e irregolari, movimenti lenti. </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Il Veleno</h2>
<p>Il veleno della Vipera &egrave; costituito da 12 proteine principali, ognuna con una propria azione tossica specifica. Le vipere presentano un paio di zanne tubolari, mobili, poste anteriormente nella bocca, direttamente collegate alla ghiandola del veleno: con il morso iniettano il veleno puro nella pelle del malcapitato, lasciando due vistosi fori. Anche i colubridi presentano ghiandole velenifere, ma il loro sistema di iniezione del veleno &egrave; meno efficace: il veleno si mescola con la saliva, lambendo passivamente la dentatura costituita da piccoli denti, pieni, di pari dimensioni. <br/>
La pericolosit&agrave; per l'uomo &egrave; sicuramente sopravvalutata: tra gli anni '80 e '84 su 2329 casi di morsi di serpenti o creduti tali, 1444 (72%) non hanno prodotto sintomi di avvelenamento; i restanti (38 %) hanno provocato diversi gradi di avvelenamento e solo 3 casi si sono rivelati fatali (a fronte di circa 5000 decessi l'anno per incidente stradale!). <br/>
Una Vipera adulta pu&ograve; inoculare al massimo 5 mg di veleno per morso, ma la dose minima mortale per un uomo di 60 kg, in buone condizioni fisiche &egrave; di 25 mg. Secondo altre fonti bibliografiche i valori sono diversi, ma il rapporto resta pressoch&eacute; identico. Possono verificarsi casi gravi di avvelenamento quando il morso colpisce direttamente grandi vasi venosi, individui cardiopatici o particolarmente sensibili e deboli. <br/>
Le probabilit&agrave; di incontrare una Vipera comune sono relativamente alte se si considera che essa frequenta quasi tutti gli ambienti (io ne ho incontrate in boschi, montagna, fienili, vigneti e petraie). In montagna pu&ograve; vivere fino ai 3000 m di quota, preferendo i versanti meridionali. Bisogna considerare per&ograve; che finch&eacute; la temperatura del suolo non supera i 14&deg; C difficilmente la Vipera esce dal suo rifugio e inoltre non sopporta temperature massime di oltre i 32-36&deg; C. Quindi durante una giornata estiva l'attivit&agrave; della Vipera &egrave; limitata soprattutto a due picchi: uno la mattina e l'altro il pomeriggio. Inoltre la Vipera non &egrave; &quot;caratterialmente&quot; mordace e morde solo se infastidita. Il veleno rappresenta fondamentalmente un supporto alla sua tecnica di caccia: una volta morsa la preda, abbandona la presa e, grazie all'olfatto la segue, e quando la ritrova ormai morta, lentamente la ingoia. <br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Il ruolo ecologico della Vipera</h2>
I nemici della Vipera sono numerosi: il riccio, il cinghiale, i rapaci diurni (il Biancone si nutre praticamente solo di serpenti), serpenti (il Biacco in particolare) e molti altri. Nessuno di loro &egrave; immune al veleno ma evitano solo accuratamente il morso: per un animale selvatico &egrave; fondamentale avere un fisico in buone condizioni e quindi qualsiasi trauma o malattia potrebbe renderlo incapace di procurarsi da vivere o avere un decorso letale come il morso di Vipera. <br/>
La Vipera contribuisce notevolmente al controllo biologico dei roditori (il 98% della sua alimentazione), da questo punto di vista, essendo un animale di scarsa mobilit&agrave; rappresenta un vero &quot;guardiano&quot; del territorio considerato che negli ambienti pi&ugrave; favorevoli pu&ograve; vivere un individuo ogni 20-30 mq: non &egrave; quindi un mostro da sterminare, ma solo un altro indispensabile tassello di quel grande mosaico di vite vegetali e animali che abitano, in equilibrio tra loro, il nostro pianeta
<p>Cosenza Giuseppe <br/>
Apollinea n&deg;3/1998 - Edizioni &quot;IL Coscile&quot; </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">INCONTRARE UNA VIPERA</div>
La Vipera non aggredisce deliberatamente. Non toccatela. Non prendete inziative da "Rambo". Non usatela per fare scherzi con gli amici.<br/>Se è nei pressi della vostra abitazione, chiamate i <b>VIGILI DEL FUOCO</b>, competenti per rischi alle persone di qualsiasi tipo.
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">MORSO DA VIPERA</div>
Ovunque voi siate la prima cosa da fare è raggiungere un <b>PRONTO SOCCORSO</b> o chiamare il <b>118.<br/><br/><br/>Qualsiasi iniziativa personale senza controllo medico può arrecare danni alla persona ancora più gravi del morso stesso.<br/><br/><br/>Non usate medicinali antivipera senza controllo medico!<br/></b>
	</div>
{% endblock %}
