        <div class="yui3-u-4-5">
          <div class="yui3-u-1-2 cell r">
            <h3>Andare a cavallo</h3>
            <!--<p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>-->
            <img src="cell.png" />
            <!--<a href="#">Approfondisci &raquo;</a><-->
          </div><div class="yui3-u-1-2 cell b">
            <img src="cell.png" />
            <h3>Visite guidate</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#">Approfondisci &raquo;</a>
          </div><div class="yui3-u-1-2 cell">
            <img src="cell.png" />
            <h3>Rafting</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#">Approfondisci &raquo;</a>
          </div><div class="yui3-u-1-2 cell r">
            <img src="cell.png" />
            <h3>Andare a pesca</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#">Approfondisci &raquo;</a>
          </div>
        </div>
        <div class="yui3-u-1-5 y">
          <h1>Some other menu</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="yui3-u-1" id="footer">
