{% load menu %}
{% menuitem "/" "Home" %}
{% menuitem "/parco_nazionale_del_pollino.html" "Parco Nazionale" %}
{% menuitem "/parco_nazionale_del_pollino/antropologia.html" "Antropologia" %}
{% menuitem "/parco_nazionale_del_pollino/fauna.html" "Fauna" %}
{% menuitem "/parco_nazionale_del_pollino/flora.html" "Flora" %}

{% menuitem "/escursioni.html" "Escursioni e Visite" %}
{% menuitem "/escursioni/trekking.html" "Escursioni e Trekking" %}
{% menuitem "/escursioni/trekking/trekking.html" "Versione stampabile" %}
{% menuitem "/escursioni/antropologia.html" "Trekking Rito Arboreo" %}
{% menuitem "/escursioni/famiglia.html" "Trekking per Famiglie" %}
{% menuitem "/escursioni/geologia.html" "Trekking Geologico" %}
{% menuitem "/escursioni/gite.html" "Visite Guidate" %}
{% menuitem "/escursioni/maratea.html" "Maratea" %}
{% menuitem "/escursioni/mountainbike.html" "Mountain bike" %}
{% menuitem "/escursioni/mountainbike/itinerario.html" "Itinerario ciclistico" %}
{% menuitem "/escursioni/mountainbike/eno-gastronomia.html" "itinerario gastronomico" %}
{% menuitem "/escursioni/mountainbike/turistico.html" "Itinerario turistico" %}

{% menuitem "/guida_pollino.html" "Guida del Pollino" %}
{% menuitem "/agriturismo.html" "Agriturismo" %}
{% menuitem "/agriturismo/asklepios.html" "Agriturismo Asklepios" %}
{% menuitem "/agriturismo/asklepios/libro_ospiti.html" "Ospiti di Asklepios" %}
{% menuitem "/agriturismo/civarra.html" "Agriturismo Civarra" %}
{% menuitem "/agriturismo/la_terrazza.html" "Agriturismo La Terrazza" %}
{% menuitem "/agriturismo/masseria.html" "Agriturismo Masseria" %}
{% menuitem "/agriturismo/Rotonda.html" "Il Pollino da Rotonda" %}
{% comment %}
#TODO(robcos) : Ripristina pagina albergo
{% menuitem "/albergo.html" "Albergo" %}
{% endcomment %}

{% menuitem "/bed_and_breakfast.html" "Bed and Breakfast" %}
<!--
{% menuitem "/bed_and_breakfast/bbpieffe.html" "Pieffe" %}
{% menuitem "/bed_and_breakfast/bbpieffe/Frascineto.html" "Pollino da Frascineto" %}
-->
{% menuitem "/bed_and_breakfast/luisella.html" "Luisella" %}
{% menuitem "/bed_and_breakfast/luisella/Rotonda.html" "Il Pollino da Rotonda" %}
{% menuitem "/bed_and_breakfast/soffitta_del_barone.html" "Soffitta del Barone" %}
{% menuitem "/bed_and_breakfast/soffitta_del_barone/Mormanno.html" "Il Pollino da Mormanno" %}
{% menuitem "/bed_and_breakfast/vecchio_camino.html" "Vecchio Camino" %}
{% menuitem "/bed_and_breakfast/vecchio_camino/Rotonda.html" "Il Pollino da Rotonda" %}

{% menuitem "/rafting.html" "Rafting" %}

{% menuitem "/scuola.html" "Per le Scuole" %}
{% menuitem "/scuola/gita_scolastica.html" "Gita Scolastica" %}

{% menuitem "/ristorantedapeppe.html" "Ristorante da Peppe" %}
{% menuitem "/ristorantedapeppe/Rotonda.html" "Il Pollino da Rotonda" %}
{% menuitem "/ristorantedapeppe/ricette.html" "Piatti e Ricette" %}

{% menuitem "/prodotti_tipici.html" "Prodotti tipici" %}
{% menuitem "/prodotti_tipici/agricoli.html" "Azienza Agricola Attadia" %}
{% menuitem "/prodotti_tipici/agricoli/confezionati.html" "Prodotti confezionati" %}
{% menuitem "/prodotti_tipici/agricoli/fagioli.html" "I Fagioli di Rotonda" %}
{% menuitem "/prodotti_tipici/agricoli/melanzana_rossa.html" "Melanzana Rossa" %}
{% menuitem "/prodotti_tipici/agricoli/ortaggi.html" "Altri ortaggi" %}
{% menuitem "/prodotti_tipici/negozio.html" "Bottega Flavia De Marco" %}
{% menuitem "/prodotti_tipici/oliodioliva.html" "Frantoio" %}

{% menuitem "/letture.html" "Letture" %}
{% menuitem "/letture/abeti.html" "Cacciatori di Abeti" %}
{% menuitem "/letture/accettura.html" "Il Maggio di Accettura" %}
{% menuitem "/letture/apollo.html" "Apollo e il Pollino" %}
{% menuitem "/letture/caccia.html" "La Caccia" %}
{% menuitem "/letture/cena.html" "...per la gola" %}
{% menuitem "/letture/cervo.html" "Il ritorno del Cervo" %}
{% menuitem "/letture/draghi.html" "I Draghi" %}
{% menuitem "/letture/hard-disk.html" "Hard Disk" %}
{% menuitem "/letture/madonna.html" "Madonna di Pollino" %}
{% menuitem "/letture/maiale.html" "Il Maiale" %}
{% menuitem "/letture/petrarca.html" "Inghilterra" %}
{% menuitem "/letture/romito.html" "Grotta del Romito" %}
{% menuitem "/letture/runner.html" "Pollino Runner" %}
{% menuitem "/letture/sete.html" "...morimmo di sete" %}
{% menuitem "/letture/teana.html" "Carnevale di Teana" %}
{% menuitem "/letture/tuono.html" "Il Giorno del Tuono" %}
{% menuitem "/letture/uro.html" "Il Bue" %}
{% menuitem "/letture/valljie.html" "Valljie" %}
{% menuitem "/letture/vipera.html" "Vipera" %}

{% menuitem "/zampogna.html" "Zampogna" %}

{% menuitem "/asino.html" "Asino chi legge!" %}
{% menuitem "/asino/allevamento.html" "Allevamento" %}
{% menuitem "/asino/latte_asina.html" "Latte" %}

{% menuitem "/come-arrivare.html" "Come arrivare" %}

{% menuitem "/foto.html" "Foto" %}

{% menuitem "/bibliografia.html" "Bibliografia" %}
{% menuitem "/ospiti.html" "Libro degli Ospiti" %}
{% menuitem "/prezzi.html" "Prezzi" %}

{% menuitem "/english.html" "English" %}
{% menuitem "/english/orchid.html" "Orchids" %}

{% menuitem "/francaise.html" "Francaise" %}
{% menuitem "/deutsch.html" "Deutsch" %}
{% menuitem "/japanese.html" "Japanese" %}

{% menuitem "/basilicata.html" "Basilicata" %}
{% menuitem "/parchi.html" "Parchi" %}
{% menuitem "/mondo.html" "Mondo" %}
{% menuitem "/pasqua.html" "Pasqua" %}
{% menuitem "/eventi.html" "Eventi" %}
{% menuitem "/lupo.html" "Lupo" %}
{% menuitem "/prenotazioni.html" "Informazioni" %}
{% menuitem "/contatti.html" "Contatti" %}
{% menuitem "/artepollino.html" "Arte Pollino" %}
{% menuitem "/pinoloricato.html" "Pino Loricato" %}
