{% extends "base.html" %}
{% block title %}Agriturismo nel Parco{% endblock %}
{% block header %}L'Agriturismo nel Parco Nazionale del Pollino{% endblock %}
{% block description %}Trova un Agriturismo consigliato nel cuore del Parco Nazionale del Pollino{% endblock %}
{% block keywords %}Agriturismo, Pollino, Rotonda{% endblock %}
{% block body %}
  {% load box %}
  {% load call %}
    {% flickr "Scegli il tuo agriturismo" "2176/2277623747_4eb94580dd_m.jpg" right horizontal %}

L'Agriturismo rappresenta il modo migliore per trascorrere una vacanza nel&nbsp;Pollino. <br/>
<br/>
Grazie all'agriturismo il rapporto con le tradizioni gastronomiche, l'ambiente, la gente del&nbsp;Pollino e l'agricoltura &egrave; totale e vissuto in prima persona.
<p><br/>
In Agriturismo la Vostra vacanza &egrave; intensa, calda, solidale, amichevole senza trascurare nessuno degli aspetti della tradizionale e calorosa ospitalit&agrave; delle genti del Pollino.</p>
  {% endbox %}

    {% flickr "Agriturismo Asklepios" "2348/2213554074_ddbeb6b515_m.jpg" left horizontal %}
L'Agriturismo pi&ugrave; piccolo del mondo, a pochi km da Rotonda.<br/>
<br/>
Pernottamento e prima colazione.<br/>
<br/>
Per gli escursionisti informazioni e pacchetti comprensivi di&nbsp; accompagnamento con Guida del Parco.<br/>
<br/>
<a class="struttura" href="agriturismo/asklepios.html">Agriturismo Asklepios&nbsp;&raquo;</a>
  {% endbox %}
    {% flickr "Agriturismo Civarra" "2344/2212437613_4d52279a13_m.jpg" right horizontal %}
Nella quiete del Pollino a 6 km dal centro di Rotonda in posizione panoramica.<br/>
<br/>
Pernottamento in 4 suite, 16 posti letto, ristorazione tipica solo su prenotazione. <br/>
<br/>
<a class="struttura" href="agriturismo/civarra.html">Agriturismo Civarra&nbsp;&raquo;</a>
  {% endbox %}
    
  {% flickr "Agriturismo La Masseria Sulle vie della Transumanza" "2800/4135798586_9a60041ff3_m.jpg" left horizontal %}
  A circa 900 metri s.l.m, nel comune di Rotonda, 
  l&rsquo;Agriturismo Masseria si trova in posizione panoramica sulla Valle del Mercure e sulle pendici del Pollino Lucano.<br/>
  <br/>
  <a class="struttura" href="agriturismo/masseria.html">Agriturismo La Masseria&nbsp;&raquo;</a>
  {% endbox %}
<!--
  {% flickr "Piccolo Agriturismo La Terrazza" "4077/4774994023_9baa73d10a_m.jpg" right horizontal %}
  A pochi km da Rotonda, il piccolo Agriturismo La Terrazza vi d&agrave; l'opportunit&agrave; di gustare la tradizionale Pitta! 
  <br/>
  <br/>
  <a class="struttura" href="agriturismo/la_terrazza.html">Piccolo Agriturismo La Terrazza&nbsp;&raquo;</a>
  {% endbox %}
 -->
  {% contentbox "Vi aspettiamo!" %}
	<img src="agriturismo/mainColumnParagraphs/02/image/Gattini.jpg" class="contentImage_right" style="margin-right:120px" alt=""/>
  {% endbox %}
{% endblock %}
{% block right %}
<!--
  {% smallbox Novit&agrave;! %}
  Visita la nuova pagina del <p class="important"><a href="/agriturismo/la_terrazza.html" class="important">Piccolo Agriturismo La Terrazza</a></p>
  {% endbox %}
-->
  {% smallbox Scegli il tuo Agriturismo %}
  <ul>
    <li><a href="/agriturismo/asklepios.html">Agriturismo Asklepios</a></li>
    <li><a href="/agriturismo/civarra.html">Agriturismo Civarra</a></li>
    <li><a href="/agriturismo/masseria.html">Agriturismo Masseria</a></li>
<!--
    <li><a href="/agriturismo/la_terrazza.html">Agriturismo La Terrazza</a></li>
-->
  </ul>
  {% endbox %}
  {% smallbox Vuoi un'altra sistemazione? %}
    Consulta la sezione <p class="important"><a href="/bed_and_breakfast.html">Bed &amp; Breakfast</a></p>
  {% endbox %}
  {% call "slideshow.html" set_id="72157604166088729" %}
  {% call "escursioni.html" %}
  {% call "prenota_visita.html" %}

{% endblock %}
