{% extends "base.html" %}
{% block title %}
 Agriturismi scelti nel Parco Nazionale del Pollino
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="index.html" class="nav">Home</a></span><span class="itNav"><a href="index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="guida.html" class="nav">The guide</a></span><span class="itNav"><a href="guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navSelfTopLevel"><span class="enNav">Farm Holidays</span><span class="itNav">Agriturismo</span>
</div>
<div class="nav"><span class="enNav"><a href="agriturismo/asklepios.html" class="nav">Agriturismo Asklepios</a></span><span class="itNav"><a href="agriturismo/asklepios.html" class="nav">Agriturismo Asklepios</a></span>
</div>
<div class="nav"><span class="enNav"><a href="agriturismo/civarra.html" class="nav">Agriturismo Civarra</a></span><span class="itNav"><a href="agriturismo/civarra.html" class="nav">Agriturismo Civarra</a></span>
</div>
<div class="nav"><span class="enNav"><a href="agriturismo/masseria.html" class="nav">Agriturismo Masseria</a></span><span class="itNav"><a href="agriturismo/masseria.html" class="nav">Agriturismo Masseria</a></span>
</div>
<div class="nav"><span class="enNav"><a href="agriturismo/la_terrazza.html" class="nav">Agriturismo La Terrazza</a></span><span class="itNav"><a href="agriturismo/la_terrazza.html" class="nav">Agriturismo La Terrazza</a></span>
</div>
<div class="nav"><span class="enNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span><span class="itNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="letture.html" class="nav">Readings</a></span><span class="itNav"><a href="letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="foto.html" class="nav">Foto</a></span><span class="itNav"><a href="foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="english.html" class="nav">English</a></span><span class="itNav"><a href="english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
  {% load box %}
  {% load call %}
    {% flickr "Scegli il tuo agriturismo" "2176/2277623747_4eb94580dd_m.jpg" right horizontal %}

L'Agriturismo rappresenta il modo migliore per trascorrere una vacanza nel&nbsp;Pollino. <br/>
<br/>
Grazie all'agriturismo il rapporto con le tradizioni gastronomiche, l'ambiente, la gente del&nbsp;Pollino e l'agricoltura &egrave; totale e vissuto in prima persona.
<p><br/>
In Agriturismo la Vostra vacanza &egrave; intensa, calda, solidale, amichevole senza trascurare nessuno degli aspetti della tradizionale e calorosa ospitalit&agrave; delle genti del Pollino.</p>
  {% endbox %}

    {% flickr "Agriturismo Asklepios" "2348/2213554074_ddbeb6b515_m.jpg" left horizontal %}
L'Agriturismo pi&ugrave; piccolo del mondo.<br/>
<br/>
Pernottamento e prima colazione<br/>
<br/>
Per gli escursionisti informazioni e pacchetti comprensivi di&nbsp; accompagnamento con Guida del Parco<br/>
<br/>
<a class="struttura" href="agriturismo/asklepios.html">Agriturismo Asklepios&nbsp;&raquo;</a>
  {% endbox %}
    {% flickr "Agriturismo Civarra" "2344/2212437613_4d52279a13_m.jpg" right horizontal %}
Nella quiete del Pollino a 6 km dal centro di Rotonda in posizione panoramica.<br/>
<br/>
Pernottamento in 4 suite, 16 posti letto, ristorazione tipica solo su prenotazione. <br/>
<br/>
<a class="struttura" href="agriturismo/civarra.html">Agriturismo Civarra&nbsp;&raquo;</a>
  {% endbox %}
    
  {% flickr "Agriturismo La Masseria Sulle vie della Transumanza" "2800/4135798586_9a60041ff3_m.jpg" left horizontal %}
  L&rsquo;Agriturismo Masseria di Senise Francesco, Si trova a circa 900 metri s.l.m. in posizione panoramica sulla Valle del Mercure sulle pendici del Pollino Lucano.<br/>
  <br/>
  <a class="struttura" href="agriturismo/masseria.html">Agriturismo La Masseria&nbsp;&raquo;</a>
  {% endbox %}

  {% flickr "Piccolo Agriturismo La Terrazza" "4077/4774994023_9baa73d10a_m.jpg" right horizontal %}
  A pochi km da Rotonda, il piccolo Agriturismo La Terrazza vi d&agrave; l'opportunit&agrave; di gustare la tradizionale Pitta! 
  <br/>
  <br/>
  <a class="struttura" href="agriturismo/la_terrazza.html">Piccolo Agriturismo La Terrazza&nbsp;&raquo;</a>
  {% endbox %}
 
  {% contentbox "Vi aspettiamo!" %}
	<img src="agriturismo/mainColumnParagraphs/02/image/Gattini.jpg" class="contentImage_right" style="margin-right:100px" alt=""/>
  {% endbox %}
{% endblock %}
{% block right %}
  {% smallbox Novit&agrave;! %}
  Visita la nuova pagina del <p class="important"><a href="/agriturismo/la_terrazza.html" class="important">Piccolo Agriturismo La Terrazza</a></p>
  {% endbox %}
  {% smallbox Scegli il tuo Agriturismo %}
  <ul>
    <li><a href="/agriturismo/asklepios.html">Agriturismo Asklepios</a></li>
    <li><a href="/agriturismo/civarra.html">Agriturismo Civarra</a></li>
    <li><a href="/agriturismo/masseria.html">Agriturismo Masseria</a></li>
    <li><a href="/agriturismo/la_terrazza.html">Agriturismo La Terrazza</a></li>
  </ul>
  {% endbox %}
  {% smallbox Album fotografico %}
Una selezione delle <a target="_blank" href="http://www.flickr.com/photos/pollino/sets/72157604166088729/">FOTO</a> più belle del Parco Nazionale del Pollino di Giuseppe Cosenza
  {% endbox %}
  {% call "escursioni.html" %}
  {% call "prenota_visita.html" %}

{% endblock %}
