  {% extends "base.html" %}
{% block title %}
 ArtePollino e non solo
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>La Giostra di Carsten Höller</h2>
<a href="http://www.flickr.com/photos/pollino/3711100302/" title="La Giostra di Carsten Höller di Pollino Kombat di Giuseppe Cosenza, su Flickr"><img height="325" width="500" src="http://farm3.static.flickr.com/2556/3711100302_43872e8420.jpg" alt="La Giostra di Carsten Höller"/></a>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Omaggio a Lao Tse di Marino di Teana</h2>
<a title="Opera di Francesco Marino di Teana - Teana (PZ) di Pollino Kombat di Giuseppe Cosenza, su Flickr" href="http://www.flickr.com/photos/pollino/3664056325/"><img height="500" width="281" alt="Opera di Francesco Marino di Teana - Teana (PZ)" src="http://farm3.static.flickr.com/2563/3664056325_b83c7d3d79.jpg"/></a>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Earth Cinema - Anish Kapoor</h2>
<a title="Earth Cinema - Anish Kapoor di Pollino Kombat di Giuseppe Cosenza, su Flickr" href="http://www.flickr.com/photos/pollino/4171742623/"><img height="375" width="500" alt="Earth Cinema - Anish Kapoor" src="http://farm3.static.flickr.com/2681/4171742623_ce85b60d1d.jpg"/></a>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
