{% extends "base.html" %}
{% block title %}
 Viaggiare nel Parco Nazionale del Pollino... con l'asino
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="asino/mainColumnParagraphs/0/image/asiniweb.jpg" class="contentImage_left" alt=""/>
	<h2>Asino... chi legge</h2>
<p>&nbsp;</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Come allevare Asini</div>
Vorresti anche tu&nbsp;aprire un allevamento di asini?<br/><a
href="contatti.html">Contattaci</a>, siamo a disposizione per consulenze.
	</div>
{% endblock %}
