<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>{% load box %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Author" content="Roberto Cosenza">
  <meta http-equiv="Content-Language" content="{%block language %}it{% endblock %}">
  <meta name="description" content="{% description %}{% block description %}Informazioni sul Parco Nazionale del Pollino{% endblock %}{% enddescription %}"/>
  <meta name="keywords" content="{% keywords %}{% block keywords %}Pollino, Agriturismo, Guida, Parco Nazionale, Escursioni, Trekking, Visite Guidate, Rafting, Basilicata, Rotonda, Potenza, Lucania, Calabria, Pino Loricato{% endblock %}{% endkeywords%}"/>
  <meta name="google-site-verification" content="2in8mPKASoP8hrAQzXu_8l07UoWD0gkwEoj65VoTQCE" />
  <title>{% title %}{% block title %} {% endblock %}{% endtitle %} | Viaggiare Nel Pollino</title>
{% if is_admin %}
  <script src="closure-library/closure/goog/base.js"></script>
  <script src="editor.js"></script>
<!--
  <link rel="stylesheet" href="/closure-library/closure/goog/css/common.css">

  <link rel="stylesheet" href="/closure-library/closure/goog/css/button.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/dialog.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/linkbutton.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/menu.css">
  <link rel="stylesheet" href="/closure-library/closure/goog/css/menuitem.css">
  <link rel="stylesheet" href="/closure-library/closure/goog/css/menuseparator.css">
  <link rel="stylesheet" href="/closure-library/closure/goog/css/tab.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/tabbar.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/toolbar.css" />

  <link rel="stylesheet" href="/closure-library/closure/goog/css/colormenubutton.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/palette.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/colorpalette.css" />

  <link rel="stylesheet" href="/closure-library/closure/goog/css/editor/bubble.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/editor/dialog.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/editor/linkdialog.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/editortoolbar.css" />
-->
{% endif %}
  <link rel="stylesheet" type="text/css" href="/reset-fonts-grids.css">
  <link rel="stylesheet" type="text/css" href="/base.css">
  <link rel="stylesheet" href="/grids-min.css" />
  <link rel="stylesheet" type="text/css" href="/custom.css">
{% if validate %}
  <script type="text/javascript">
    window.onload = function() {
      var anchors = document.getElementsByTagName('a');
      for(var i=0; i<anchors.length; i++) {
        anchors[i].href = anchors[i].href + "?validate=true";
      }
    }
  </script>
{% endif %}
<!--
  <link rel="stylesheet" type="text/css" href="/style.css">
-->
<style>
  body {
    margin: auto; /* center in viewport */
    width: 1024px;
  }
  .main {
    background-color:green;
  }
  .y { background-color:yellow}
  .r { background-color:red}
  .b { background-color:blue}

</style>
</head>
<body>
<div class="yui3-g noisy-back">
        <div class="yui3-u-1">
           <h1>Viaggiare nel Parco Pollino</h1>
          <h2>Un esperienza da fare</h2>
        </div>
        <div class="yui3-u-1 r" id="top-menu">
          <a href="#">Home</a> |
          <a href="#">Prenota</a> |
          <a href="#">Come raggiungerci</a> |
          <a href="#">Meteo</a> |
          <a href="#">Contatti</a>
        </div>
        <div class="yui3-u-4-5 selectors">
          <div class="yui3-u-1-3 vbar soggiorno b">
            <a href="#">Soggiorno</a>
          </div><div class="yui3-u-1-3 vbar escursioni r">
            <a href="#">Escursioni</a>
          </div><div class="yui3-u-1-3 vbar rafting y">
            <a href="#">Rafting</a>
          </div>
        </div>
        <div class="yui3-u-1-5 right-menu">
           <div class="rightlink prenota">
              <a href="#">Prenota!</a>
            </div>
            <div class="rightlink soggiorno">
              <a href="#">Soggiorno</a>
            </div>
            <div class="rightlink escursioni">
              <a href="#">Escursioni</a>
            </div>
            <div class="rightlink rafting">
              <a href="#">Rafting</a>
            </div>
        </div>
        <div class="yui3-u-4-5">
          <div class="yui3-u-1-2 cell r">
            <h3>Andare a cavallo</h3>
            <!--<p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>-->
            <img src="cell.png" />
            <!--<a href="#">Approfondisci &raquo;</a><-->
          </div><div class="yui3-u-1-2 cell b">
            <img src="cell.png" />
            <h3>Visite guidate</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#">Approfondisci &raquo;</a>
          </div><div class="yui3-u-1-2 cell">
            <img src="cell.png" />
            <h3>Rafting</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#">Approfondisci &raquo;</a>
          </div><div class="yui3-u-1-2 cell r">
            <img src="cell.png" />
            <h3>Andare a pesca</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#">Approfondisci &raquo;</a>
          </div>
        </div>
        <div class="yui3-u-1-5 y">
          <h1>Some other menu</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="yui3-u-1" id="footer">
          Tutti i diritti riservati <a href="#">Viaggiare nel Pollino</a> by <a href="http://robcos.com">Roberto Cosenza</a>
        </div>
    </div>
{% if is_admin %}
<div id="editor"></div>
{% endif %}
</div>
</body>
{% if not validate %}
{% include "_analytics.html" %}
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=robcos"></script>
{% endif %}
 {% if is_admin %}
  <script type="text/javascript">
    setupEditors();
  </script>
{% endif %}
<!--[if lte IE 6]><script src="/ie6/warning.js"></script><script>window.onload=function(){e("ie6/")}</script><![endif]-->
</html>
