<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>{% load box %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Author" content="Roberto Cosenza">
  <meta http-equiv="Content-Language" content="{%block language %}it{% endblock %}">
  <meta name="description" content="{% description %}{% block description %}Informazioni sul Parco Nazionale del Pollino{% endblock %}{% enddescription %}"/>
  <meta name="keywords" content="{% keywords %}{% block keywords %}Pollino, Agriturismo, Guida, Parco Nazionale, Escursioni, Trekking, Visite Guidate, Rafting, Basilicata, Rotonda, Potenza, Lucania, Calabria, Pino Loricato{% endblock %}{% endkeywords%}"/>
  <meta name="google-site-verification" content="2in8mPKASoP8hrAQzXu_8l07UoWD0gkwEoj65VoTQCE" />
  <title>{% title %}{% block title %} {% endblock %}{% endtitle %} | Viaggiare Nel Pollino</title>
{% if is_admin %}
  <script src="closure-library/closure/goog/base.js"></script>
  <script src="editor.js"></script>
  <link rel="stylesheet" href="/closure-library/closure/goog/css/common.css">

  <link rel="stylesheet" href="/closure-library/closure/goog/css/button.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/dialog.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/linkbutton.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/menu.css">
  <link rel="stylesheet" href="/closure-library/closure/goog/css/menuitem.css">
  <link rel="stylesheet" href="/closure-library/closure/goog/css/menuseparator.css">
  <link rel="stylesheet" href="/closure-library/closure/goog/css/tab.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/tabbar.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/toolbar.css" />

  <link rel="stylesheet" href="/closure-library/closure/goog/css/colormenubutton.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/palette.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/colorpalette.css" />

  <link rel="stylesheet" href="/closure-library/closure/goog/css/editor/bubble.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/editor/dialog.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/editor/linkdialog.css" />
  <link rel="stylesheet" href="/closure-library/closure/goog/css/editortoolbar.css" />

{% endif %}
  <link rel="stylesheet" type="text/css" href="/reset-fonts-grids.css">
  <link rel="stylesheet" type="text/css" href="/base.css">
  <link rel="stylesheet" type="text/css" href="/custom.css">
{% if validate %}
  <script type="text/javascript">
    window.onload = function() {
      var anchors = document.getElementsByTagName('a');
      for(var i=0; i<anchors.length; i++) {
        anchors[i].href = anchors[i].href + "?validate=true";
      }
    }
  </script>
{% endif %}
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
{% if is_admin %}
<div id="editor"></div>
{% endif %}

<div id="doc4" class="yui-t2">
  <div id="hd">
    <!-- MASTHEAD START -->
    <div id="headerImage"><img src="/docroot/samples/imgs/header.jpg" alt="Pollino - Logo" width="974"/><br/></div>
    <!-- MASTHEAD END -->
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-ge">
          <div class="yui-u first">
            <!-- MAIN COLUMN 1 START -->
            <h1 id="site-title">{% header %}{% block header %}Viaggiare nel pollino{% endblock %}{% endheader %}</h1>
            {% block body %} Body {% endblock %}
            <!-- MAIN COLUMN 1 END -->
          </div>
          <div class="yui-u">
            <!-- MAIN COLUMN 2 START -->
            {% block right%} right {% endblock %}
            {% include "_right.html" %}
            <!-- MAIN COLUMN 2 END -->
          </div>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <!-- SECONDARY COLUMN START -->
      <div id="navDiv">
        {% include "_menu.html" %}
        {% include "_leftad.html" %}
      </div>
      <!-- SECONDARY COLUMN END -->
    </div>
  </div>
  <div id="ft">
    <!-- FOOTER START -->
    {% include "_footer.html" %}
    <!-- FOOTER END -->
  </div>
</div>
</body>
{% if not validate %}
{% include "_analytics.html" %}
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=robcos"></script>
{% endif %}
 {% if is_admin %}
  <script type="text/javascript">
    setupEditors();
  </script>
{% endif %}
<!--[if lte IE 6]><script src="/ie6/warning.js"></script><script>window.onload=function(){e("ie6/")}</script><![endif]-->
</html>
