{% extends "base.html" %}
{% block title %}Bed and Breakfast{% endblock %}
{% block header %}Bed and Breakfast nel Pollino{% endblock %}
{% block description %}Trova un Bed &amp; Breakfast consigliato nel cuore del Parco Nazionale del Pollino{% endblock %}
{% block keywords %}Bed &amp; Breakfast, Pollino, Rotonda, Mormanno, Frascineto{% endblock %}
{% block body %}
  {% load box %}
  {% load call %}
	{% local "Una vacanza in un'area naturale protetta..." "/bed_and_breakfast/mainColumnParagraphs/00/image/castello_rotonda.jpg" right horizontal %}
...senza perdersi l'accogliente e tranquilla vita degli antichi scorci del centro storico.   <br/>
<br/>
<br/>
Liberi di uscire la sera, di tornare tardi, di mangiare nel ristorante che preferite, di cucinarvi da soli.
  {% endbox %}
    
	{% local_linked "Bed and Breakfast Al Vecchio Camino" "/bed_and_breakfast/mainColumnParagraphs/0/image/camino.jpg" left horizontal "/bed_and_breakfast/vecchio_camino.html" %}
  A poche centinaia di metri dalla piazza principale di Rotonda.
    {% call "struttura.html" href="/bed_and_breakfast/vecchio_camino.html" name="B&amp;B Al Vecchio Camino" %}
  {% endbox %}
	{% local_linked "Bed and Breakfast Luisella" "/bed_and_breakfast/mainColumnParagraphs/01/image/luisella.jpg" right horizontal "/bed_and_breakfast/luisella.html" %}
  Piccolo ma confortevole Bed &amp; Breakfast nel centro storico di Rotonda.<br/>
    {% call "struttura.html" href="/bed_and_breakfast/vecchio_camino.html" name="B&amp;B Luisella" %}
  {% endbox %}
	{% local_linked "Bed and Breakfast Pieffe" "/bed_and_breakfast/mainColumnParagraphs/03/image/fuori_8.jpg" left horizontal "/bed_and_breakfast/bbpieffe.html" %}
A Frascineto, nel versante sud del Parco Nazionale del Pollino a pochi Km dal Canyon del Raganello e dal Mar Jonio<br/>
    {% call "struttura.html" href="/bed_and_breakfast/bbpieffe.html" name="B&amp;B Pieffe" %}
  {% endbox %}

	{% local_linked "Bed and Breakfast La Soffitta del Barone" "/bed_and_breakfast/mainColumnParagraphs/04/image/3670373439_cd40939eb3_m.jpg" right horizontal "/bed_and_breakfast/soffitta_del_barone.html" %}
A Mormanno tra Valle del Lao, L'Orsomarso e il Pollino.<br/>
<br/>
    {% call "struttura.html" href="/bed_and_breakfast/soffitta_del_barone.html" name="B&amp;B La Soffitta del Barone" %}
  {% endbox %}
{% endblock %}
{% block right %}
  {% smallbox Scegli il tuo Bed and Breakfast %}
  <ul>
    <li><a href="/bed_and_breakfast/vecchio_camino.html">B&amp;B Al Vecchio Camino (Rotonda)</a></li>
    <li><a href="/bed_and_breakfast/luisella.html">B&amp;B Luisella (Rotonda)</a></li>
    <li><a href="/bed_and_breakfast/bbpieffe.html">B&amp;B Pieffe (Frascineto)</a></li>
    <li><a href="/bed_and_breakfast/soffitta_del_barone.html">B&amp;B La Soffitta del Barone (Mormanno)</a></li>
  </ul>
  {% endbox %}
  {% smallbox Vuoi un'altra sistemazione? %}
    Consulta la sezione <p class="important"><a href="/agriturismo.html">Agriturismo</a></p>
  {% endbox %}
  {% call "escursioni.html" %}
  {% call "slideshow.html" set_id="72157603866926548" %}
  {% call "prenota_visita.html" %}
{% endblock %}
