{% extends "base.html" %}
{% block title %}
 Viaggiare nel Pollino in... Bed and Breakfas
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="index.html" class="nav">Home</a></span><span class="itNav"><a href="index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="guida.html" class="nav">The guide</a></span><span class="itNav"><a href="guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navSelfTopLevel"><span class="enNav">Bed and Breakfast</span><span class="itNav">Bed and Breakfast</span>
</div>
<div class="nav"><span class="enNav"><a href="bed_and_breakfast/vecchio_camino.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="bed_and_breakfast/vecchio_camino.html" class="nav">Vecchio Camino</a></span>
</div>
<div class="nav"><span class="enNav"><a href="bed_and_breakfast/luisella.html" class="nav">Luisella</a></span><span class="itNav"><a href="bed_and_breakfast/luisella.html" class="nav">Luisella</a></span>
</div>
<div class="nav"><span class="enNav"><a href="bed_and_breakfast/bbpieffe.html" class="nav">Pieffe</a></span><span class="itNav"><a href="bed_and_breakfast/bbpieffe.html" class="nav">Pieffe</a></span>
</div>
<div class="nav"><span class="enNav"><a href="bed_and_breakfast/soffitta_del_barone.html" class="nav">Soffitta del Barone</a></span><span class="itNav"><a href="bed_and_breakfast/soffitta_del_barone.html" class="nav">Soffitta del Barone</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="letture.html" class="nav">Readings</a></span><span class="itNav"><a href="letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="foto.html" class="nav">Foto</a></span><span class="itNav"><a href="foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="english.html" class="nav">English</a></span><span class="itNav"><a href="english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="bed_and_breakfast/mainColumnParagraphs/00/image/castello_rotonda.jpg" class="contentImage_left" alt=""/>
	<h2>Bed and Breakfast</h2>
<br/>
Una vacanza in un'area naturale protetta...    <br/>
<br/>
<br/>
senza perdersi l'accogliente e tranquilla vita degli antichi scorci del centro storico.   <br/>
<br/>
<br/>
Liberi di uscire la sera, di tornare tardi, di mangiare nel ristorante che preferite, di cucinarvi da soli.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="bed_and_breakfast/mainColumnParagraphs/0/image/camino.jpg" class="contentImage_left" alt=""/>
	<h2>Bed and Breakfast Al Vecchio Camino</h2>
A poche centinaia di metri dalla piazza principale di Rotonda.<br/>
<br/>
Vai alla pagina di <a href="bed_and_breakfast/vecchio_camino.html">Al Vecchio Camino</a> per maggiori informazioni<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="bed_and_breakfast/mainColumnParagraphs/01/image/luisella.jpg" class="contentImage_left" alt=""/>
	<h2>Bed and Breakfast Luisella</h2>
<br/>
Piccolo ma confortevole Bed &amp; Breakfast nel centro storico di Rotonda.<br/>
<br/>
Vai alla pagina di <a target="_blank" href="bed_and_breakfast/luisella.html">Luisella</a> per maggiori informazioni<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="bed_and_breakfast/mainColumnParagraphs/03/image/fuori_8.jpg" class="contentImage_left" alt=""/>
	<h2>Bed and Breakfast Pieffe</h2>
A Frascineto, nel versante sud del Parco Nazionale del Pollino a pochi Km dal Canyon del Raganello e dal Mar Jonio<br/>
<br/>
Vai alla pagina di <a target="_blank" href="bed_and_breakfast/bbpieffe.html">B&amp;B Pieffe</a> per maggiori informazioni<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="bed_and_breakfast/mainColumnParagraphs/04/image/3670373439_cd40939eb3_m.jpg" class="contentImage_left" alt=""/>
	<h2>Bed and Breakfast La Soffitta del Barone</h2>
A Mormanno tra Valle del Lao, L'orsomarso e il Pollino.<br/>
<br/>
Vai alla pagina del<a href="bed_and_breakfast/soffitta_del_barone.html"  target="_blank"> B&amp;B La Soffitta del Barone</a> per maggiori informazioni<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="bed_and_breakfast/mainColumnParagraphs/02/image/2709897081_15cc66101d_m.jpg" class="contentImage_left" alt=""/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Scegli il tuo Bed and Breakfast</div>
<a href="bed_and_breakfast/vecchio_camino.html"><b>Al Vecchio Camino</b></a><br/><br/><a href="bed_and_breakfast/luisella.html"><b>Luisella</b></a><br/><br/><b><a href="bed_and_breakfast/bbpieffe.html"><b>Pieffe</b></a></b>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Escursioni e Visite Guidate</div>
Per chi ama la montagna o vuole visitare il Parco in generale, pressola reception, disporrà di documentazione e materiali informativi.<br/><br/>Chi vuole percorrere l’ampia rete di sentieri del Pollino potrà usufruire dei servizi di una<br/><a href="guida.html"><b>&nbsp;Guida Ufficiale del Parco </b></a>
	</div>
{% endblock %}
