{% extends "base.html" %}
{% block title %}
 Viaggiare nel Parco Nazionale del Pollino... leggendo
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Bibliografia</h2>
1. Sui Sentieri del Pollino di G. Braschi edizioni il Coscile - Castrovillari II^ Edizione 1996<br/>
2. A piedi sul Pollino di E. Pisarra edizioni Prometeo Castrovillari 2001<br/>
3. Fiori e piante di L. Bernardo edizioni Prometeo Castrovillari 2002<br/>
4. I Monti dell'Orsoamrso di F. Bevilacqua edizioni il coscile<br/>
5. Pollino di G. Braschi edizioni Pugliesi Martina Franca 2003<br/>
6. Pollino di Polese edizioni F. Motta Venezia 2002<br/>
7. Guida al Parco nazionale del Pollino Edizioni Verona<br/>
8. In Cammino sul Pollino di E. Pisarra e L. Troccoli con edizione in inglese Edizioni Prometeo Castrovillari 1994 <br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
