{% extends "base.html" %}
{% block title %}
 Come arrivare nel Parco Nazionale del Pollino
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Dove siamo?</h2>
<p>Noi siamo a <strong>Rotonda</strong>, in&nbsp; provincia di Potenza, Basilicata,&nbsp;nel Parco Nazionale del Pollino</p>
<p>Il Parco Nazionale del Pollino abbraccia due regioni, Calabria e Basilicata, 3 province, Potenza, Cosenza, Matera.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>ATTENZIONE!</h2>
&nbsp;Spessso alcune mappe su internet danno indicazioni per strade pi&ugrave; lunghe di quanto necessario. Vi consigliamo di utlizzare queste mappe per ricercare la strada dalla vostra citt&agrave; fino allo svincolo autostrale pi&ugrave; vicino a Rotonda. Da qui potrete fare a meno delle mappe in quanto Rotonda &egrave; ben indicata.<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Con l'Auto</h2>
Raggiungere e percorrere l&rsquo;Autostrada Salerno-Reggio Calabria ed uscire a LAURIA SUD, LAINO o&nbsp; CAMPOTENESE e proseguire per Rotonda.<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="come-arrivare/mainColumnParagraphs/01/image/mappa-generale.jpg" class="contentImage_left" alt=""/>
	<h2>Questa mappa vi serve per avvicinarvi al Pollino e a Rotonda</h2>
<p>&nbsp;</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="come-arrivare/mainColumnParagraphs/00/image/mappa_dettagliata.jpg" class="contentImage_left" alt=""/>
	<h2>Questa mappa vi serve una volta raggiunta l'autostrada Salerno Reggio Calabria, per raggiungere Rotonda e le nostre strutture</h2>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
<p>Con L&rsquo;autobus <br/>
Ci sono numerose autolinee che fermano poco lontano da Rotonda. <br/>
Consultate gli orari disponibili sui seguenti siti: <br/>
</p>
<p>Dal Nord (Roma, Firenze, Perugia, Milano, Padova, Bologna, Genova, Torino, Germania, Svizzera) <a href="http://www.simetspa.it/">www.simetspa.it</a> <br/>
</p>
<p>Dalla Puglia <a href="http://www.saj.it/">www.saj.it</a> <br/>
</p>
<p>Da Napoli e Salerno <a href="http://www.slasrl.it">www.slasrl.it</a></p>
<p>Dalla Calabria, abbiate pazienza ma &egrave; un pessimo sito, <a href="http://www.ferroviedellacalabria.com/Servizi.htm" target="_blank">www.ferroviedellacalabria.com</a></p>
<p>Con il Treno</p>
<p>La Stazione pi&ugrave; vicina &egrave; Sapri (SA).</p>
<p><br/>
</p>
<p>Per ulteriori informazioni usa l'apposito <a href="contatti.html">modulo</a><br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">INFO</div>
Scrivi a <a href="contatti.html">contatti</a> per prenotare la tua escursione oppure telefona allo 0973.669290 -&nbsp;347.2631462 dalle 14 alle 20&nbsp;
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Come raggiungerci?</div>
In questa pagina informazioni per raggiungerci in:<br/><br/>Auto<br/><br/>Autobus<br/><br/>Treno
	</div>
{% endblock %}
