/*
  font-size: 13px
  1px -> 0.0769em
  4px -> 0.3076em
  8px -> 0.6144em
*/
#doc4 {
  background: white;
  border: solid green 0.2307em;
  -moz-border-radius: 0.2307em;
  -khtml-border-radius: 0.2307em;
  -webkit-border-radius: 0.2307em;
}

#bd {
  margin-top:  0.3076em
}

.yui-ge div.first {
  width: 70.00%;
  margin-right: 0;
  margin-left: 0;
}

.yui-ge .yui-u {
  width: 28.42%;
  font-size: 0.769em;
  margin-right: 0.6em;
  margin-left: 0.6em;
  margin-top: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  text-align:center;
  background-image:url('/imgs/back.jpg');
  font-family: Verdana,sans-serif
}
/*
#disclaimer {
  xfloat:right;
  margin-left:10px;
  color:black;
  right:0px;
  position:relative;
}
*/
.sidebar-box {
  margin-bottom: 0.8em;
  border: 0.2em solid green;
  -moz-border-radius: .5em;
  -khtml-border-radius: .5em;
  -webkit-border-radius: .5em;
  behavior: url(/border-radius.htc);
}

.sidebar-box .content {
  padding: 0 0.6em 0.6em 0.6em;
}

.sidebar-box p {
  padding-bottom:4px;
}

.sidebar-box a {
  font-weight: bold;
}

.sidebar-box h1 {
  font-size:1.1em;
  margin: 0 0 0.4em 0;
  padding:0;
  background-color:green;
  color:#FFFFFF;
  font-weight:bold;
  padding-bottom:0.3em;
  padding-left:0.2em;
  padding-top:0.2em;
}

.sidebar-box h2 {
  font-size:1.1em;
  margin: 0.4em 0 0 0;
  padding:0;
}

a.nav {
  color:#333333;
  text-decoration:none;
}

a.navPath, .navSelf, .navSelfTopLevel {
  color:green;
  /*color:#538307;*/
  text-decoration:none;
}

.nav, .navSelf {
  padding-bottom:2px;
  padding-top:2px;
}

.navTopLevel, .navSelfTopLevel {
  padding-top:3px;
  padding-bottom:3px;
  font-weight:bold;
}

.navLine, .line {
  background-color:#999999;
  font-size:1px;
  line-height:1px;
  height:1px;
}

#navDiv {
  width:170px;
  padding: 1em;
  padding-top: 0.4em;
  padding-right: 0;
  float: left;
  font-size: 0.769em;
}

#navDiv div.nav, #navDiv div.navSelf {
  padding-left:10px;
}

#navDiv div.nav2, #navDiv div.navSelf2 {
  color:green;
  padding-left:20px;
}

.content-box {
  clear: both;
  margin-bottom:8px;
}
.content-box h2 {
  border-bottom: 1px solid green;
  padding-bottom: 2px;
}

.contentImage_left {
	float:left;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
}

.contentImage_right {
	float:right;
  margin-left: 0.6em;
  margin-bottom: 0.6em;
}

a.struttura {
  font-size: 1.1em;
  font-weight: bold;
}

p.struttura {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 2em;
}

.content-box .content {
}

h1 {
  color: green;
  margin-top: 0.5em;
  font-size:160%;
}

.content-box h2 {
  line-height: 1.2em;
  margin-top: 0.6144em;
  margin-bottom: 0.6144em;
}

ul.phones {
  font-style: italic;
  margin: 10px 0;
  width: 100%;
  text-align:center;
}

ul.phones li {
  margin: 0;
  list-style: none;
}

p.important {
  font-weight: bold;
  padding: 4px 0;
  text-align:center;
}

.content-box a, .sidebar-box a {
  color: green;
  font-style: italic;
  font-weight: bold;
  
}

li {
  padding-bottom: 0.5em;
}
