{% extends "base.html" %}
{% block title %}
 Willkommen im Pollino Nationalpark
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="index.html" class="nav">Home</a></span><span class="itNav"><a href="index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="guida.html" class="nav">The guide</a></span><span class="itNav"><a href="guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="letture.html" class="nav">Readings</a></span><span class="itNav"><a href="letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="foto.html" class="nav">Foto</a></span><span class="itNav"><a href="foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="english.html" class="nav">English</a></span><span class="itNav"><a href="english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navSelfTopLevel"><span class="enNav">Deutsch</span><span class="itNav">Deutsch</span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Agriturismo Asklepios im Nationalpark des Pollino</h2>
<p>F&uuml;r Wanderer und Exkursionisten ist das Asklepios die richtige Adresse, da der Inhaber des Asklepios, Giuseppe Cosenza, einer der wenigen englisch sprechenden Bergf&uuml;hrer des Pollinonationalparks ist. Er steht seinen G&auml;sten mit Ausk&uuml;nften und Informationen zu Flora und Fauna, sowie auch Tipps zu m&ouml;glichen Exkursions- und Ausflugszielen gerne zur Verf&uuml;gung.</p>
<p>Das kleine Bauernhaus der Familie Cosenza liegt am Fu&szlig; der Berge des Pollinomassivs, umgeben von 2,5 ha Garten und kleinen Feldern, wo von allem ein wenig angebaut wird: Oliven, Auberginen, Tomaten, Bohnen, Apfel, Birnen, Feigen und Kiwi. Die H&uuml;hner scharren im Garten. <br/>
Das Haus ist 2 km vom Dorf Rotonda entfernt, in dem sich auch die Verwaltung des Nationalparks befindet, und bietet einen sehr sch&ouml;nen Ausblick auf die Berge.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Unterbringung</h2>
<p>3 einfache Zi. mit 2-4 Betten, Gemeinschaftsbad, K&uuml;che, Heizung, Computerzugang f&uuml;r G&auml;ste. </p>
<p>Direktverkauf: <br/>
Was im Gem&uuml;segarten gerade herangereift ist sowie Eier.</p>
<p>Verpflegung:<br/>
Wer nicht selber in der Gemeinschaftsk&uuml;che des Agriturismo Asklepios kochen m&ouml;chte hat in Rotonda verschiedene gute Restaurants und Pizzerien zur Auswahl. Sehr empfehlenswert ist beispielsweise das Restaurant &bdquo;da Peppe&ldquo; in dem zahlreiche k&ouml;stliche lokale Spezialit&auml;ten serviert werden.<br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Exkursionen und Ausflüge</h2>
<p>Giuseppe Cosenza bietet als Nationalparkf&uuml;hrer Wanderungen aller Schwierigkeitsgrade an. Sowohl leichtere Wanderungen zu den tausendj&auml;hrigen Panzerf&ouml;hren (Pini Loricati) und Buchen in den Bergw&auml;ldern, als auch Wanderungen hoch hinauf auf den Monte Pollino (2248) und den Dolcedorme (2267). Im Winter werden Schneeschuhwanderungen angeboten. </p>
<p>Dar&uuml;ber hinaus bietet Giuseppe Cosenza auch verschiedene Ausfl&uuml;ge in die kleinen Bergd&ouml;rfer des Nationalparks an, unter den zahlreichen Ausflugszielen befindet sich:<br/>
Rotonda mit dem Museum des Elefanten,<br/>
Laino Castello, ein auf einem 400 m hohen Bergr&uuml;cken liegendes altes Dorf, welches in den achtziger Jahren aufgrund von Einsturzgefahr von der gesamten Bev&ouml;lkerung verlassen werden musste und nun immer mehr verf&auml;llt<br/>
Laino Borgo, in dessen N&auml;he sich die &bdquo;Santuario delle Cappelle&ldquo; befindet. 1560 lie&szlig; ein Jerusalempilger dort in Miniatur die heiligen St&auml;tten um die dort gelegene Kirche bauen, in die er auch Steine aus dem Heiligen Land einf&uuml;gte. <br/>
Morano Calabro mit seinen alten H&auml;usern, die sich malerisch um einen fast 700 m hohen Bergkegel schmiegen, <br/>
die altsteinzeitliche H&ouml;hlenzeichnung in der &bdquo;Grotta del Romito&ldquo; bei Papasidero, <br/>
oder auch das Albanerdorf Civita am Eingang der 6 km langen und bis 700 m tiefen Raganello&ndash;Schlucht.</p>
<p>Weiterhin locken auch die sch&ouml;nen Str&auml;nde der kleinen Buchten der Felsenk&uuml;ste von Maratea am Tyrrehnischen Meer, die ebenso wie die langen Sandstr&auml;nde im Golf von Sibari am ionischen Meer, ca. eine Stunde Autofahrt von Rotonda entfernt liegen. Die Str&auml;nde von Maratea sind auch mit dem Bus von Rotonda aus zu erreichen.</p>
<p>&Uuml;ber Giuseppe Cosenza kann man auch Rafting in den Schluchten des wenige Kilometer entfernten Flu&szlig; Lao buchen.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Preise</h2>
<p>Exkursionen im Pollinogebirge&nbsp; &euro; 150 f&uuml;r gruppen<br/>
Gruppen von weniger als 7 Personen&nbsp;&nbsp; &euro; 20 Pro Person<br/>
!Die Preisreduzierungen gelten nicht in den Monaten April und Mai!</p>
<p>Agriturismo<br/>
&Uuml;/F &euro; 25<br/>
50% Reduzierung f&uuml;r Kinder zwischen 6 und 12 Jahren.<br/>
Kochm&ouml;glichkeit in Gemeinschaftsk&uuml;che &euro; 2,00 pro Person und Tag</p>
<p>Mittag- und Abendessen bei ausgesuchten Agriturismi und Restaurants ab Euro 12,50 bis 18,50<br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Exkursionsangebot </h2>
<p>1. eine &Uuml;bernachtung mit Fr&uuml;hst&uuml;ck <br/>
2. Vesperpaket<br/>
3. ein kleiner snack nach Exkursionsr&uuml;ckkehr <br/>
4. eine gef&uuml;hrte Exkursion </p>
<p>F&uuml;r Gruppen mit 3 oder weniger Personen/oder Hochsaison &euro; 45,00 pro Person und Tag<br/>
F&uuml;r Gruppen ab vier Personen/oder Niedrigsaison &euro; 40,00 pro Person und Tag<br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Anreise</h2>
<p>Mit dem Auto: A 3 Ausfahrt. Campotenese, dann Richtung Rotonda, an der Kaserne des &bdquo;Corpo Forestale&ldquo; links in die kleine Strasse einbiegen, und ca. 2 km weiterfahren.</p>
<p>Mit dem Zug: Sapri (Abholung dort nach Absprache)</p>
<p>Mit dem Flugzeug: Neapel und von dort mit Bus oder Zug weiter. (Busabfahrt am Hauptbahnhof)</p>
<p>Bus: Napoli -Rotonda (<a href="http://www.slasrl.it">www.slasrl.it</a>) </p>
<p>Bus: u.a. ab Napoli, Roma, Perugia, Firenze, Bologna, Milano, Torino bis Campotenese (<a href="http://www.simetspa.it">www.simetspa.it</a>) </p>
<p>Bus direkt ab Deutschland: <br/>
International Busline Hamburg, K&ouml;ln, Fribourg, bis Campotenese oder Lauria (<a href="http://www.simetspa.it">www.simetspa.it</a>) <br/>
(Abholung in Campotenese/ Lauria nach Absprache) </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
<a href="contatti.html"><b>RESERVIERUNG</b></a><br/><b><br/>Informationen (auf englisch)<br/></b><b>0973.669290<br/>347.2631462</b>
	</div>
{% endblock %}
