{% extends "base.html" %}
{% block title %}
 Escursioni, Trekking, Passeggiate nel Parco Nazionale del Pollino
{% endblock %}
{% block body %}
{% load box %}
{% contentbox "Guida ufficiale del parco nazionale del pollino" %}
Se per la vostra vacanza pensate di affidarvi ad una guida escursionistica, visitate la pagina <a href="guida.html">GUIDA DEL POLLINO</a><br/>
{% endbox %}
{% local "Il Pollino è per tutti" "escursioni/mainColumnParagraphs/0/image/v170_monte_pollino.jpg" horizontal right %}
<!-- TODO(robcos): add links -->
<p><strong>ESCURSIONI E TREKKING</strong><br/>
Per chi &egrave; allenato a camminare anche pi&ugrave; di 5 ore al giorno, ma senza difficolt&agrave; alpinistiche, e particolari prestazioni. Solo voglia di camminare.</p>
<p>&nbsp;</p>
<p><strong>TREKKING PER FAMIGLIE</strong></p>
<p>Per chi ama condividere la natura con la propria famiglia</p>
<p>&nbsp;</p>
<p><strong>TOUR e GITE<br/>
</strong>Per chi vuole &quot;vagare&quot; per monti, boschi, fiumi, centri storici, punti panoramici, aree archeologiche prati, farfalle e altri animali, spostandosi in auto, senza la necessit&agrave; di fare camminate difficili e pi&ugrave; lunghe di 30-60 minuti. Anche per gruppi numerosi in gita.</p>
<p>&nbsp;</p>
<p><strong>TREKKING DEI RITI ARBOREI</strong><br/>
Quando l'animale pi&ugrave; interesante da conoscere &egrave; l'uomo &quot;culturale&quot;, seguendo i RITI ARBOREI</p>
<p>&nbsp;</p>
<p><strong>MOUNTAIN BIKE<br/>
</strong>Per chi ama vagare nel Pollino seguendo la complessa rete di strade sterrate e sentieri percorribili in bicletta, dalla Costa del Tirreno fino allo Jonio</p>
<p>&nbsp;</p>
<p><strong>TREKKING GEOLOGICO E TEMATICI</strong><br/>
Quando si vuole conoscere il Pollino partendo da un punto di vista particolare: geologia, zoologia, antropologia, storia, lingua, botanica, fotografia, neve, ecc</p>
<p>&nbsp;</p>
<p><strong>TREKKING MARATEA: NON SOLO MARE</strong><br/>
Camminare sulla Costa di Maratea</p>
<p>&nbsp;</p>
<p><strong>MUOVERSI DA SOLI</strong></p>
<p>Suggerimenti per visitare il Pollino e dintorni in completa autonomia</p>
{% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% load box %}
  {% call "prenota_visita.html" %}
  {% call "tariffe_escursioni.html" %}
{% endblock %}
