{% extends "base.html" %}
{% block title %}
 Viaggiare nel Pollino... divertendosi
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="index.html" class="nav">Home</a></span><span class="itNav"><a href="index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="guida.html" class="nav">The guide</a></span><span class="itNav"><a href="guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="letture.html" class="nav">Readings</a></span><span class="itNav"><a href="letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="foto.html" class="nav">Foto</a></span><span class="itNav"><a href="foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="english.html" class="nav">English</a></span><span class="itNav"><a href="english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navSelfTopLevel"><span class="enNav">Eventi</span><span class="itNav">Eventi</span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Sagra dell'Olio di Oliva</h2>
A Rotonda 12 Agosto 2009<br/>
<br/>
IV Edizione<br/>
<br/>
A cura del Frantoio di Tedesco Franco<br/>
Vincitore premio &quot;OLIVARUM&quot; Regione Basilicata<br/>
<br/>
Per informazioni <br/>
<b>0973.667193<br/>
340.2418130</b>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="eventi/mainColumnParagraphs/06/image/2214779442_e342e6f003_m.jpg" class="contentImage_left" alt=""/>
	<h2>Sagra della Melanzana Rossa di Rotonda</h2>
Rotonda 25 Agosto 2009<br/>
<br/>
A cura del Ristorante Da Peppe<br/>
<br/>
Per informazioni <b>0973.661251</b><br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Pollino Music Festival 2009</h2>
POLLINO MUSIC&nbsp; FESTIVAL 2009&nbsp; _ XIV edizione<br/>
6, 7, 8 e 9 agosto _ San Severino Lucano (PZ) _ Parco Nazionale Del Pollino<br/>
Campo Sportivo &amp; Centro storico&nbsp; -&nbsp; INGRESSO LIBERO <br/>
Programma <br/>
<br/>
gioved&igrave; 6 agosto - Anteprima PMF '09 <br/>
Centro storico _ ore 21,30 <br/>
Proiezione del film L'Orchestra di Piazza Vittorio di Agostino Ferrente&nbsp; vedi il trailer<br/>
<br/>
venerd&igrave; 7 agosto <br/>
Centro storico _ dalle 11,00 alle 14,00 e dalle 18,00 alle 21,00 <br/>
CERTO SENSO: aperitivo musicale a km 0 <br/>
Don Francisc &quot;Taranta Lounge&quot; dj set www.tarantola.de<br/>
<br/>
Campo sportivo _ dalle 21,00 in poi <br/>
Don Francisc' &quot;Taranta Dance&quot; dj set&nbsp; www.tarantola.de <br/>
CAPONE &amp; BungtBangt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.caponebungtbangt.com <br/>
L'ORCHESTRA DI PIAZZA VITTORIO&nbsp;&nbsp; www.orchestradipiazzavittorio.it<br/>
<br/>
sabato 8 agosto<br/>
Centro storico _ dalle 11,00 alle 14,00 e dalle 18,00 alle 21,00 <br/>
CERTO SENSO: aperitivo musicale a km 0 <br/>
Brigante Sound &quot;Striktly Roots&quot; dj set&nbsp;&nbsp; www.myspace.com/brigantesound <br/>
ospiti: Manuel &amp; Big Simon (Krikka Reggae)<br/>
<br/>
Campo sportivo dalle 21,00 in poi <br/>
Bum Bum Baby San&nbsp;&nbsp; www.myspace.com/bumbumbabysan <br/>
ALMAMEGRETTA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.myspace.com/almamegretta <br/>
SUD SOUND SYSTEM &amp; Bag A riddim Band www.sudsoundsystem.eu <br/>
Brigante Sound dj set&nbsp;&nbsp;&nbsp; www.myspace.com/brigantesound<br/>
<br/>
domenica 9 agosto <br/>
Centro storico _&nbsp; dalle 11,00 alle 14,00 e dalle 18,00 alle 21,00 <br/>
CERTO SENSO: aperitivo musicale a km 0 <br/>
Devasto &quot;PMF Vibrations&quot; dj set www.myspace.com/djdevasto<br/>
<br/>
Centro storico_ dalle 21,00 in poi <br/>
Racconta Pollino <br/>
Smania Uagliuns&nbsp; www.myspace.com/uagliuncasmania <br/>
mArAsmA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.myspace.com/marasmaband &nbsp;<br/>
Il Ristretto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.myspace.com/ilristretto <br/>
Musicamanovella&nbsp; www.myspace.com/musicamanovella <br/>
ANDREA RIVERA&nbsp;&nbsp; www.myspace.com/riveraandrea<br/>
<br/>
&nbsp;<br/>
<br/>
<br/>
<br/>
<br/>
&nbsp; <br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="eventi/mainColumnParagraphs/0/image/radici_festival.jpg" class="contentImage_left" alt=""/>
	<h2>Radici Festival Vggianello</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Olio Novello</h2>
Domenica 9 Novembre 2008 - dalle ore 10.00<br/>
<br/>
Frantoio Tedesco Franco<br/>
<br/>
Venite tutti ad assaggiare l'olio di prima spremitura del 2008.<br/>
<br/>
Assaggio con Bruschetta<br/>
<br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
