{% extends "base.html" %}
{% block title %}
 Viaggiare nel Pollino... divertendosi
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Sagra dell'Olio di Oliva</h2>
A Rotonda 12 Agosto 2009<br/>
<br/>
IV Edizione<br/>
<br/>
A cura del Frantoio di Tedesco Franco<br/>
Vincitore premio &quot;OLIVARUM&quot; Regione Basilicata<br/>
<br/>
Per informazioni <br/>
<b>0973.667193<br/>
340.2418130</b>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="eventi/mainColumnParagraphs/06/image/2214779442_e342e6f003_m.jpg" class="contentImage_left" alt=""/>
	<h2>Sagra della Melanzana Rossa di Rotonda</h2>
Rotonda 25 Agosto 2009<br/>
<br/>
A cura del Ristorante Da Peppe<br/>
<br/>
Per informazioni <b>0973.661251</b><br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Pollino Music Festival 2009</h2>
POLLINO MUSIC&nbsp; FESTIVAL 2009&nbsp; _ XIV edizione<br/>
6, 7, 8 e 9 agosto _ San Severino Lucano (PZ) _ Parco Nazionale Del Pollino<br/>
Campo Sportivo &amp; Centro storico&nbsp; -&nbsp; INGRESSO LIBERO <br/>
Programma <br/>
<br/>
gioved&igrave; 6 agosto - Anteprima PMF '09 <br/>
Centro storico _ ore 21,30 <br/>
Proiezione del film L'Orchestra di Piazza Vittorio di Agostino Ferrente&nbsp; vedi il trailer<br/>
<br/>
venerd&igrave; 7 agosto <br/>
Centro storico _ dalle 11,00 alle 14,00 e dalle 18,00 alle 21,00 <br/>
CERTO SENSO: aperitivo musicale a km 0 <br/>
Don Francisc &quot;Taranta Lounge&quot; dj set www.tarantola.de<br/>
<br/>
Campo sportivo _ dalle 21,00 in poi <br/>
Don Francisc' &quot;Taranta Dance&quot; dj set&nbsp; www.tarantola.de <br/>
CAPONE &amp; BungtBangt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.caponebungtbangt.com <br/>
L'ORCHESTRA DI PIAZZA VITTORIO&nbsp;&nbsp; www.orchestradipiazzavittorio.it<br/>
<br/>
sabato 8 agosto<br/>
Centro storico _ dalle 11,00 alle 14,00 e dalle 18,00 alle 21,00 <br/>
CERTO SENSO: aperitivo musicale a km 0 <br/>
Brigante Sound &quot;Striktly Roots&quot; dj set&nbsp;&nbsp; www.myspace.com/brigantesound <br/>
ospiti: Manuel &amp; Big Simon (Krikka Reggae)<br/>
<br/>
Campo sportivo dalle 21,00 in poi <br/>
Bum Bum Baby San&nbsp;&nbsp; www.myspace.com/bumbumbabysan <br/>
ALMAMEGRETTA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.myspace.com/almamegretta <br/>
SUD SOUND SYSTEM &amp; Bag A riddim Band www.sudsoundsystem.eu <br/>
Brigante Sound dj set&nbsp;&nbsp;&nbsp; www.myspace.com/brigantesound<br/>
<br/>
domenica 9 agosto <br/>
Centro storico _&nbsp; dalle 11,00 alle 14,00 e dalle 18,00 alle 21,00 <br/>
CERTO SENSO: aperitivo musicale a km 0 <br/>
Devasto &quot;PMF Vibrations&quot; dj set www.myspace.com/djdevasto<br/>
<br/>
Centro storico_ dalle 21,00 in poi <br/>
Racconta Pollino <br/>
Smania Uagliuns&nbsp; www.myspace.com/uagliuncasmania <br/>
mArAsmA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.myspace.com/marasmaband &nbsp;<br/>
Il Ristretto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.myspace.com/ilristretto <br/>
Musicamanovella&nbsp; www.myspace.com/musicamanovella <br/>
ANDREA RIVERA&nbsp;&nbsp; www.myspace.com/riveraandrea<br/>
<br/>
&nbsp;<br/>
<br/>
<br/>
<br/>
<br/>
&nbsp; <br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="eventi/mainColumnParagraphs/0/image/radici_festival.jpg" class="contentImage_left" alt=""/>
	<h2>Radici Festival Vggianello</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Olio Novello</h2>
Domenica 9 Novembre 2008 - dalle ore 10.00<br/>
<br/>
Frantoio Tedesco Franco<br/>
<br/>
Venite tutti ad assaggiare l'olio di prima spremitura del 2008.<br/>
<br/>
Assaggio con Bruschetta<br/>
<br/>
<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
