{% extends "base.html" %}
{% block title %}
	Viaggiare attraverso le immagini
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	    <h2>Le immagini di Viaggiare nel Pollino</h2>
      <p><a href="http://www.flickr.com/photos/pollino/sets/72157604166088729/" target="_blank">Viaggiare nel Pollino</a></p>
      <p><a target="_blank" href="http://www.flickr.com/photos/22306268@N06/collections/72157603899454532/">Viaggiare in Basilicata<br/>
      </a></p>
      <p><a target="_blank" href="http://www.flickr.com/photos/22306268@N06/collections/72157603874159562/">Tradizioni</a><a target="_blank" href="http://www.flickr.com/photos/22306268@N06/collections/"><br/>
      </a></p>
      <p><a target="_blank" href="http://www.flickr.com/photos/22306268@N06/collections/" >Le nostre strutture </a><br/>
      </p>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	    <h2>Serra delle Ciavole</h2>
      <a title="Serra delle Ciavole di Pollino Kombat, su Flickr" href="http://www.flickr.com/photos/pollino/2280384662/"><img width="500" height="375" alt="Serra delle Ciavole" src="http://farm3.static.flickr.com/2393/2280384662_b7ebd8c6c5.jpg"/></a>
  </div>
{% endblock %}
{% block right %}
		<div class="rightColumnTitle">ATTENZIONE</div>
      BOOK FOTOGRAFICO IN CONTINUO AGGIORNAMENTO<br/>Tutte le foto, ad eccezione di quelle delle strutture, sono di Giuseppe Cosenza.<br/>Non è consentito l'uso senza autorizzazione.
{% endblock %}
