{% extends "base.html" %}
{% block title %}Benvenuti{% endblock %}
{% block header %}Benvenuti nel Parco Nazionale del Pollino{% endblock %}

{% block body %}
{% load box %}
{% load call %}

{% only_on_month 9 10 11 12 1 2 %}
{% contentbox "L'Autunno sinfonia di colori" %}
<a href="http://www.flickr.com/photos/pollino/2955233579/" title="Timpone della Capanna in Autunno
di Pollino Kombat di Giuseppe Cosenza, su Flickr"><img width="500" height="375"
src="http://farm4.static.flickr.com/3179/2955233579_1de3db98e3.jpg" alt="Timpone della Capanna in
Autunno"/></a> &nbsp; <br/>
<p class="important">Per escursione guidate nel Pollino telefonare al 347.2631462</p>
{% endbox %}
{% end_only_on_month %}
{% only_on_month 6 7 8 3 4 5 %}
{% contentbox "Basilicata Selvaggia" %}
<img src="cartolina.jpg" alt="Basilicata Selvaggia"/>
<p class="important">Per escursione guidate nel Pollino telefonare al 347.2631462</p>
{% endbox %}
{% end_only_on_month %}

{% contentbox "Rotonda" %}
<img src="index/mainColumnParagraphs/01/image/rotonda_web.jpg" class="contentImage_right" alt=""/>
Caratteristico centro medioevale della Basilicata, ricco di
viuzze, portali in pietra, fontane. Al confine con la Calabria, in posizione centrale per potersi
muovere agevolmente in entrambi i versanti del Parco Nazionale
Pollino. <br/>
Qui ci sono le strutture consigliate da Viaggiare nel Pollino<br/>Ad appena 10 km l'opportuit&agrave; di avere una esperienza <strong>Rafting</strong> lungo il Fiume Lao. <br/>
Da Rotonda si raggiungono in poco tempo i punti di partenza pi&ugrave; importanti dei
sentieri che conducono alle vette del Pollino e lo spettacolare <strong>Pino Loricato.</strong>
Non dimenticate di visitare il <em>Museo di Storia Naturale
</em>con i resti fossi di Elefanti e Ippopotami vecchi di
500.000 anni.<br/>
Ulteriori informazioni per trascorrere la vostra vacanza a Rotonda e nel Pollino da soli, in
gruppo con o senza una guida alla pagina <a
href="escursioni.html" style="font-weight:
bold;">VISITARE</a><br/>
{% endbox %}
{% contentbox "Frascineto" %}
<img src="index/mainColumnParagraphs/0/image/3444402082_10a8fbd878_m.jpg" class="contentImage_left"
alt=""/>
Nella famiglia di Viaggiare nel Pollino &egrave; entrata
anche una struttura turistica di Frascineto.<br/>
Frascineto &egrave; una <em>comunit&agrave; Italo-Albanese</em>, in
provincia di Cosenza, versante sud del Parco Nazionale del Pollino: &egrave; la localit&agrave;
ideale per chi vuole godersi la montagna ma al tempo stesso poter raggiungere facilmente il <em
>Mar Jonio</em>.<br/>
Facilmente raggiungibile sia da nord che da sud lungo la Salerno-Reggio Calabria, o dalla costa nei
pressi di <em>Villapiana (CS)</em><br/>
{% endbox %}
{% contentbox "Mormanno" %}
<img src="index/mainColumnParagraphs/00/image/2246780651_7b5c4eff8c_m.jpg"
class="contentImage_right" alt=""/>
Anche Mormanno entra nella nostra rete. Piccolo centro urbano in Calabria al confine con la
Basilicata. Da qui si raggiunge facilmente la Valle del Lao e con un p&ograve; di curve la costiera
Tirrenica. L'autostrada Salerno-Reggio Calabria, permette facili trasferimenti da Est a Ovest. Il
Centro storico arroccato sul fiume Battendiero offre interesanti scorci.
{% endbox %}
{% endblock %}

{% block right %}
  {% node "/small/text" "Viaggiare nel Pollino" %}
  Testi e foto curati da <br/>Giuseppe Cosenza<b><br/><a href="guida.html">Guida del Parco del Pollino</a></b>
  {% endbox %}
  {% node "/small/news" "Novit&agrave;!" %}
  Visita la nuova pagina del <p class="important"><a href="/agriturismo/la_terrazza.html" class="important">Piccolo Agriturismo La Terrazza</a></p>
  {% endbox %}
		{% node "/small/language/" "Scegli la lingua" %}
<ul>
<li><a href="english.html">Do you speak English?</a></li>
<li><a href="deutsch.html">Sprechen Sie Deutsch?</a></li>
<li><a href="francaise.html">Parlez-vous français?</a></li>
<li><a href="japanese.html">Nippon?</a></li>
</ul>
{% endbox %}
		{% node "/small/info" "Informazioni Telefoniche" %}
<b>VIAGGIARE NEL POLLINO &egrave; un servizio di informazione on-line.</b><br/>Le informazioni contenute nel sito sono estremamente curate e precise.<br/>Andate alle pagine relative ai vostri interessi:<br/><b><a href="agriturismo.html">Agriturismo</a><br/></b><b><a href="bed_and_breakfast.html">Bed &amp; Breakfast</a></b><br/><b><a href="escursioni.html">Escursioni</a></b><br/><b><a href="ristorantedapeppe.html">Gastronomia</a></b><br/><b><a href="escursioni.html">Visite Guidate</a></b><br/>Nelle pagine interne informazioni su tutti i servizi e relativi recapiti telefonici.
{% endbox %}
    {% call "slideshow.html" set_id="72157604166088729" %}
{% endblock %}
