  {% extends "base.html" %}
{% block title %}
 Viaggiare nel Parco Nazionale del Pollino... con la mente
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Racconti, articoli, storie, riflessioni ambientate o ispirate dal Pollino</h2>
<p><strong><a href="letture/apollo.html" target="apollo">Apollo</a> e il Pollino<br/>
</strong>Alle origine del nome Pollino </p>
<p><strong>Bue: simbologia e storia</strong><br/>
Dal Graffito del Romito fino ai riti arborei </p>
<p><strong>Cacciatori di abeti<br/>
</strong>Una &quot;sensazione&quot; durante un rito arboreo</p>
<p><strong>Verso la Grotta del Romito</strong><br/>
Ricordando la dispersione del patrimonio archeologico</p>
<p><strong>Draghi del Pollino<br/>
</strong>Dal Raganello al Colle del Dragone</p>
<p><strong>Pollino Runner</strong><br/>
Parafrasando...</p>
<p><strong>Impressioni &quot;Italiane&quot; di una Valljia<br/>
</strong>Una &quot;sensazione&quot; durante una festa albanese</p>
<p><strong>&quot;Treppassi&quot; nel mondo della vipera<br/>
</strong>Per sapere qualcosa in pi&ugrave; sulla vipera </p>
<p><strong>La Festa Madonna di Pollino<br/>
</strong>Ieri oggi e... domani? </p>
<p><strong>Solo Carne, Sale, Pepe e Peperoncino<br/>
</strong>Il rituale pi&ugrave; cruento della civilt&agrave; contadina non &egrave; rimasto immutato nel tempo.</p>
<p><strong>Il Giorno del Tuono - Der Tag des Donners<br/>
</strong>L'arrivo dei Longobardi nel Pollino </p>
<p><strong>Il ritorno del Cervo<br/>
</strong>Estinto da secoli, per saperne di pi&ugrave;</p>
<p><strong>Il Cigno <br/>
L'Invasore <br/>
</strong>Due &quot;poesie&quot; contro la caccia </p>
<p><strong>Quell'anno morimmo tutti di sete...</strong><br/>
Una storia di fantascienza sulla crisi dell'acqua </p>
<p><strong>Prenderti per la gola</strong><br/>
Un &quot;noir&quot; gastronomico</p>
<p><strong>In Inghilterra sognando l&rsquo;Italia<br/>
</strong>Sto sorseggiando annoiato la mia seconda birra, in un rumoroso e fumoso Pub... </p>
<p><strong>Teana: un Carnevale Lucano</strong><br/>
Un processo a Carnevale sembra voler riproporre in chiave burlesca la &ldquo;Giudaica&rdquo;. Il tutto comincia nel bosco vicino al paese... </p>
<p><strong>Il Majo di Accettura</strong><br/>
Un via per conoscere la propria terra attreverso le tradizioni</p>
<p><strong>L'Hard Disk di Rosetta</strong></p>
<p>Dobbiammo costruire la nostra Stele di Rosetta</p>
	</div>
	<div style="clear:both;">
			<br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
