  {% extends "base.html" %}
{% block title %}
 Viaggiare nel Pollino... sulle tracce del Lupo
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="lupo/mainColumnParagraphs/0/image/wolf.jpg" class="contentImage_left" alt=""/>
<p>Tra due mari, su alti massicci di roccia calcarea dove il pino loricato si ostina da secoli a sopravvivere ai forti venti mediterranei, nei boschi di faggi antichi prospera una comunit&agrave; di stupendi animali cacciatori, i lupi appenninici (Canis lupus). &nbsp;</p>
<p>Inseguendone le tracce si pu&ograve; intuire il loro mondo; come si integrano in un territorio affascinante e selvaggio ricco di cime, piani, gole e canyon solcati da acque che danno origine a foreste rigogliose. </p>
<p>Una guida ed uno zoologo ci aiuteranno, nella ricerca sulle piste innevate.</p>
<p>La ricchezza di stimoli del parco e delle sue riserve naturali ci porter&agrave; ad incontri speciali con l&rsquo;ambiente, la storia e le culture locali: dalle grotte con bellissime incisioni paleolitiche, agli antichi santuari e monasteri, a vetuste rocche e torri, fino ai paesi dove permane una tradizionale cultura albanese. Non resisteremo al richiamo del vicinissimo mare, che incontreremo in uno dei punti pi&ugrave; panoramici e suggestivi del Tirreno. </p>
<p>Le escursioni sono piuttosto facili (camminare con le racchette &egrave; naturale, non &egrave; pericoloso e non particolarmente faticoso). Il tempo di cammino medio &egrave; di 4 ore. Il cattivo tempo sar&agrave; meno cattivo, se si &egrave; ben attrezzati (soprattutto per il freddo: giaccavento, guanti, berretto, ecc.). Le escursioni verranno definite giorno per giorno in base al tempo, agli escursionisti ed ai... lupi. </p>
<p><br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>You Tube!</h2>
IL LUPO DEL POLLINO<br/>
<br/>
<object width="425" height="344">
<param value="http://www.youtube.com/v/PNlbY6CZltQ&amp;hl=it&amp;fs=1&amp;color1=0xe1600f&amp;color2=0xfebd01" name="movie"/>
<param value="true" name="allowFullScreen"/>
<param value="always" name="allowscriptaccess"/><embed width="425" height="344" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/PNlbY6CZltQ&amp;hl=it&amp;fs=1&amp;color1=0xe1600f&amp;color2=0xfebd01"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">PER CHI AMA IL LUPO</div>
Se siete interessati possiamo organizzare appositamente per VOI un soggiorno dedicato alla conoscenza e allo studio del Lupo con esperti e qualificati&nbsp;ricercatori.<br/><br/>Scrivi a&nbsp;<a href="contatti.html"><b>contatti</b></a>per prenotare la tua escursione oppure telefona allo 0973.669290
	</div>
{% endblock %}
