  {% extends "base.html" %}
{% block title %}
 Viaggiare nel Mondo
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>England</h2>
<p>TORBAY</p>
<p><a href="http://www.naturesouthwest.co.uk/main/en/att-provider-8537.html" target="_blank">Berry Head</a></p>
<p><a href="http://www.naturesouthwest.co.uk/main/EN/weblink-8537.cfm">Torbay Coast</a></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Repubblica Ceca</h2>
<p>Parco Nazionale di <a href="http://www.npsumava.cz/klasik/english/index.html" target="SUMAVA">SUMAVA</a></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Slovacchia</h2>
Parco Nazionale dei <a href="http://www.cyf-kr.edu.pl/tpn/" target="tatra">Monti Tatra</a>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
