{% extends "base.html" %}
{% block title %}Il Parco Nazionale del Pollino{% endblock %}
{% block header %}Il Parco Nazionale del Pollino{% endblock %}
{% block description %}a particolare orografia del Massiccio del Pollino ha fatto si che le comunità abbiano avuto nel corso dei secoli una distribuzione estremamente punteggiata e isolata tra loro. Si sono quindi via via sviluppate e conservate eterogenee tradizioni culturali. Queste differenze ancora oggi si riflettono nei dialetti, nelle pratiche religiose e nella gastronomia{% endblock %}
{% block keywords %}Flora, Fauna, Antropologia, Pollino{% endblock %}
{% block body %}
{% load box %}
  {% local_linked "Flora" "parco_nazionale_del_pollino/mainColumnParagraphs/0/image/2248756789_5c5d20ed49_m.jpg" left horizontal "/parco_nazionale_del_pollino/flora.html" %}
<p>Maggiori informazioni sulla <a href="/parco_nazionale_del_pollino/flora.html">flora</a> spontanea del Parco Nazionale del Pollino.</p>
	{% endbox %}
  {% local_linked "Fauna" "parco_nazionale_del_pollino/mainColumnParagraphs/01/image/2246775961_89c486c05c_m.jpg" right horizontal "/parco_nazionale_del_pollino/fauna.html" %}
<p>Maggiori informazioni sulla <a href="/parco_nazionale_del_pollino/fauna.html">fauna</a>: mammiferi, uccelli, rettili, anfibi e insetti.</p>
	{% endbox %}
  {% local_linked "Antropologia" "parco_nazionale_del_pollino/mainColumnParagraphs/02/image/2306537843_e6e4cb2443_m.jpg" left vertical "/parco_nazionale_del_pollino/antropologia.html" %}
Uno strano animale abita il territorio del Parco Nazionale del Pollino: l'<a href="/parco_nazionale_del_pollino/antropologia.html">Uomo</a>
	{% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "prenota_visita.html" %}
{% endblock %}
