  {% extends "base.html" %}
{% block title %}
 Viaggiare nei Parchi Naturali
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="parchi/mainColumnParagraphs/0/image/mulattiera_sx.jpg" class="contentImage_left" alt=""/>
	<h2>Parco Nazionale dei Monti Sibillini</h2>
<p>La <a href="http://www.lamulattiera.it" >Mulattiera</a> </p>
<p>Trekking someggiato, Balla coi muli, Turismo Verde, Campi Scuola, Escursioni, Educazione, Vacanze Familiari,&nbsp; Ciaspolata, Rafting, Canyoning, Arrampicata </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Parco Nazionale della Sila</h2>
Societ&agrave; Cooperativa&nbsp; <a href="http://www.scgreenwood.it" >GREENWOOD</a><br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
