{% extends "base.html" %}
{% block title %}
Il Parco Nazionale del Pollino
{% endblock %}

{% block body %}
	<div style="clear:both;">
	<img src="parco_nazionale_del_pollino/mainColumnParagraphs/0/image/2248756789_5c5d20ed49_m.jpg" class="contentImage_left" alt=""/>
	<h2>Flora</h2>
<p>Maggiori informazioni sulla&nbsp;<a href="parco_nazionale_del_pollino/flora.html" target="flora">flora</a> spontanea del Parco Nazionale del Pollino.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
	<img src="parco_nazionale_del_pollino/mainColumnParagraphs/01/image/2246775961_89c486c05c_m.jpg" class="contentImage_left" alt=""/>
	<h2>Fauna</h2>
<p>Maggiori informazioni sulla <a target="fauna" href="parco_nazionale_del_pollino/fauna.html">fauna</a>: mammiferi, uccelli, rettili, anfibi e insetti.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
	<img src="parco_nazionale_del_pollino/mainColumnParagraphs/02/image/2306537843_e6e4cb2443_m.jpg" class="contentImage_left" alt=""/>
	<h2>Antropologia</h2>
Uno strano animale abita il territorio del Parco Nazionale del Pollino: l'<a target="uomo" href="parco_nazionale_del_pollino/antropologia.html">Uomo</a>
	</div>
	<div style="clear:both;">
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="parco_nazionale_del_pollino/mainColumnParagraphs/00/image/lorica-4.jpg" class="contentImage_left" alt=""/>
&nbsp;
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
  {% load call %}
  {% call "prenota_visita.html" %}
{% endblock %}
