{% extends "base.html" %}
{% block title %}
Il Parco Nazionale del Pollino
{% endblock %}

{% block body %}
{% load box %}
  {% local "Flora" "parco_nazionale_del_pollino/mainColumnParagraphs/0/image/2248756789_5c5d20ed49_m.jpg" left horizontal %}
<p>Maggiori informazioni sulla&nbsp;<a href="parco_nazionale_del_pollino/flora.html">flora</a> spontanea del Parco Nazionale del Pollino.</p>
	{% endbox %}
  {% local "Fauna" "parco_nazionale_del_pollino/mainColumnParagraphs/01/image/2246775961_89c486c05c_m.jpg" right horizontal %}
<p>Maggiori informazioni sulla <a href="parco_nazionale_del_pollino/fauna.html">fauna</a>: mammiferi, uccelli, rettili, anfibi e insetti.</p>
	{% endbox %}
  {% local "Antropologia" "parco_nazionale_del_pollino/mainColumnParagraphs/02/image/2306537843_e6e4cb2443_m.jpg" left vertical %}
Uno strano animale abita il territorio del Parco Nazionale del Pollino: l'<a href="parco_nazionale_del_pollino/antropologia.html">Uomo</a>
	{% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "prenota_visita.html" %}
{% endblock %}
