  {% extends "base.html" %}
{% block title %}
 Viaggiare nel Parco Nazionale del Pollino... a Pasqua
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<a title="Morano Calabro primo sole di Pollino Kombat, su Flickr" href="http://www.flickr.com/photos/pollino/3338969514/"><img width="240" height="180" alt="Morano Calabro primo sole" src="http://farm4.static.flickr.com/3658/3338969514_ed8d22d296_m.jpg"/></a>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>TREKKING DI PASQUA NEL POLLINO</h2>
<a title="Processione del Venerdì Santo a Rotonda di Pollino Kombat, su Flickr" href="http://www.flickr.com/photos/pollino/3360079777/"><img width="240" height="180" alt="Processione del Venerdì Santo a Rotonda" src="http://farm4.static.flickr.com/3472/3360079777_a6397f2c47_m.jpg"/></a>
<p><strong>Programma di massima</strong></p>
<p><strong>Gioved&igrave;&nbsp; 9 Aprile</strong><br/>
Arrivo nel Pomeriggio</p>
Ore 24.00 I Battenti di Verbicaro<br/>
Pernottamento in Agriturismo
<p>&nbsp;</p>
<p><strong>Venerd&igrave; 10 Aprile</strong><br/>
Colazione in agriturismo o Arrivo con appuntamento a Laino Borgo.<br/>
Escursione<br/>
Laino Castello Madonna degli Scolari (m 534)&THORN; Laino Castello Centro storico abbandonato (m 474) &THORN; Laino Borgo (m 270) &THORN; Capo a Mare gole del Lao (m 260) <br/>
Pranzo a sacco<br/>
Pernottamento in Agriturismo</p>
<p><br/>
<a title="Pollino di Pollino Kombat, su Flickr" href="http://www.flickr.com/photos/pollino/2709897081/"><img width="240" height="180" alt="Pollino" src="http://farm4.static.flickr.com/3290/2709897081_15cc66101d_m.jpg"/></a>  </p>
<p><strong>Sabato 11 Aprile</strong><br/>
Colazione in agriturismo <br/>
Escursione<br/>
Colle del Dragone (m 1606) &THORN; Sorgente della Cavalla (m 1540) &THORN; Sorgente di Ruggio (1572 m) &THORN; Vallone di Malevento &THORN; Timpa della Capanna &THORN; Belvedere di Ruggio (1575) &THORN; Piano Ruggio (1512 m)&THORN; Rifugio De Gasperi (m 1535)<br/>
Pranzo al sacco<br/>
Pernottamento in Agriturismo</p>
<a href="http://www.flickr.com/photos/pollino/2171774411/" title="Vista dal Belvedere del Malvento di Pollino Kombat, su Flickr"><img width="240" height="180" src="http://farm3.static.flickr.com/2388/2171774411_2b68c12e57_m.jpg" alt="Vista dal Belvedere del Malvento"/></a>
<p><strong>Domenica 12 Aprile</strong><br/>
 Colazione in agriturismo<br/> Escursione<br/><span> Colle Impiso (m 1573) &THORN; Piani di Vacquarro (m 1525) &THORN; Piano Gaudolino (m 1684) &THORN; Dolina del Pollino (m 1975) &THORN; Patriarchi &THORN; Bosco Pollinello (m 1820) &THORN; Piano Gaudolino (m 1684) &THORN; Colle Impiso (m 1573) </span><br/> Pranzo al sacco<br/> Pernottamento in Agriturismo</p>
<p><strong>Luned&igrave; 13 Aprile<br/>
</strong>Colazione in agriturismo <br/> Escursione da definire<br/> Pranzo al sacco<br/> Pernottamento in Agriturismo</p>
<a href="http://www.flickr.com/photos/pollino/2175147753/" title="Gole del Raganello di Pollino Kombat, su Flickr"><img width="240" height="180" src="http://farm3.static.flickr.com/2054/2175147753_795f8cf3fb_m.jpg" alt="Gole del Raganello"/></a>
<p><strong>Marted&igrave; 14 Aprile</strong> <br/>
Colazione in agriturismo<br/> Escursione al Canyon del Raganello e visita alla comunit&agrave; albanese di Civita e al Centro storico di Morano Calabro.<br/>
</p>
<p>Pranzo al sacco</p>
<p>Partecipazione alle <a href="/letture/valljie.html">Valljie</a>: le tradizionali feste arberesche di Frascineto e Civita.><br/>
<a href="http://www.flickr.com/photos/pollino/2267969835/" title="Valljie di Civita di Pollino Kombat, su Flickr"><img width="180" height="240" src="http://farm3.static.flickr.com/2169/2267969835_56df84ba49_m.jpg" alt="Valljie di Civita"/></a> </p>
<p><strong>Partenza per i luoghi di provenienza. </strong></p>
<object width="425" height="373">
<param value="http://www.youtube.com/v/9-4YskuMFTE&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it" name="movie"/>
<param value="transparent" name="wmode"/><strong><embed width="425" height="373" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/9-4YskuMFTE&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it"></embed></strong></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Valljie di Frascineto e Civita</h2>
&nbsp; <object width="425" height="373">
<param value="http://www.youtube.com/v/d4p_LTIf2ZE&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it" name="movie"/>
<param value="transparent" name="wmode"/><embed width="425" height="373" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/d4p_LTIf2ZE&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>LA GIUDAICA <br/>PROSSIMA EDIZIONE 2010</h2>
<p>&quot;La Giudaica&quot; &egrave; una rappresentazione teatrale itinerante che si svolge per le vie dell'antico centro di Laino Borgo, riguardante il dramma del Processo e della Crocifissione di Ges&ugrave;.<br/>
Questa peculiare forma di espressione teatrale popolare trae origine da un manoscritto anonimo del 1600 e viene rappresentata ogni due anni, dalla prima edizione fino ad oggi, con una sola breve sospensione nel 1892. <br/>
Alla rappresentazione partecipano almeno 150 attori e comparse in costumi d'epoca di notevole fattura. L'alto livello interpretativo fa pensare ad una genetica predisposizione alla recitazione dei cittadini Lainesi: praticamente ogni famiglia di Laino Borgo &egrave; direttamente o indirettamente coinvolta nella preparazione e nella realizzazione della manifestazione.<br/>
Probabilmente in passato &quot;La Giudaica&quot; si svolgeva presso il Santuario della Madonna dello Spasimo, dove Biagio Longo nel 1557, tornato da un viaggio in Terra Santa, volle rappresentare con le famose &quot;Cappelle&quot; i luoghi del martirio di Ges&ugrave; ed in seguito venne trasferita nel centro storico. <br/>
&quot;La Giudaica&quot; si divide in 19 Episodi o Scene e al termine si svolge una processione verso la Chiesa Madre.</p>
<p><br/>
<strong>La partecipazione all'evento &egrave; libera e gratuita.</strong> </p>
<p>Non &egrave; necessario utilizzare l'auto per raggiungere le diverse Scene ma si segue il corteo a piedi. A Laino Borgo sono in distribuzione opuscoli con la descrizione dettagliata dei luoghi dove si svolgeranno i singoli episodi.</p>
<object width="425" height="373">
<param value="http://www.youtube.com/v/qdlXhFdr9kg&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it" name="movie"/>
<param value="transparent" name="wmode"/><embed width="425" height="373" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/qdlXhFdr9kg&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>LE 19 SCENE</h2>
<p>1. INTRODUZIONE<br/>
2. INCONTRO DI PIETRO E GIOVANNI CON MARCO<br/>
3. ULTIMA CENA<br/>
4. SINEDRIO<br/>
5. CATTURA DI GES&Ugrave; NELL'ORTO DEGLI ULIVI<br/>
6. GES&Ugrave; DA ANNA<br/>
7. GES&Ugrave; DA CAIFAS (SINEDRIO)<br/>
8. PENTIMENTO DI PIETRO<br/>
9. PENTIMENTO DI GIUDA<br/>
10. DA PILATO</p>
<p>&nbsp;</p>
<p>Pausa Pranzo</p>
<p>&nbsp;</p>
<p>11. DA ERODE<br/>
12. RITORNO DA PILATO<br/>
13. LA FLAGELLAZIONE<br/>
14. GES&Ugrave; VIENE RIPORTATO DA PILATO<br/>
15. 1&deg; CADUTA DI GES&Ugrave; - INCONTRO CON LA MADONNA<br/>
16. 2&deg; CADUTA DI GES&Ugrave; - INCONTRO CON LA VERONICA <br/>
17. 3&deg; CADUTA DI GES&Ugrave; - IL CIRENEO E' OBBLIGATO A CARICARSI DELLA CROCE<br/>
18. CROCEFISSIONE<br/>
19. DEPOSIZIONE DEL CRISTO </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">AVVERTENZA</div>
Il programma su questa pagina è solamente indicativo.<br/><br/>La durata, le località, la data di arrivo e di partenza e l'alloggio&nbsp;possono essere cambiati in base alle esigenze del gruppo.<br/>&nbsp;<br/><br/>Il programma può subire variazioni in base alle condizioni climatiche e alla presenza di neve in quota.<br/><br/><br/>Scrivi a&nbsp;<a href="contatti.html">Contatti</a> <br/>Telefona allo 0973.669290 - 347.2631462 <br/>dalle 14 alle 20
	</div>
{% endblock %}
