  {% extends "base.html" %}
{% block title %}
 Viaggiare alla scoperta del Pino Loricato
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>I Pini Loricati che incontriamo durante le nostre escursioni</h2>
<a title="Serra di Crispo di Pollino Kombat di Giuseppe Cosenza, su Flickr" href="http://www.flickr.com/photos/pollino/2582068156/">VAI AL SET FOTOGRAFICO</a><br/>
<a title="Serra di Crispo di Pollino Kombat di Giuseppe Cosenza, su Flickr" href="http://www.flickr.com/photos/pollino/2582068156/"><img alt="Serra di Crispo" src="http://farm4.static.flickr.com/3278/2582068156_dd73344c71_m.jpg" style="width: 380px; height: 286px;"/></a>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Informazioni e Prenotazioni</div>
Compilate il<br/><a href="prenotazioni.html"><b>MODULO PER INFORMAZIONI</b></a>&nbsp; <br/>sui
nostri servizi, riceverete una risposta entro 24-48 ore.
	</div>
{% endblock %}
