  {% extends "base.html" %}
{% block title %}
 Quanto mi costa... Viaggiare nel Parco Nazionale Pollino?
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="index.html" class="nav">Home</a></span><span class="itNav"><a href="index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="guida.html" class="nav">The guide</a></span><span class="itNav"><a href="guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="letture.html" class="nav">Readings</a></span><span class="itNav"><a href="letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="foto.html" class="nav">Foto</a></span><span class="itNav"><a href="foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navSelfTopLevel"><span class="enNav">Prezzi</span><span class="itNav">Prezzi</span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="english.html" class="nav">English</a></span><span class="itNav"><a href="english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>TARIFFE ESCURSIONI GUIDATE NEL POLLINO E DINTORNI</h2>
Gruppi inferiori alle <b>7</b> persone <b>&euro; 20 </b>pro-capite<br/>
Gruppi superiori<br/>
Escursione guidata in alta montagna giornata intera <b>&euro; 150</b><br/>
Gruppi scuola o tour turistici&nbsp; <b>&euro; 100</b><br/>
<br/>
<b>Riduzioni</b> non sono applicate nei mesi di Aprile e Maggio.<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>TARIFFE AGRITURISMO ASKLEPIOS</h2>
<p>Pernottamento e prima colazione, prime due persone <b>&euro; 25 a persona</b>, dalla terza persona in poi <b>&euro; 20</b><br/>
Riduzione <strong>50%</strong> per ragazzi tra i 6 e i 12 anni.<br/>
Pranzo e cena presso agriturismi e ristoranti scelti partendo da <strong>&euro; 12,50 </strong>a <strong>&euro; 18,50</strong><br/>
Disponibilit&agrave; della cucina attrezzata con contributo di&nbsp; <strong>&euro; 2,00</strong> a persone al giorno<br/>
&nbsp;<br/>
Pacchetto Escursionistico.<br/>
1. un pernottamento con prima colazione, <br/>
2. un pranzo al sacco,<br/>
3. una merenda al rientro dall'escursione <br/>
4. una escursione guidata nel Parco<br/>
Per gruppi fino a 3 persone e/o alta stagione <strong>&euro; 45,00</strong></p>
<p><br/>
Trekking per famiglie <br/>
Comprende,oltre a tutti i punti sopra:<br/>
5. uso della cucina attrezzata<br/>
6. consumo prodotti aziendali<br/>
7. discesa rafting facile e/o escursione con l&rsquo;asino<br/>
Per soggiorni di minimo 4 giorni: adulti <strong>&euro; 45.00</strong>,&nbsp; ragazzi fino a 16 anni <strong>&euro; 22.50</strong> al giorno <br/>
</p>
<p><br/>
</p>
<p>Telefono: <span>0973.669290 - 347.2631462</span><br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>TARIFFE AGRITURISMO CIVARRA</h2>
<p><strong>Pernottamento</strong> con prima colazione <strong>&euro; 25</strong> a persona<br/>
<strong>Mezza pensione<br/>
</strong>Camera matrimoniale <strong>&euro; 45</strong> a persona<br/>
Camera doppia <strong>&euro; 35</strong> a persona<br/>
<br/>
Riduzione <strong>30%</strong> ragazzi et&agrave; dai 4 ai 9 anni <br/>
Pranzo <strong>&euro; 16&ndash;18</strong> (in dipendenza del men&ugrave; e della stagione)</p>
<br/>
Telefono:<b> 0973.669152</b><b> - 333.6172107 - 3281088952<br/>
</b>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2> TARIFFE BED &amp; BREAKFAST AL VECCHIO CAMINO</h2>
Pernottamento con prima colazione<br/>
Matrimoniale&nbsp; <strong>&euro; 60</strong> ( &euro; 30&nbsp;a persona)<br/>
Singola <strong>&euro; 40<br/>
</strong>Letto aggiunto in camera matrimoniale&nbsp; <strong>&euro; 20<br/>
</strong>Uso cucina con supplemento da concordare<br/>
<br/>
Telefono:&nbsp; <b>0973.667193 - 340.2418130</b>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>TARIFFE AFFITTACAMERE "LUISELLA"</h2>
Pernottamento con prima colazione<br/>
Matrimoniale&nbsp; <b>&euro; 50</b><br/>
Singola <b>&euro; 20</b><br/>
Uso cucina con supplemento da concordare<br/>
<br/>
Telefono: <b>339.7314170 - 338.1132636</b>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Bed and Breakfast PIEFFE</h2>
Adulti &euro; 25-30 al giorno<br/>
Bambini 3-10 anni sconto 30%<br/>
Bambini fini a 3 anni GRATIS<br/>
<br/>
Telefono 0981 32142 -&nbsp; 347 9156521&nbsp;&nbsp; <br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>La Soffitta del Barone</h2>
Camera matrimoniale <b>&euro; 60</b><br/>
Camera singola <b>&euro; 40</b><br/>
Camera 80 per la tripla <b>&euro; 80</b><br/>
Camera Quadrupla<b> &euro; 100</b><br/>
Tutti i prezzi sono comprensivi di Prima Colazione<br/>
<br/>
telefono +39(0)98122916 +393477176208 +393281393771 +393893467176
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>TARIFFE AGRITURISMO LA MASSERIA  Tel. 328.8443132</h2>
Pernottamento con prima colazione &euro; 25 a persona<br/>
Mezza pensione camera matrimoniale &euro; 45 a persona<br/>
Pranzo &euro; 20 (in dipendenza del men&ugrave; e della stagione) <br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>TARIFFE RAFTING SUL FIUME LAO</h2>
<strong>Percorso semplice &ndash; Soft rafting<br/><span>Semplice, divertente e per tutti, per provare l'emozione del Rafting.</span><br/>Lunghezza 4 km, durata 1 ora<br/>&euro;&nbsp; 13,50 a persona per scolaresche<br/>&euro;&nbsp; 15,00 Per adulti<br/><br/>Percorso avventuroso &ndash; Adventure rafting<br/>Impegnativo e spettacolare attraverso le profonde Gole del lao.<br/><span>Lunghezza 14 km, difficolt&agrave; II-IV grado, durata 4 ore</span><br/>&euro; 50,00 Canyon rafting<br/>&euro; 100,00 full day rafing<br/>&euro; 150,00 2day rafting.<br/><br/>Ragazzi da 14 anni in su solo se accompagnati da genitori</strong>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">PRENOTA LA TUA VACANZA SUL POLLINO!</div>
Compilate il<br/><a href="prenotazioni.html"><b>MODULO PER INFORMAZIONI</b></a>&nbsp; <br/>sui nostri servizi, riceverete una risposta entro 24-48 ore.>
	</div>
{% endblock %}
