  {% extends "base.html" %}
{% block title %}Prodotti tipici del Parco Nazionale Del Pollino{% endblock %}
{% block header %}Prodotti tipici del Parco Nazionale Del Pollino{% endblock %}

{% block body %}
{% load box %}
{% load call %}
  {% local "Porta a casa i suoi sapori, odori e colori" "prodotti_tipici/mainColumnParagraphs/0/image/cestino.jpg" left horizontal %}
More <br />Lamponi<br />Pomodori da insalata e per salsa<br />Melanzane<br />Melanzane rosse<br />Peperoni<br />Zucchine<br />Fagioli in granella freschi<br />Fagiolini in baccello o &quot;cornetti&quot;<br />Fiori di Zucca<br />Mais<br/>
Un assortimento di prodotti tipici del Pollino, una raccolta di sapori<br/>
<br/>
<br/>
<br/>
I prodotti agricoli dell'<a href="prodotti_tipici/agricoli.html" >Azienda Agricola Attadia</a>: Melanzana Rossa, Legumi e Ortaggi<br/>
<br/>
La <a href="prodotti_tipici/negozio.html" >Bottega di Flavia De Marco</a> con prodotti tipici lucani e non solo<br/>
<br/>
Il <a href="prodotti_tipici/oliodioliva.html" >Frantoio di Tedesco Franco,</a> vincitore del premio Olivarum nel 2005<br/>
{% endbox %}
{% endblock %}
{% block right %}
  {% call "slideshow.html" set_id="72157603776853640" %}
  {% call "info.html" %}
{% endblock %}
