{% extends "base.html" %}
{% block title %}Rafting nel Parco Nazionale del Pollino{% endblock %}
{% block header %}Rafting nel Parco Nazionale del Pollino{% endblock %}
{% block description %}Prenota la tua discesa in gommone lungo il fiume Lao{% endblock %}
{% block keywords %}Rafting, Lao, Gommone, Discesa, Pollino{% endblock %}

{% block body %}
  {% load box %}
	{% local "Il fiume Lao" "rafting/mainColumnParagraphs/02/image/IMG_0444.JPG" left horizontal %}
  {% endbox %}
Il punto di incontro a Laino Borgo, Verso il Centro Storico<br/>

	{% local "Percorso semplice" "rafting/mainColumnParagraphs/0/image/05.jpg" right vertical %}
<p>Semplice, divertente e per tutti, per provare l'emozione del Rafting.</p>
<p>Lunghezza 4 km, durata 1 ora.</p>

  {% endbox %}
	{% local "Percorso avventuroso" "rafting/mainColumnParagraphs/00/image/13.jpg" left vertical %}
<p>Impegnativo e spettacolare attraverso le profonde Gole del Lao.</p>
<p>Lunghezza 14 km, difficoltà II-IV grado, durata 4 ore.</p>
<p>Ragazzi da 14 anni in su solo se accompagnati da genitori.</p>
  {% endbox %}
	{% local "Attrezzatura" "rafting/mainColumnParagraphs/01/image/11.jpg" right vertical %}
<p>
Noi vi forniamo
giubotto salvagente, casco protettivo, pagaia, muta da 3 mm, ambienti per cambiarsi e docce.
</p>
<p>Voi portatevi
scarpe da ginnastica o calzari tipo surf, maglietta, costume da bagno.
</p>
<p>Si sconsiglia di portare
Macchine fotografiche, videocamere, cellulari</p>
<p>Tutti i partecipanti sono coperti da regolare polizza assicurativa</p>
  {% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
{% comment %}
  {% smallbox "Prenotazioni Rafting" %}
Potete prenotare una discesa in gommone sul fiume Lao Pollino direttamente presso una nostra struttura oppure telefonando ore ufficio allo <span class="phones">0981.85644</span>. Chiedere di Giuseppe
  {% endbox %}
	{% smallbox "Prezzi" %}
<p>
<strong>Percorso semplice</strong>
<br/>€ 15,00 a persona
<br/>€ 10,00 per ragazzi da 4 a 10 anni
</p>
<p>
<strong>Percorso avventuroso</strong>
<br/>€ 50,00&nbsp;a persona
</p>

  {% endbox %}
{% endcomment %}
  {% call "escursioni.html" %}
{% endblock %}
