  {% extends "base.html" %}
{% block title %}
 Rafting nel Parco Nazionale del Pollino
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="index.html" class="nav">Home</a></span><span class="itNav"><a href="index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="guida.html" class="nav">The guide</a></span><span class="itNav"><a href="guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navSelfTopLevel"><span class="enNav">Rafting</span><span class="itNav">Rafting</span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="letture.html" class="nav">Readings</a></span><span class="itNav"><a href="letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="foto.html" class="nav">Foto</a></span><span class="itNav"><a href="foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="english.html" class="nav">English</a></span><span class="itNav"><a href="english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="rafting/mainColumnParagraphs/02/image/IMG_0444.JPG" class="contentImage_left" alt=""/>
Il punto di incontro a Laino Borgo, Verso il Centro Storico<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="rafting/mainColumnParagraphs/0/image/05.jpg" class="contentImage_left" alt=""/>
	<h2>La discesa del Fiume Lao</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="rafting/mainColumnParagraphs/00/image/13.jpg" class="contentImage_right" alt=""/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="rafting/mainColumnParagraphs/01/image/11.jpg" class="contentImage_left" alt=""/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Informazioni Telefoniche contatti</div>
Come <b>prenotare</b> una discesa <b>RAFTING con Viaggiare nel Pollino:<br/></b>a) usando l'apposito <a href="prenotazioni.html">modulo</a>&nbsp;riceverete una risposta entro 24-48 ore, <br/>b) prenotando presso una nostra struttura potrete prenotare contemporaneamente la discesa in gommone<br/>c) telefonando ore ufficio allo 0981.85644 chiedere di Giuseppe
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Prenota la tua discesa sul fiume Lao</div>
<b>Percorso semplice<br/></b>Semplice, divertente e per tutti, per provare l'emozione del Rafting.<br/>Lunghezza <b>4 km</b>, durata <b>1 ora</b><br/><b>€ 15,00 </b>a persona<br/><b>€ 10,00 </b>per ragazzi da 4 a 10 anni <br/><br/><b>Percorso avventuroso<br/></b>Impegnativo e spettacolare attraverso le profonde Gole del lao.<br/>Lunghezza <b>14 km</b>, difficoltà <b>II-IV grado</b>, durata <b>4 ore</b><br/><b>€ 50,00&nbsp;</b>a persona<br/>Ragazzi da 14 anni in su solo se accompagnati da genitori<br/><br/><b>Noi vi forniamo<br/></b>giubotto salvagente, casco protettivo, pagaia, muta da 3 mm, ambienti per cambiarsi e docce.<br/><b>Voi portatevi</b><br/>scarpe da ginnastica o calzari tipo surf, maglietta, costume da bagno.<br/><b>Si sconsiglia di portare</b><br/>Macchine fotografiche, videocamere, cellulari<br/><br/>Tutti i partecipanti sono coperti da regolare <b>polizza assicurativa</b>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Escursioni e Visite Guidate</div>
Per chi ama la montagna o vuole visitare il Parco in generale, disporrà di documentazione e materiali informativi.<br/><br/>Chi vuole percorrere l’ampia rete di sentieri del Pollino potrà usufruire dei servizi di una<br/>&nbsp;<b><a href="javascript:void(0);/*1237718301739*/">Guida Ufficiale del Parco </a></b>
	</div>
{% endblock %}
