  {% extends "base.html" %}
{% block title %}
 Rafting nel Parco Nazionale del Pollino
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="rafting/mainColumnParagraphs/02/image/IMG_0444.JPG" class="contentImage_left" alt=""/>
Il punto di incontro a Laino Borgo, Verso il Centro Storico<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="rafting/mainColumnParagraphs/0/image/05.jpg" class="contentImage_left" alt=""/>
	<h2>La discesa del Fiume Lao</h2>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="rafting/mainColumnParagraphs/00/image/13.jpg" class="contentImage_right" alt=""/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="rafting/mainColumnParagraphs/01/image/11.jpg" class="contentImage_left" alt=""/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Informazioni Telefoniche contatti</div>
Come <b>prenotare</b> una discesa <b>RAFTING con Viaggiare nel Pollino:<br/></b>a) usando l'apposito <a href="prenotazioni.html">modulo</a>&nbsp;riceverete una risposta entro 24-48 ore, <br/>b) prenotando presso una nostra struttura potrete prenotare contemporaneamente la discesa in gommone<br/>c) telefonando ore ufficio allo 0981.85644 chiedere di Giuseppe
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Prenota la tua discesa sul fiume Lao</div>
<b>Percorso semplice<br/></b>Semplice, divertente e per tutti, per provare l'emozione del Rafting.<br/>Lunghezza <b>4 km</b>, durata <b>1 ora</b><br/><b>€ 15,00 </b>a persona<br/><b>€ 10,00 </b>per ragazzi da 4 a 10 anni <br/><br/><b>Percorso avventuroso<br/></b>Impegnativo e spettacolare attraverso le profonde Gole del lao.<br/>Lunghezza <b>14 km</b>, difficoltà <b>II-IV grado</b>, durata <b>4 ore</b><br/><b>€ 50,00&nbsp;</b>a persona<br/>Ragazzi da 14 anni in su solo se accompagnati da genitori<br/><br/><b>Noi vi forniamo<br/></b>giubotto salvagente, casco protettivo, pagaia, muta da 3 mm, ambienti per cambiarsi e docce.<br/><b>Voi portatevi</b><br/>scarpe da ginnastica o calzari tipo surf, maglietta, costume da bagno.<br/><b>Si sconsiglia di portare</b><br/>Macchine fotografiche, videocamere, cellulari<br/><br/>Tutti i partecipanti sono coperti da regolare <b>polizza assicurativa</b>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Escursioni e Visite Guidate</div>
Per chi ama la montagna o vuole visitare il Parco in generale, disporrà di documentazione e materiali informativi.<br/><br/>Chi vuole percorrere l’ampia rete di sentieri del Pollino potrà usufruire dei servizi di una<br/>&nbsp;<b><a href="javascript:void(0);/*1237718301739*/">Guida Ufficiale del Parco </a></b>
	</div>
{% endblock %}
