  {% extends "base.html" %}
{% block title %}Ristorante da Peppe... tra i ricchi sapori della cucina del Pollino{% endblock %}
{% block header %}Ristorante da Peppe... tra i ricchi sapori della cucina del Pollino{% endblock %}
{% block description %}Il Ristorante da Peppe e' uno dei migliori ristoranti del Parco Nazionale del Pollino{% endblock %}
{% block keywords %}Ristorante, Pollino, Rotonda, Gambero Rosso, Guida Michelin{% endblock %}

{% block body %}
  {% load box %}
	{% flickr "Dove siamo" 2073/2248754124_18a8b670b0_m.jpg right horizontal %}
<p>Nel centro storico di Rotonda, in Basilicata, nel Parco Nazionale del Pollino. </p>
<p>A circa 10-15 minuti dagli svincoli autostradali della SA-RC</p>
	{% endbox %}
  {% local "Il ristorante" "ristorantedapeppe/mainColumnParagraphs/00/image/facciata_esterna_nrid2.jpg" left horizontal %}
<p>In un' antica casa ristrutturata con eleganza e cura in ogni particolare, Peppe e la sua famiglia&nbsp;offrono il meglio di una tradizione gastronomica che trova sempre pi&ugrave; convinti estimatori. </p>
<p>Antipasti, funghi, salse con le erbe del Pollino, paste fatte in casa, minestre, piatti di carne, salumi, formaggi, dolci, vini.</p>
<p>Tutti sapori di una montagna generosa, conditi con la tradizionale ospitalit&agrave; della gente di Basilicata. </p>
	{% endbox %}
  {% local "Particolari" "ristorantedapeppe/mainColumnParagraphs/04/image/particolari_rid.jpg" right horizontal %}
	{% endbox %}
  {% local "Sala Interna" "ristorantedapeppe/mainColumnParagraphs/02/image/saladapranzorid1.jpg" left horizontal %}
	{% endbox %}
  {% local "Sala riservata" "ristorantedapeppe/mainColumnParagraphs/03/image/salariservata1.jpg" right horizontal %}
	{% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "slideshow.html" set_id="72157603776778144" %}
  {% smallbox "Prezzi" %}
  <img align="right" alt="Si accettano carte di credito" src="ristorantedapeppe/carta-di-credito.gif">
<p>
<b>Alla Carta<br/>
</b>Mediamente un pranzo (bibite escluse) è di circa <b>€ 26,00</b>
</p>
<p>
<b>Menù Turistici</b>
<br/>Del Contadino <b>€ 18,50</b>
<br/>Del Pastore <b>€ 12,50</b>
</p>
<p>
<b>Si accettano carte di Credito</b>
</p>
  {% endbox %}
  {% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>tel. 0973.661251</li>
    </ul>
    Ricordatevi di citare il nostro sito!
  {% endbox %}
 
  {% call "escursioni.html" %}
{% endblock %}
