  {% extends "base.html" %}
{% block title %}
 Ristorante da Peppe... tra i ricchi sapori della cucina del Pollino
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="ristorantedapeppe/mainColumnParagraphs/0/image/rotonda-half-web.jpg" class="contentImage_left" alt=""/>
	<h2>Dove siamo?</h2>
<p>Nel centro storico di Rotonda, in Basilicata, nel Parco Nazionale del Pollino. </p>
<p>A circa 10-15 minuti dagli svincoli autostradali della SA-RC</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="ristorantedapeppe/mainColumnParagraphs/00/image/facciata_esterna_nrid2.jpg" class="contentImage_right" alt=""/>
<p>In un' antica casa ristrutturata con eleganza e cura in ogni particolare, Peppe e la sua famiglia&nbsp;offrono il meglio di una tradizione gastronomica che trova sempre pi&ugrave; convinti estimatori. </p>
<p>Antipasti, funghi, salse con le erbe del Pollino, paste fatte in casa, minestre, piatti di carne, salumi, formaggi, dolci, vini.</p>
<p>Tutti sapori di una montagna generosa, conditi con la tradizionale ospitalit&agrave; della gente di Basilicata. </p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="ristorantedapeppe/mainColumnParagraphs/04/image/particolari_rid.jpg" class="contentImage_left" alt=""/>
	<h2>Particolari</h2>
&nbsp;
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="ristorantedapeppe/mainColumnParagraphs/02/image/saladapranzorid1.jpg" class="contentImage_left" alt=""/>
	<h2>Sala Interna</h2>
&nbsp;
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="ristorantedapeppe/mainColumnParagraphs/03/image/salariservata1.jpg" class="contentImage_right" alt=""/>
	<h2>Sala riservata</h2>
&nbsp;
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="ristorantedapeppe/mainColumnParagraphs/01/image/logo140.jpg" class="contentImage_left" alt=""/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Galleria Fotografica</div>
<a target="_blank" href="http://www.flickr.com/photos/22306268@N06/sets/72157603776778144/">Visita Fotografica al Ristorante da Peppe</a>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Prenota il tuo Pranzo al Ristorante da Peppe</div>
<b>Prezzi</b><br/><br/><b>Alla Carta<br/></b>Mediamente un pranzo (bibite escluse) è di circa <b>€ 26,00</b><br/><br/><b>Menù Turistici<br/></b>Del Contadino &nbsp;<b>€ 18,50</b><br/>Del Pastore &nbsp;&nbsp;&nbsp;&nbsp; <b>€ 12,50</b><br/><br/><b>Carte di Credito<br/>AE-DINERS-CARTA SÌ-VISA </b>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Prenota</div>
Usando l'apposito <a href="prenotazioni.html">modulo</a>&nbsp;riceverete una risposta entro 12-24 ore. <br/><br/><b>Telefona allo 0973.661251 </b>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Escursioni e Visite Guidate</div>
Per chi ama la montagna o vuole visitare il Parco in generale, disporrà di documentazione e materiali informativi.<br/><br/>Chi vuole percorrere l’ampia rete di sentieri del Pollino potrà usufruire dei servizi di una<br/><a href="/guida_pollino.html">&nbsp;<b>Guida Ufficiale del Parco </b></a>
	</div>
{% endblock %}
