  {% extends "base.html" %}
{% block title %}
 Viaggiare e suonare nel Parco Nazionale del Pollino con la musica e gli strumenti di QUIRINO VALVANO
{% endblock %}

{% block body %}
  <div style="clear:both;">






      <div class="line"><br/></div>


  <img src="zampogna/mainColumnParagraphs/0/image/quirino.jpg" class="contentImage_right" alt=""/>
<p><strong>Misure<br/>
</strong>Le Zampogne si misurano a &quot;Palmo&quot;. Il Palmo &egrave; un'antica misura borbonica equivalente a 25 cm. Per misurare il Palmo si usa il palmo della mano + la falange del dito pollice. Per misura della Zampogna si intende la distanza dall'inizio della canna melodica pi&ugrave; lunga, fino alla fine del ceppo, dove si innesta l'otre.</p>
<p>&nbsp;</p>
<p><strong>Tonalit&agrave;</strong><br/>
Le Zampogne cambiano tonalit&agrave; in base alla loro lunghezza, cos&igrave; anche le ciaramelle.</p>
<ul>
    <li>Zampogna 2 palmi 1/2 e 5 palmi intonata in LA</li>
    <li>Zampogna 3 e 6 palmi intonata in SOL</li>
    <li>Zampogna 3 palmi 1/2 intonata in FA</li>
    <li>Zampogna 4 palmi intonata in MI</li>
    <li>Zampogna 4 palmi 1/2 intonata in DO</li>
</ul>
<p><br/>
Le Zampogne di dimensioni multiple (3 e 6 oppure 2 1/2 e 5) sono della stessa tonalit&agrave; con una ottava di differenza. Ci&ograve; consente di poterle suonare insieme.</p>
<p> </p>
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>
  <div style="clear:both;">






      <div class="line"><br/></div>


  <img src="zampogna/mainColumnParagraphs/00/image/1.JPG" class="contentImage_left" alt=""/>
  <h2>SURDULINA</h2>
Le Surduline&nbsp;possono variare da 14 a 18 cm (se pi&ugrave; grandi si fuoriesce dall'ordine tradizionale di questo strumento).
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>
  <div style="clear:both;">






      <div class="line"><br/></div>


  <img src="zampogna/mainColumnParagraphs/01/image/2.JPG" class="contentImage_left" alt=""/>
  <h2>ZAMPOGNA 3P</h2>
Zampogne a chiave di 3 palmi<br/>
Tonalit&agrave;: SOL
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>
  <div style="clear:both;">






      <div class="line"><br/></div>


  <img src="zampogna/mainColumnParagraphs/03/image/4.JPG" class="contentImage_left" alt=""/>
  <h2>ZAMPOGNA 4P</h2>
Zampogna a chiave di 4 palmi e 3/4
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>
  <div style="clear:both;">






      <div class="line"><br/></div>


  <img src="zampogna/mainColumnParagraphs/04/image/5.JPG" class="contentImage_left" alt=""/>
  <h2>ZAMPOGNA 4</h2>
Zampogna a chiave di 6 palmi (la pi&ugrave; grande)<br/>
Tonalit&agrave;: SOL
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>
  <div style="clear:both;">






      <div class="line"><br/></div>


  <img src="zampogna/mainColumnParagraphs/05/image/7.JPG" class="contentImage_left" alt=""/>
  <h2>CIARAMELLE</h2>
<p>Possono essere di diverse misure a seconda delle tonalit&agrave;. La ciaramella suona in coppia con la zampogna a chiave.<br/>
</p>
<p><strong>Ance<br/>
</strong>Le tonalit&agrave; dipendono anche dalla durezza ed elasicit&agrave; delle ance, dal tipo di Habitat dove crescono le canne (se pi&ugrave; vicine all'acqua o meno). Le canne migliori sono quelle che crescono in ambienti pi&ugrave; secchi. le canne devono essere raccolte nei periodi di letargo vegetativo (dicembre - gennaio) con la luna calante</p>
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>
  <div style="clear:both;">






      <div class="line"><br/></div>


  <img src="zampogna/mainColumnParagraphs/06/image/8.JPG" class="contentImage_left" alt=""/>
  <h2>TAMBURELLO</h2>
Costituito da una cornice lavorata artigianalmente di legno di faggio, pelle di capra e&nbsp;sonagli ricavati da&nbsp;tappi di bottiglia, schiacciati con il martello e poi temprati sul fuoco.
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>
  <div style="clear:both;">






      <div class="line"><br/></div>


  <h2>Video</h2>
&nbsp; <object width="425" height="373">
<param value="http://www.youtube.com/v/zodgqp9JzQU&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it" name="movie"/>
<param value="transparent" name="wmode"/><embed width="425" height="373" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/zodgqp9JzQU&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it"></embed></object>
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>
  <div style="clear:both;">






      <div class="line"><br/></div>


  <h2>Alla Festa di Sant'Antonio a Rotonda</h2>
&nbsp; <object width="425" height="373">
<param name="movie" value="http://www.youtube.com/v/uyjjW-48jn0&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it"/>
<param name="wmode" value="transparent"/><embed width="425" height="373" src="http://www.youtube.com/v/uyjjW-48jn0&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it" type="application/x-shockwave-flash" wmode="transparent"></embed></object>
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>
  <div style="clear:both;">






      <div class="line"><br/></div>


  <h2>Alla Madonna di Pollino</h2>
<object width="425" height="355">
<param value="http://www.youtube.com/v/Y4I5CFFTVDg&amp;hl=it" name="movie"/>
<param value="transparent" name="wmode"/><embed width="425" height="355" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/Y4I5CFFTVDg&amp;hl=it"></embed></object>
  </div>



  <div style="clear:both;">



      <br/><br/>

  </div>

{% endblock %}
{% block right %}

  <div style="clear:both;">


    <div class="rightColumnTitle">SPETTACOLI, CONCERTI, LABORATORI</div>
Se siete interessati ad organizzare una manifestazione, un concerto, una serata, un laboratorio di strumenti tradizionali noi siamo a vostra disposizione.<br/><br/>Scrivi a <a href="contatti.html"><b>contatti</b></a> oppure telefona allo 0973.669290 -&nbsp;347.2631462 dalle 14 alle 20
<div class="line"><br/></div>
  </div>
  <div style="clear:both;">


    <div class="rightColumnTitle">Video feste e musiche del Pollino</div>
<a href="http://it.youtube.com/view_play_list?p=4ECC758BC4896BBB">Altri Video su You Tube</a>
  </div>
{% endblock %}
