  {% extends "base.html" %}
{% block title %}
 Viaggiare e suonare nel Parco Nazionale del Pollino con la musica e gli strumenti di QUIRINO VALVANO
{% endblock %}
{% block nav %}
   
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="index.html" class="nav">Home</a></span><span class="itNav"><a href="index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="guida.html" class="nav">The guide</a></span><span class="itNav"><a href="guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="letture.html" class="nav">Readings</a></span><span class="itNav"><a href="letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navSelfTopLevel"><span class="enNav">Music</span><span class="itNav">Zampogna</span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="foto.html" class="nav">Foto</a></span><span class="itNav"><a href="foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="english.html" class="nav">English</a></span><span class="itNav"><a href="english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <img src="zampogna/mainColumnParagraphs/0/image/quirino.jpg" class="contentImage_right" alt=""/>
<p><strong>Misure<br/>
</strong>Le Zampogne si misurano a &quot;Palmo&quot;. Il Palmo &egrave; un'antica misura borbonica equivalente a 25 cm. Per misurare il Palmo si usa il palmo della mano + la falange del dito pollice. Per misura della Zampogna si intende la distanza dall'inizio della canna melodica pi&ugrave; lunga, fino alla fine del ceppo, dove si innesta l'otre.</p>
<p>&nbsp;</p>
<p><strong>Tonalit&agrave;</strong><br/>
Le Zampogne cambiano tonalit&agrave; in base alla loro lunghezza, cos&igrave; anche le ciaramelle.</p>
<ul>
    <li>Zampogna 2 palmi 1/2 e 5 palmi intonata in LA</li>
    <li>Zampogna 3 e 6 palmi intonata in SOL</li>
    <li>Zampogna 3 palmi 1/2 intonata in FA</li>
    <li>Zampogna 4 palmi intonata in MI</li>
    <li>Zampogna 4 palmi 1/2 intonata in DO</li>
</ul>
<p><br/>
Le Zampogne di dimensioni multiple (3 e 6 oppure 2 1/2 e 5) sono della stessa tonalit&agrave; con una ottava di differenza. Ci&ograve; consente di poterle suonare insieme.</p>
<p> </p>
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <img src="zampogna/mainColumnParagraphs/00/image/1.JPG" class="contentImage_left" alt=""/>
  <h2>SURDULINA</h2>
Le Surduline&nbsp;possono variare da 14 a 18 cm (se pi&ugrave; grandi si fuoriesce dall'ordine tradizionale di questo strumento).
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <img src="zampogna/mainColumnParagraphs/01/image/2.JPG" class="contentImage_left" alt=""/>
  <h2>ZAMPOGNA 3P</h2>
Zampogne a chiave di 3 palmi<br/>
Tonalit&agrave;: SOL
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <img src="zampogna/mainColumnParagraphs/03/image/4.JPG" class="contentImage_left" alt=""/>
  <h2>ZAMPOGNA 4P</h2>
Zampogna a chiave di 4 palmi e 3/4
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <img src="zampogna/mainColumnParagraphs/04/image/5.JPG" class="contentImage_left" alt=""/>
  <h2>ZAMPOGNA 4</h2>
Zampogna a chiave di 6 palmi (la pi&ugrave; grande)<br/>
Tonalit&agrave;: SOL
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <img src="zampogna/mainColumnParagraphs/05/image/7.JPG" class="contentImage_left" alt=""/>
  <h2>CIARAMELLE</h2>
<p>Possono essere di diverse misure a seconda delle tonalit&agrave;. La ciaramella suona in coppia con la zampogna a chiave.<br/>
</p>
<p><strong>Ance<br/>
</strong>Le tonalit&agrave; dipendono anche dalla durezza ed elasicit&agrave; delle ance, dal tipo di Habitat dove crescono le canne (se pi&ugrave; vicine all'acqua o meno). Le canne migliori sono quelle che crescono in ambienti pi&ugrave; secchi. le canne devono essere raccolte nei periodi di letargo vegetativo (dicembre - gennaio) con la luna calante</p>
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <img src="zampogna/mainColumnParagraphs/06/image/8.JPG" class="contentImage_left" alt=""/>
  <h2>TAMBURELLO</h2>
Costituito da una cornice lavorata artigianalmente di legno di faggio, pelle di capra e&nbsp;sonagli ricavati da&nbsp;tappi di bottiglia, schiacciati con il martello e poi temprati sul fuoco.
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <h2>Video</h2>
&nbsp; <object width="425" height="373">
<param value="http://www.youtube.com/v/zodgqp9JzQU&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it" name="movie"/>
<param value="transparent" name="wmode"/><embed width="425" height="373" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/zodgqp9JzQU&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it"></embed></object>
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <h2>Alla Festa di Sant'Antonio a Rotonda</h2>
&nbsp; <object width="425" height="373">
<param name="movie" value="http://www.youtube.com/v/uyjjW-48jn0&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it"/>
<param name="wmode" value="transparent"/><embed width="425" height="373" src="http://www.youtube.com/v/uyjjW-48jn0&amp;color1=0xe1600f&amp;color2=0xfebd01&amp;border=1&amp;hl=it" type="application/x-shockwave-flash" wmode="transparent"></embed></object>
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
  <div style="clear:both;">
   
   
   
   
   
   
      <div class="line"><br/></div>
   
   
  <h2>Alla Madonna di Pollino</h2>
<object width="425" height="355">
<param value="http://www.youtube.com/v/Y4I5CFFTVDg&amp;hl=it" name="movie"/>
<param value="transparent" name="wmode"/><embed width="425" height="355" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/Y4I5CFFTVDg&amp;hl=it"></embed></object>
  </div>
 
 
 
  <div style="clear:both;">
   
   
   
      <br/><br/>
   
  </div>
     
{% endblock %}
{% block right %}
   
  <div style="clear:both;">
   
   
    <div class="rightColumnTitle">SPETTACOLI, CONCERTI, LABORATORI</div>
Se siete interessati ad organizzare una manifestazione, un concerto, una serata, un laboratorio di strumenti tradizionali noi siamo a vostra disposizione.<br/><br/>Scrivi a <a href="contatti.html"><b>contatti</b></a> oppure telefona allo 0973.669290 -&nbsp;347.2631462 dalle 14 alle 20
<div class="line"><br/></div>
  </div>
  <div style="clear:both;">
   
   
    <div class="rightColumnTitle">Video feste e musiche del Pollino</div>
<a href="http://it.youtube.com/view_play_list?p=4ECC758BC4896BBB">Altri Video su You Tube</a>
  </div>
{% endblock %}
