{% extends "base.html" %}
{% block title %}Bed and Breakfast Pieffe{% endblock %}
{% block header %}Bed and Breakfast Pieffe{% endblock %}
{% block description %}Bed & Breakfast Pieffe a Frascineto nel cuore del Parco Nazionale del Pollino{% endblock %}
{% block keywords %}Bed & Breakfast, Pollino, Frascineto, Calabria, Albanese, Arb&euml;reshe{% endblock %}
{% block body %}
  {% load box %}
	{% local "Dove siamo" "bbpieffe/mainColumnParagraphs/0/image/3444402082_10a8fbd878_m.jpg" right horizontal %}
A <span>Frascineto (CS), in Calabria.</span><br/>
<br/>
Un suggestivo paese <span>Arb&euml;reshe (Italo-Albanese)</span> che sorge in una posizione vantaggiosa per visitare il Parco Nazionale del Pollino, partendo dal versante calabrese jonico.<br/>
<br/>
A Frascineto si conservano ancora la lingua, le tradizioni religiose, orali e musicali portate dai coloni provenienti dall'Albania nel XV secolo.
  {% endbox %}
	{% local "Mikëpritja" "bbpieffe/mainColumnParagraphs/00/image/fuori_8.jpg" left horizontal %}
Lucia, Salvatore e i loro figli Mimmo e Pierfrancesco saranno lieti di accogliervi nella loro villa come graditi ospiti, nel nome della &ldquo;mik&euml;pritja&rdquo;: la tradizionale accoglienza Arb&euml;reshe.
  {% endbox %}
	{% local "Le camere" "bbpieffe/mainColumnParagraphs/05/image/camera_letto_8_2.jpg" right horizontal %}
Abbiamo a vostra disposizione 4 Camere<br/>
Dolcedorme<br/>
Manfriana<br/>
Il Vascello<br/>
La Fagosa<br/>
<br/>
<br/>
Per totale di 10 posti, ognuna dotata di bagno e terrazzo<br/>
  {% endbox %}
	{% local "Ambiente caldo e familiare" "bbpieffe/mainColumnParagraphs/06/image/ServiziPieffe-1.jpg" left horizontal %}
Le eleganti camere, arredate con mobili d'epoca e moderni, sono impreziosite dalle antiche coperte arb&euml;reshe. Per immergersi in un ambiente caldo, familiare e di sapore antico.<br/>
<br/>
Sui letti ci sono le coperte prodotte al telaio dalle donne di un tempo, nei colori tipici dell'Arberia. <br/>
<br/>
Le lenzuola e gli asciugamani di puro cotone o di lino sono decorati con pizzi e merletti.<br/>
<br/>
<br/>
La Pulizia approfondita e cambio biancheria&nbsp; viene effettuata ogni 3 giorni (salvo particolare richiesta del cliente)
  {% endbox %}
	{%local "Colazione" "bbpieffe/mainColumnParagraphs/01/image/colazione_8.jpg" right horizontal %}
I nostri ospiti saranno svegliati dal buon profumo delle nostre marmellate, i dolcetti tipici (crocette, cioccolatini di fichi, il dolce del &rdquo;Pollino&rdquo;, dolci alle mandorle, bocconotti, &ldquo;kruskulit&rdquo;, &ldquo;scalletat&rdquo;), la frutta di stagione e, non meno importante, la nostra disponibilit&agrave; a raccontarci, farci conoscere ed apprezzarci.
  {% endbox %}
	{% local "I dolcetti" "bbpieffe/mainColumnParagraphs/04/image/colazione_interna.jpg" left horizontal %}
La colazione viene servita in una accogliente salone oppure nella veranda che si affaccia sul giardino, in cui si possono gustare i dolcetti tipici fatti in casa, frutta di stagione, marmellate e altre specialit&agrave; locali.
  {% endbox %}
	{% local "Terrazzi" "bbpieffe/mainColumnParagraphs/03/image/terrazza_8_2.jpg" right horizontal %}
Le camere sono tutte dotate di televisore, climatizzatore, collegamento internet wi-fi, e permettono, grazie ai terrazzini con sdraio, di ammirare le bellezze paesaggistiche e ambientali.
  {% endbox %}
	{% local "I servizi" "bbpieffe/mainColumnParagraphs/08/image/valljie.jpg" left horizontal %}
Angolo lettura: Testi classici e di narrativa Accompagnamento turistico con le Guide Ufficiali del Parco del Pollino<br/>
Collaborazione con il Centro benessere DiBi<br/>
Corsi di Cucina<br/>
Corsi di Italiano L2<br/>
Informazioni su: percorsi naturalistici, culturali ed eventi vari caratterizzanti il territorio <br/>
Posto macchina
  {% endbox %}
	{% local "La cena" "bbpieffe/mainColumnParagraphs/02/image/pranzo.jpg" right vertical %}
Ai nostri ospiti (coppie) che si fermano per un periodo superiore a tre notti offriamo una cena costituito da piatti tipici quali: <br/>
<span><br/>
SHTRIDHLA MЁ &Ccedil;ЁRRIN</span><br /><span> <br/>
RRASHKATJEL ME HEKURTHIN</span><br /><span> <br/>
RRIS&Ccedil;IOLINRAT</span><br /><span> <br/>
GAVACRA</span><br /><span> <br/>
TUMAC ME DRUGEN<br/>
  {% endbox %}
	{% local "Frascineto" "bbpieffe/mainColumnParagraphs/07/image/frasc.jpg" left horizontal %}
  {% endbox %}
{% endblock %}
{% block right %}
<a href="http://www.flickr.com/photos/pollino/2267975347/" title="Valljie Frascineto di Pollino Kombat, su Flickr"><br/></a>

  {% load call %}
  {% call "slideshow.html" set_id="72157615688666164" %}
  {% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>tel. 0981 32142</li>
      <li>cell.347 9156521</li>
    </ul>
  {% endbox%}
 
	{% smallbox "Tariffe BB Pieffe" %}
Adulti<b> € 25-30</b> al giorno<br/>Bambini <b>3-10</b> anni <b>sconto 30%</b><br/>Bambini fini a 3 anni <b>GRATIS</b><br/><br/>
Pagamento anche con carta di credito<br/>VISA<br/>MASTERCARD<br/>AURA<br/>PAYPAL
	{% endbox %}
  {% call "prenota_visita.html" %}
  {% call "escursioni.html" %}
{% endblock %}
