{% extends "base.html" %}
{% block title %}Bed and Breakfast Luisella - Rotonda{% endblock %}
{% block header %}Bed and Breakfast Luisella{% endblock %}
{% block description %}Bed &amp; Breakfast Luisella a Rotonda nel cuore del Parco Nazionale del Pollino{% endblock %}
{% block keywords %}Bed &amp; Breakfast, Pollino, Rotonda, Basilicata, Centro Storico{% endblock %}
{% block body %}
  {% load box %}
  {% flickr "Dove siamo" 2073/2248754124_18a8b670b0_m.jpg left horizontal %}
L'Affittacamere &ldquo;Luisella&rdquo;, si trova ad appena 100 metri dalla Piazza Vittorio Emanuele, la principale piazza del centro storico di Rotonda, in Basilicata, nel Parco Nazionale del Pollino.<br/>
<br/>
A circa 10-15 minuti dagli svincoli autostradali della SA-RC.
  {% endbox %}
  {% local "Nel cuore di Rotonda" "luisella/mainColumnParagraphs/01/image/ingresso.jpg" right vertical %}
In un vicolo del centro storico, raggiungibile in auto, un'antica abitazione, si apre a due passi dalla piazza principale.
  {% endbox %}
  {% local "L'appartamento" "luisella/mainColumnParagraphs/03/image/soggiorno-2.jpg" left horizontal %}
Si apre con un accogliente soggiorno, con angolo cottura, finemente arredato
  {% endbox %}
  {% local "Camera Matrimoniale" "luisella/mainColumnParagraphs/00/image/matrimoniale-2.jpg" right horizontal %}
  {% endbox %}
  {% local "Camera Singola" "luisella/mainColumnParagraphs/02/image/singolo.jpg" left vertical %}
Con la possibilit&agrave; di aggiungere altri posti per famiglie &quot;numerose&quot;
  {% endbox %}
  {% local "Soggiorno" "luisella/mainColumnParagraphs/04/image/soggiorno.jpg" right horizontal %}
Poltrona e caminetto per trascorrere tranquille serate
  {% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "slideshow.html" set_id="72157603776740850" %}
  {% comment %}
  {% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>cell. 339.7314170</li>
      <li>cell. 338.1132636</li>
    </ul>
  {% endbox%}
  {% smallbox "Tariffe Bed &amp; Breakfast" %}
    Pernottamento<br/>Matrimoniale&nbsp; <b>€ 50</b><br/><br/>Uso cucina con supplemento da concordare
  {% endbox %}
  {% endcomment %}
  {% call "escursioni.html" %}
  {% call "prenota_visita.html" %}
{% endblock %}
