{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../index.html" class="nav">Home</a></span><span class="itNav"><a href="../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bed_and_breakfast.html" class="navPath">Bed and Breakfast</a></span><span class="itNav"><a href="../bed_and_breakfast.html" class="navPath">Bed and Breakfast</a></span>
</div>
<div class="nav"><span class="enNav"><a href="vecchio_camino.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="vecchio_camino.html" class="nav">Vecchio Camino</a></span>
</div>
<div class="navSelf"><span class="enNav">Luisella</span><span class="itNav">Luisella</span>
</div>
<div class="nav2"><span class="enNav"><a href="luisella/Rotonda.html" class="nav">Il Pollino da Rotonda</a></span><span class="itNav"><a href="luisella/Rotonda.html" class="nav">Il Pollino da Rotonda</a></span>
</div>
<div class="nav"><span class="enNav"><a href="bbpieffe.html" class="nav">Pieffe</a></span><span class="itNav"><a href="bbpieffe.html" class="nav">Pieffe</a></span>
</div>
<div class="nav"><span class="enNav"><a href="soffitta_del_barone.html" class="nav">Soffitta del Barone</a></span><span class="itNav"><a href="soffitta_del_barone.html" class="nav">Soffitta del Barone</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../english.html" class="nav">English</a></span><span class="itNav"><a href="../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../link.html" class="nav">Links</a></span><span class="itNav"><a href="../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="luisella/mainColumnParagraphs/0/image/rotonda-half-web.jpg" class="contentImage_left" alt=""/>
	<h2>Dove siamo?</h2>
L'Affittacamere &ldquo;Luisella&rdquo;, si trova ad appena 100 metri dalla Piazza Vittorio Emanuele, la principale piazza del centro storico di Rotonda, in Basilicata, nel Parco Nazionale del Pollino.<br/>
<br/>
A circa 10-15 minuti dagli svincoli autostradali della SA-RC.<a href="javascript:void(0);/*1237720093418*/" ><br/>
</a>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="luisella/mainColumnParagraphs/01/image/ingresso.jpg" class="contentImage_right" alt=""/>
	<h2>Ingresso</h2>
In un vicolo del centro storico, raggiungibile in auto, un'antica abitazione, si apre a due passi dalla piazza principale.<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="luisella/mainColumnParagraphs/03/image/soggiorno-2.jpg" class="contentImage_left" alt=""/>
	<h2>L'appartamento</h2>
Si apre con un accogliente soggiorno, con angolo cottura, finemente arredato<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="luisella/mainColumnParagraphs/00/image/matrimoniale-2.jpg" class="contentImage_right" alt=""/>
	<h2>Camera Matrimoniale</h2>
&nbsp;
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="luisella/mainColumnParagraphs/02/image/singolo.jpg" class="contentImage_left" alt=""/>
	<h2>Camera Singola</h2>
Con la possibilit&agrave; di aggiungere altri posti per famiglie &quot;numerose&quot;<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="luisella/mainColumnParagraphs/04/image/soggiorno.jpg" class="contentImage_right" alt=""/>
	<h2>Soggiorno</h2>
Poltrona e caminetto per trascorrere tranquille serate<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
 {% load call %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Galleria Fotografica</div>
<a target="_blank" href="http://www.flickr.com/photos/22306268@N06/sets/72157603776740850/">Visita fotografica a Luisella</a>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">INFORMAZIONI TELEFONICHE</div>
<b>339.7314170<br/>338.1132636</b>
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">TARIFFE</div>
Pernottamento<br/>Matrimoniale&nbsp; <b>€ 50</b><br/><br/>Uso cucina con supplemento da concordare
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">Escursioni e Visite Guidate</div>
Per chi ama la montagna o vuole visitare il Parco in generale disporrà di documentazione e materiali informativi.<br/><br/>Chi vuole percorrere l’ampia rete di sentieri del Pollino potrà usufruire dei servizi di una <br/><a href="../guida.html"><b><span target="_blank">Guida Ufficiale del Parco </a></b></span>
	</div>
 {% call "prenota_visita.html" %}
{% endblock %}
