{% extends "base.html" %}
{% block title %}Bed and Breakfast La Soffitta del Barone - Mormanno{% endblock %}
{% block header %}Bed and Breakfast La Soffitta del Barone{% endblock %}
{% block description %}Bed &amp; Breakfast La Soffitta del Barone a Mormanno nel cuore del Parco Nazionale del Pollino{% endblock %}
{% block keywords %}Bed &amp; Breakfast, Pollino, Mormanno, Calabria, Montagnia, Panorama{% endblock %}

{% block body %}
  {% load box %}
  {% local "Dove Siamo" "soffitta_del_barone/mainColumnParagraphs/09/image/mormanno.jpg" right vertical %}
Siamo a Mormanno, i provincia di Cosenza, a 850 m. s.l.m., nel Parco Nazionale del Pollino.
<br/>
Gode di un clima fresco ed asciutto, in posizione centrale per raggiungere le principali mete del Parco e facilmente raggiungibile con l'Autostrada A3.
	{% endbox %}
  {% local "Palazzo del Settecento" "soffitta_del_barone/mainColumnParagraphs/0/image/balconata.jpg" left horizontal %}
In una mansarda di un palazzo del Settecento di recente restaurato, &egrave; ubicata &quot;La Soffitta del Barone&quot;.
	{% endbox %}
  {% local "I padroni di casa" "soffitta_del_barone/mainColumnParagraphs/00/image/interno_1.jpg" right horizontal %}
Lieti di ospitarvi Antonella ed Augusto, giovani padroni di casa, vogliono offrire un soggiorno rilassante e la possibilit&agrave; di gustare a colazione, le bont&agrave; della gastronomia e della pasticceria locale.
	{% endbox %}
  {% local "Comodo e accogliente" "soffitta_del_barone/mainColumnParagraphs/01/image/interno_2.jpg" left horizontal %}
Il nostro ospite, amante della montagna, potr&agrave; soggiornare in comode camere dotate di bagno e tv nell'accogliente sala da pranzo, mentre in estate potr&agrave; rilassarsi nella terrazza panoramica dove si pu&ograve; consumare la prima colazione con prodotti tipici locali e della casa. I ricercatori potranno consultare manoscritti, testi antichi e moderni nella biblioteca di famiglia.
	{% endbox %}
  {% local "4 stanze" "soffitta_del_barone/mainColumnParagraphs/06/image/letto_2.jpg" right horizontal %}
La nostra struttura ha a disposizione 4 stanze per un totale di 12 posti letto.<br/>
	{% endbox %}
  {% local "Camere luminose" "soffitta_del_barone/mainColumnParagraphs/05/image/letto_1.jpg" left horizontal %}
Le camere sono luminose, confortevoli e arredate con gusto <br/>
	{% endbox %}
  {% local "Dolci tipici" "soffitta_del_barone/mainColumnParagraphs/04/image/interno_4.jpg" right horizontal %}
La colazione vi sar&agrave; servita in un ambiente confortevole, gustando le marmellate e i dolci tipici della nostra terra<br/>
	{% endbox %}
  {% local "Relax" "soffitta_del_barone/mainColumnParagraphs/02/image/terrazza.jpg" left horizontal %}
Il balcone per i vostri momenti di relax<br/>
	{% endbox %}
  {% local "Vista panoramica" "soffitta_del_barone/mainColumnParagraphs/03/image/terrazza_mormanno.jpg" right horizontal %}
Il Centro storico di Mormanno visto dalla nostra terrazza panoramica.
	{% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "slideshow.html" set_id="72157620709242278" %}
  {% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>0981.22916</li>
      <li>347.7176208</li>
      <li>328.1393771</li>
      <li>389.3467176</li>
    </ul>
  {% endbox %}
  {% smallbox "Tariffe Bed &amp; Breakfast" %}
Camera matrimoniale <b>€ 60</b><br/>Camera singola <b>€ 40</b><br/>Camera 80 per la tripla <b>€ 80</b><br/>Camera Quadrupla<b> € 100</b><br/>Tutti i prezzi sono comprensivi di Prima Colazione
  {% endbox %}
 {% load call %}
 {% call "prenota_visita.html" %}
 {% call "escursioni.html" %}
{% endblock %}
