{% extends "base.html" %}
{% block title %}Bed and Breakfast Al Vecchio Camino - Rotonda{% endblock %}
{% block header %}Bed and Breakfast Al Vecchio Camino{% endblock %}
{% block description %}Bed &amp; Breakfast Al Vecchio Camino a Rotonda nel cuore del Parco Nazionale del Pollino{% endblock %}
{% block keywords %}Bed &amp; Breakfast, Pollino, Rotonda, Basilicata, Viggianello{% endblock %}
{% block body %}
  {% load box %}
  {% local "Dove Siamo?" "vecchio_camino/mainColumnParagraphs/02/image/rotonda-half-web.jpg" right horizontal %}
Il Bed &amp; Breakfast &ldquo;Al Vecchio Camino&rdquo;, si trova ad appena 300 metri da Piazza Vittorio Emanuele, la piazza principale del centro storico di Rotonda, in Basilicata, nel Parco Nazionale del Pollino.<br/>
<br/>
A circa 10-15 minuti dagli svincoli autostradali della SA-RC.<br/>
  {% endbox %}
  {% local "La Struttura" "vecchio_camino/mainColumnParagraphs/00/image/2212033659_be07f8ee34.jpg" left horizontal %}
IL B&amp;B &egrave; gestito da Pina Pisani.&nbsp; Si trova a circa 600 metri s.l.m. affacciandosi ad Ovest verso il centro storico di Rotonda e ad Est verso la Valle del Mercure, Viggianello e l&rsquo;imponente versante occidentale del Massiccio del Pollino.<br/>
  {% endbox %}
  {% local "Le Camere" "vecchio_camino/mainColumnParagraphs/0/image/le_camere.jpg" right horizontal %}
&quot;Al Vecchio Camino&quot; &egrave; dotato di complessivi 15 posti letto suddivisi in 5 unit&agrave; indipendenti munite tutte di servizi igienici e televisore.<br/>
1. &ldquo;Primula&rdquo; con 1 letto matrimoniale e un letto singolo<br/>
2. &ldquo;Ginestra&rdquo; con 2 letti singoli<br/>
3. &ldquo;Lavanda&rdquo;, con 1 letto matrimoniale e un letto a castello e terrazzo<br/>
4. &ldquo;Margherita&rdquo; con 1 letto matrimoniale<br/>
5. &ldquo;Viola&rdquo; con 1 letto matrimoniale e 2 letti singoli
  {% endbox %}
  {% local "La prima colazione e dove mangiare" "vecchio_camino/mainColumnParagraphs/01/image/colazione.jpg" left horizontal %}
Pina vi offre una ricca e abbondate prima colazione a base di dolci e marmellate fatte in casa nell&rsquo;ampia e confortevole sala del &ldquo;vecchio camino&rdquo;.<br/>
A Pranzo e a Cena, a Rotonda, non mancano <a href="/ristorantedapeppe.html">ristoranti</a>, agriturismi dalla ottima cucina a base di prodotti tipici che vi permettono di arricchire il vostro soggiorno con gli odori e i sapori del Pollino.<br/>
  {% endbox %}
  {% local "Reception" "vecchio_camino/mainColumnParagraphs/04/image/la_reception.jpg" right horizontal %}
Per chi ama la montagna o vuole visitare il Parco in generale, presso la reception, disporr&agrave; di documentazione e materiali informativi. <br/>
Chi vuole percorrere l&rsquo;ampia rete di sentieri del Pollino, della Costa di Maratea e della Basilicata potr&agrave; usufruire dei servizi delle esperte Guide del Parco e delle Guide Escursionistiche Ambientali.
  {% endbox %}
  {% local "Svaghi e Tempo Libero" "vecchio_camino/mainColumnParagraphs/03/image/svaghi.jpg" left horizontal %}
Chiunque vorr&agrave; approfittare di un soggiorno presso &ldquo;Al Vecchio Camino&rdquo; per rilassarsi potr&agrave; leggere o giocare negli ampi spazi sia all&rsquo;aperto che all&rsquo;interno, cos&igrave; come fare rilassante passeggiata nei vicoli del centro storico non richiede l&rsquo;uso dell&rsquo;auto che potr&agrave; stare inalmente ferma nel parcheggio custodito.
  {% endbox %}
  {% local "L'Angolo cottura" "vecchio_camino/mainColumnParagraphs/09/image/angolo_cottura.jpg" right horizontal %}
Se preferite cucinarvi in proprio, potrete utilizzare la cucina in dotazione &ldquo;Al Vecchio Camino&rdquo;.<br/>
<br/>
La cucina &egrave; dotata di tutto quanto &egrave; necessario per preparavi da soli il vostro pranzo o la vostra cena.
  {% endbox %}
  {% local "La Taverna" "vecchio_camino/mainColumnParagraphs/07/image/la_taverna.jpg" left horizontal %}
Alla Taverna esposizione e degustazione di prodotti tipici e di Olio di Oliva Extra Vergine di produzione propria.<br/>
  {% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "slideshow.html" set_id="72157603775662714" %}
  {% comment %}
  {% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>tel. 0973.667193</li>
      <li>cell. 340.2418130</li>
    </ul>
  {% endbox%}
  {% smallbox "Tariffe Bed &amp; Breakfast" %}
  Pernottamento con prima colazione<br/>Matrimoniale&nbsp; <b>€ 60<br/></b>Alta Stagione (dal 1 al 31 Agosto) supplemento <b>€ </b><b>10 <br/></b>Singola <b>€ 40</b><br/>Letto aggiunto in camera matrimoniale&nbsp; <b>€ 20</b><br/>Uso cucina con supplemento da concordare
  {% endbox%}
  {% endcomment %}
  {% call "prenota_visita.html" %}
  {% call "escursioni.html" %}
{% endblock %}
