{% extends "base.html" %}
{% block title %}Le ricette del Ristorante da Peppe{% endblock %}
{% block header %}Le ricette del Ristorante da Peppe{% endblock %}
{% block description %}Il Ristorante da Peppe e' uno dei migliori ristoranti del Parco Nazionale del Pollino{% endblock %}
{% block keywords %}Ricette, Ristorante, Pollino, Rotonda, Gambero Rosso, Guida Michelin{% endblock %}
{% block body %}
  {% load box %}
  {% local "Antipasti" "ricette/mainColumnParagraphs/0/image/ricetta_antipasti.jpg" right horizontal %}
<ul>
    <li>Antipasto alla Rotondese</li>
    <li>Prosciutto del Pollino</li>
    <li>Tris di Prosciutti</li>
    <li>Ricotta del Pastore</li>
    <li>Melanzane e Peperoni <em>&quot;Kijne&quot;</em></li>
</ul>
	{% endbox %}
  {% local "Primi" "ricette/mainColumnParagraphs/00/image/ricetta_lagane.jpg" right horizontal %}
<ul>
    <li>Raviolini alle ortiche o con burro e salvia</li>
    <li>Fusilli ai funghi porcini</li>
    <li>Lagane e fasule</li>
    <li>Gnocchetti con ricotta ed erbette del Pollino</li>
    <li>Minestra di <em>&quot;Patane e Vajane&quot;</em></li>
</ul>
	{% endbox %}
  {% local "Secondi" "ricette/mainColumnParagraphs/02/image/ricetta_secondi.gif" right horizontal %}
<ul>
    <li>Capretto&nbsp;con patate e peperoni </li>
    <li>Bocconcini di coniglio al profumo del Pollino&nbsp;</li>
    <li>Filetto di maiale alle bacche di ginepro</li>
</ul>
	{% endbox %}
  {% local "Contorni" "ricette/mainColumnParagraphs/01/image/ricetta_zafarane.jpg" right horizontal %}
<ul>
    <li><em>&quot;Zafarane Krusche&quot;</em> </li>
    <li>Funghi del Pollino </li>
    <li>Verdure alla griglia </li>
</ul>
	{% endbox %}
  {% local "Dessert" "ricette/mainColumnParagraphs/03/image/ricetta_dessert.jpg" right horizontal %}
<ul><li>Semifreddo alle mandorle</li><li>Crostata alla frutta</li><li>Ciambella con mele e mandorle</li></ul>
	{% endbox %}
  {% local "Melanzana Rossa di Rotonda DOP" "ricette/mainColumnParagraphs/04/image/africana.jpg" left horizontal %}
Il Ristorante da Peppe ha da sempre dato particolare importanza al recupero di antichi prodotti e vecchie ricette.<br/>
<br/>
In Particolare la Melanzana Rossa di Rotonda, antico ortaggio di origine africana che viene coltivato esclusivamente a Rotonda sin dalla fine del 1800, viene proposto in diverse preparazioni dall'antipasto al dolce.
	{% endbox %}
  {% local "Melanzane" "ricette/mainColumnParagraphs/07/image/ricetta_melanzane.jpg" right horizontal %}
&nbsp;Cucinate in diversi modi. Sia la melanzana &quot;normale&quot; che la Melanzana Rossa di Rotonda DOP.<br/>
<br/>
Da Peppe per valorizzare la Melanzana Rossa di Rotonda DOP, organizza ognni anno il 25 AGOSTO, la <span><a href="http://www.flickr.com/photos/22306268@N06/sets/72157603783945595/" target="_blank">Sagra della Melanzana Rossa</a>.</span><br/>
Scorrendo le foto alcuni delle numerose preparazioni, alcune originali, alcune rivisitate dalle antiche ricette.<br/>
	{% endbox %}
  {% local "Rascatelli ai Funghi Porcini" "ricette/mainColumnParagraphs/06/image/rascatelli_ai_funghi_porcini.jpg" left horizontal %}
&nbsp;Il Rascatello &egrave; un fusillo lavorato a mano, con l'uso di una stecca di metallo.<br/>
	{% endbox %}
  {% local "Minestra Patane e Vajane" "ricette/mainColumnParagraphs/05/image/ricetta_minestra.jpg" right horizontal %}
Piatto tradizionale e tipico<br/>
Una purea di Patate e Fagioloni verdi, con soffritto e Peperoni secchi.<br/>
	{% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "slideshow.html" set_id="72157603783945595" %}
  {% smallbox "Prezzi" %}
  <img align="right" alt="Si accettano carte di credito" src="/ristorantedapeppe/carta-di-credito.gif">
<p>
<b>Alla Carta<br/>
</b>Mediamente un pranzo (bibite escluse) è di circa <b>€ 26,00</b>
</p>
<p>
<b>Menù Turistici</b>
<br/>Del Contadino <b>€ 18,50</b>
<br/>Del Pastore <b>€ 12,50</b>
</p>
<p>
<b>Si accettano carte di Credito</b>
</p>
  {% endbox %}
  {% smallbox Informazioni e prenotazioni %}
    <ul class="phones">
      <li>tel. 0973.661251</li>
    </ul>
    Ricordatevi di citare il nostro sito!
  {% endbox %}

  {% call "escursioni.html" %}
{% endblock %}
