{% extends "base.html" %}
{% block title %}Il Pollino da Rotonda{% endblock %}
{% block header %}Il Pollino da Rotonda{% endblock %}
{% block description %}Visitare il Pollino partendo da Rotonda{% endblock %}
{% block keywords %}Pollino, Rotonda, Calabria, Basilica, Mormanno, Morano{% endblock %}
{% block body %}
  {% load box %}
  {% contentbox "Come visitare il Pollino" %}
Noi consigliamo di visitare il Pollino con una <a href="/guida_pollino.html" >Guida Ufficiale del Parco</a>, ma in ogni caso il Pollino si pu&ograve; visitare anche senza.  <br/>
<br/>
Di seguito i suggerimenti di <em>VIAGGIARE NEL POLLINO</em> per visitare il Pollino in completa autonomia.  <br/>
<br/>
Stampate la pagina e portatela con voi.<br/>
Segnalateci eventuali errori, disservizi, novit&agrave;.
  {% endbox %}	

  {% contentbox "A Rotonda" %}
<p>Il caratteristico centro storico e il &quot;Castello&quot;.<br/>
Il fossile di Elefante Preistorico al Museo di Storia Naturale<br/>
Lo splendido panorama sulla Valle del Mercure dalla cima del &quot;Castello&quot;.<br/>
La Chiesa Madre (Madonna con bambino di notevole fattura e tele di scuola napoletana), La Chiesa di Sant'Antonio, La Cappella del Rosario, la Chiesa extra-moenia della Madonna della Consolazione e i ruderi del &quot;Seminario&quot;.<br/>
La Festa dell'Abete, dal 8 al 13 Giugno<br/>
Le manifestazioni culturali dell'Agosto Rotondese<br/>
La Sagra della Melanzana Rossa, il 25 Agosto.<br/>
La Piscina pubblica<br/>
Il Ristorante Da Peppe e l&rsquo;Agriturismo Civarra</p>
  {% endbox %}	

  {% contentbox "A meno di 30 minuti" %}
<p><strong>Salire in montagna</strong><br/>
Le praterie, le sorgenti e le faggete di Piano Pedarreto. <br/>
Escursione facile(almeno 3 ore di cammino) alla Montagna di Grasta e alla Timpa dell'Orso e al Piano di Marolo. <br/>
Il grandioso Piano Ruggio e i Pini Loricati del panoramico Belvedere del Malvento (meno di un ora di cammino).<br/>
Colle del Dragone (Pini Loricati). <br/>
Colle Impiso (Panorama sul cuore del parco, punto di partenza per escursioni)</p>
<p>&nbsp;</p>
<p><strong>Viggianello</strong> (direzione Nord-Est)<br/>
Il centro storico e il Castello<br/>
La sorgente del Fiume Mercure e i depositi di argilla del Lago Pleistocenico con conchiglie fossili. <br/>
La Festa dell'Abete, ultima domenica di Agosto</p>
<p>&nbsp;</p>
<p><strong>Laino Borgo e Laino Castello</strong> (direzione Sud-Ovest)<br/>
Il centro storico abbandonato di Laino Castello. <br/>
Le gole del Lao e Il fiume Lao Rafting sul fiume Lao. <br/>
La Giudaica a Laino Borgo (Il Venerd&igrave; Santo degli anni pari) <br/>
Il Santuario delle Cappelle o della Madonna dello Spasimo, con la riproduzione dei luoghi della terra santa.<br/>
Festa dell'Abete, prima domenica di Giugno.</p>
<p>&nbsp;</p>
<p><strong>Morano Calabro</strong> (direzione Sud-Est)<br/>
Visita al centro storico, uno dei 100 borghi pi&ugrave; belli d'Italia. <br/>
Castello (X - XIII sec) con panorama suggestivo sulla catena del Pollino. <br/>
Visita al centro naturalistico &quot;Il Nibbio&quot; con diorami che ricostruiscono gli ambienti naturali del parco con la fauna tipica. <br/>
Il Convento di San Bernardino in stile gotico (XIII sec)<br/>
La Collegiata di Santa Maria Maddalena (XVI sec) con il Polittico di Bartolomeo Vivarini<br/>
il Convento Francescano, <br/>
la Collegiata di San Pietro e Paolo (X sec)con le 4 statue marmoree di Pietro Bernini<br/>
Il Convento dei Cappuccini (XVII sec)<br/>
Il Monastero di Colloreto (XVI sec)</p>
<p>&nbsp;</p>
<p><strong>Civita</strong> (direzione Sud-Est)<br/>
Centro abitato italo-albanese (ARBERESHE) di Civita, che conserva le tradizioni culturali e religiose della madrepatria. <br/>
La Chiesa di Santa Maria Assunta (XVII sec) con gli arredi sacri della tradizione bizantina. <br/>
Il Belvedere del Canyon del Raganello: uno degli scorci panoramici pi&ugrave; spettacolari del Pollino, dove il fiume scorre per 8 km incassato in una profondissima gola, con pareti rocciose strapiombanti per oltre 300 metri. <br/>
Il Ponte del Diavolo<br/>
Museo etnico (ingresso ad offerta)<br/>
La buona cucina del ristorante Kamastra</p>
  {% endbox %}	

  {% contentbox "A meno di 1 ora" %}
<p><strong>Papasidero</strong> (direzione Sud-Ovest)<br/>
La Grotta del Romito. Conserva sepolture umane di 12.000 anni fa e un graffito raffigurante il Bue primigenio, considerata la pi&ugrave; grave; bella espressione artistica di quel periodo (biglietto di ingresso)<br/>
La buona cucina del Ristorante &ldquo;Grotta del Romito&rdquo;<br/>
Il centro storico<br/>
Il ponte Romano e la chiesa trans-fluviale della Madonna di Costantinopoli (XVII Sec.)<br/>
Le Gole del Fiume Lao<br/>
Il futuristico Ponte di legno a Campicello Il Borgo semi-abbandonato di Avena <br/>
Sanseverino Lucano</p>
<p><br/>
<strong>San Severino Lucano</strong> (direzione Nord-Est)<br/>
Passeggiata breve sul sentiero degli Abeti bianchi. <br/>
Il panoramico Santuario della Madonna di Pollino. <br/>
Visita al caratteristico centro abitato di Mezzana con il museo della civilt&agrave; contadina (ingresso ad offerta), le botteghe artigiane. <br/>
Il Fiume Frido<br/>
Passeggiata sul Fiume Peschiera e il Bosco Magnano<br/>
L&rsquo;Abbazia del Sagittario<br/>
I Mulini ad acqua<br/>
La Buona Cucina dell&rsquo;Ostello &ldquo;il Salice&rdquo; a Mezzana</p>
  {% endbox %}	

  {% contentbox "A pi&ugrave; di 1 ora" %}
<p><strong>Castelluccio Superiore</strong> (direzione Nord-Ovest)<br/>
Dal Centro storico il Panorama sulla Valle del Mercure e sul Pollino pi&ugrave; ampio che ci sia!<br/>
Il Santuario della Madonna del Soccorso</p>
<p>&nbsp;</p>
<p><strong>Latronico</strong> (direzione Nord-Est)<br/>
Le Terme &quot;La Calda&quot; <br/>
Il Pesce Fossile<br/>
Il Monte Alpi<br/>
Museo della Tradizione Contadina</p>
<p>&nbsp;</p>
<p><strong>Cerchiara di Calabria</strong> (da abbinare con la visita a Civita)<br/>
Visita al suggestivo Santuario della Madonna delle Armi sul Monte Sellaro, incastonato in una parete rocciosa con panorama sul Mar Ionio.<br/>
La Piscina, aperta al pubblico, con acque sulfuree della Grotta delle Ninfe<br/>
I panini al Bar del Santuario</p>
<p>&nbsp;</p>
<p><strong>Francavilla marittima</strong> (direzione Sud-Est)<br/>
L&rsquo;area Archeologica del Timpone Motta (attrezzatevi prima di materiale informativo): resti di un Tempio (VII sec a.C.)</p>
<p>&nbsp;</p>
<p><strong>Senise</strong> (direzione Nord-Est)<br/>
Chiesa di San Francesco a Senise. Il Lago di Monte Cotugno</p>
<p>&nbsp;</p>
<p><strong>Terranova di Pollino e San Costantino Albanese</strong> (direzione Nord-Est)<br/>
Visita al bellissimo paesaggio di Timpa di Pietrasasso e alla Timpa delle Murge. Si tratta di due enormi complessi rocciosi di origine lavica che conservano ancora l'aspetto del momento in cui &egrave; avvenuta la solidificazione nelle profondit&agrave; oceaniche. <br/>
La cucina dell&rsquo;Agriturismo Garavina e del Ristorante &ldquo;Luna Rossa&rdquo;</p>
<p>&nbsp;</p>
<p><strong>Noepoli</strong> (direzione Nord-Est)<br/>
Le Porticelle, caratteristiche formazioni rocciose prodotte dall'erosione.</p>
<p>&nbsp;</p>
<p><strong>Trecchina </strong>(direzione Nord-Ovest)<br/>
Il centro storico Medioevale e il panoramicissimo santuario della Madonna del Soccorso</p>
<p>&nbsp;</p>
<p><strong>Rivello</strong> (direzione Nord-Ovest)<br/>
Il caratteristico ed evocativo centro storico Medioevale<br/>
Il Convento di Sant'Antonio <br/>
Le Chiese di San Nicola e Santa Maria del Poggio<br/>
Il Museo archeologico<br/>
La buona cucina del &ldquo;Ristorante del Pellegrino&rdquo;</p>
<p>&nbsp;</p>
<p><strong>Maratea</strong> (direzione Nord-Ovest)<br/>
Il centro storico di Maratea<br/>
Il Santuario di San Biagio, la statua del Redentore e il punto panoramico sul Golfo di Policastro</p>
<p>&nbsp;</p>
<p><strong>Tortora</strong> (direzione Nord-Ovest)<br/>
Il centro storico e il Museo Archeologico con i ritrovamenti dell'antica citt&agrave; di Blanda e delle necropoli Lucane.</p>
<p>&nbsp;</p>
<p><strong>Valsinni </strong>(direzione Nord-Est)<br/>
Parco Letterario di Isabella Morra</p>
  {% endbox %}	
{% endblock %}
{% block right %}
  {% load call %}
	{% call "prenota_visita.html" %}
{% endblock %}
