{% extends "base.html" %}
{% block title %}Il Pollino da Mormanno{% endblock %}
{% block header %}Il Pollino da Mormanno{% endblock %}
{% block description %}Visitare il Pollino partendo da Mormanno{% endblock %}
{% block keywords %}Pollino, Mormanno, Calabria, Basilica, Rotonda, Morano{% endblock %}
{% block body %}
  {% load box %}
  {% contentbox "Come visitare il Pollino" %}
Noi consigliamo di visitare il Pollino con una <a href="/guida_pollino.html" >Guida Ufficiale del Parco</a>, ma in ogni caso il Pollino si pu&ograve; visitare anche senza.  <br/>
<br/>
Di seguito i suggerimenti di <em>VIAGGIARE NEL POLLINO</em> per visitare il Pollino in completa autonomia.  <br/>
<br/>
Stampate la pagina e portatela con voi.<br/>
Segnalateci eventuali errori, disservizi, novit&agrave;.
  {% endbox %}	

  {% contentbox "I vicoli del centro storico" %}
Il Parco della Rimembranza con il Faro votivo ai Caduti calabresi<br/>
Le chiese del '600 in particolare la <em>Collegiata di S.Maria del Colle</em> con le suggestive Cripte, che costituisce uno degli esempi pi&ugrave; interessanti di barocco in Calabria settentrionale; presenta inoltre pregevoli opere d'arte.
Il Monte S. Michele<br/>
I boschi di castagno della Carpineta e di Procitta<br/>
Il Lago Pantano<br/>
  {% endbox %}	
  {% contentbox "A meno di 30 minuti" %}
<h3>Rotonda</h3>
Il caratteristico centro storico e il &quot;Castello&quot;.<br/>
Il fossile di Elefante Preistorico al Museo di Storia Naturale<br/>
Lo splendido panorama sulla Valle del Mercure dalla cima del &quot;Castello&quot;.<br/>
La Chiesa Madre (Madonna con bambino di notevole fattura e tele di scuola napoletana), La Chiesa di Sant'Antonio, La Cappella del Rosario, la Chiesa extra-moenia della Madonna della Consolazione e i ruderi del &quot;Seminario&quot;.<br/>
La Festa dell'Abete, dal 8 al 13 Giugno<br/>
Le manifestazioni culturali dell'Agosto Rotondese<br/>
La Sagra della Melanzana Rossa, il 25 Agosto.

<h3>Papasidero (direzione Sud-Ovest)</h3>
La Grotta del Romito. Conserva sepolture umane di 12.000 anni fa e un graffito raffigurante il Bue primigenio, considerata la pi&ugrave; grave; bella espressione artistica di quel periodo (biglietto di ingresso)<br/>
La buona cucina del Ristorante &ldquo;Grotta del Romito&rdquo;<br/>
Il centro storico<br/>
Il ponte Romano e la chiesa trans-fluviale della Madonna di Costantinopoli (XVII Sec.)<br/>
Le Gole del Fiume Lao<br/>
L'avveniristico Ponte di legno a Campicello Il Borgo semi-abbandonato di Avena

<h3>Laino Borgo e Laino Castello (direzione Sud-Ovest)</h3>
Il centro storico abbandonato di Laino Castello. <br/>
Le gole del Lao e Il fiume Lao Rafting sul fiume Lao. <br/>
La Giudaica a Laino Borgo (Il Venerd&igrave; Santo degli anni pari) <br/>
Il Santuario delle Cappelle o della Madonna dello Spasimo, con la riproduzione dei luoghi della terra santa.<br/>
Festa dell'Abete, prima domenica di Giugno.

<h3>Morano Calabro (direzione Sud-Est)</h3>
Visita al centro storico, uno dei 100 borghi pi&ugrave; belli d'Italia. <br/>
Castello (X - XIII sec) con panorama suggestivo sulla catena del Pollino. <br/>
Visita al centro naturalistico &quot;Il Nibbio&quot; con diorami che ricostruiscono gli ambienti naturali del parco con la fauna tipica. <br/>
Il Convento di San Bernardino in stile gotico (XIII sec)<br/>
La Collegiata di Santa Maria Maddalena (XVI sec) con il Polittico di Bartolomeo Vivarini<br/>
il Convento Francescano, <br/>
la Collegiata di San Pietro e Paolo (X sec)con le 4 statue marmoree di Pietro Bernini<br/>
Il Convento dei Cappuccini (XVII sec)<br/>
Il Monastero di Colloreto (XVI sec) 
  {% endbox %}
  {% contentbox "A meno di 1 ora" %}
<h3>Salire in montagna</h3>
I Boschi del Monte Cerviero Piano Pedarreto. <br/>
Escursione facile(almeno 3 ore di cammino) alla Montagna di Grasta e alla Timpa dell'Orso e al Piano di Marolo. <br/>
Il grandioso Piano Ruggio e i Pini Loricati del panoramico Belvedere del Malvento (meno di un ora di cammino).<br/>
Colle del Dragone (Pini Loricati). <br/>
Colle Impiso (Panorama sul cuore del parco, punto di partenza per escursioni)
<h3>Civita (direzione Sud-Est)</h3>
Centro abitato italo-albanese (ARBERESHE) di Civita, che conserva le tradizioni culturali e religiose della madrepatria. <br/>
La Chiesa di Santa Maria Assunta (XVII sec) con gli arredi sacri della tradizione bizantina. <br/>
Il Belvedere del Canyon del Raganello: uno degli scorci panoramici pi&ugrave; spettacolari del Pollino, dove il fiume scorre per 8 km incassato in una profondissima gola, con pareti rocciose strapiombanti per oltre 300 metri. <br/>
Il Ponte del Diavolo<br/>
Museo etnico (ingresso ad offerta)<br/>
La buona cucina del ristorante Kamastra
<h3>Frascineto</h3>
Chiesa di Santa Maria Assunta<br/>
Sia il rito religiosa che gli arredi delle chiese esprimono la peculiarit&agrave; religiosa degli abitanti di Frascineto.<br/>
Museo del Costume Arb&euml;reshe<br/>
aperto tutti i giorni dalle 10.00 alle 12.30 e dalle 16.00 alle 20.00<br/>
Biglietto individuale &euro; 3.00 a persona - gruppi scuole e adulti &euro; 2,50 con visita guidata.<br/>
Museo delle Icone <br/>
aperto dalle 10.00 alle 13.00 e pomeriggio dalle 16.00 alle 19.00<br/>
Sabato e domenica su prenotazione<br/>
Ingresso individuale &euro; 2,00 gruppi adulti, &euro; 1,50 scolaresche &euro; 1,00 con visita guidata<br/>
Over 65 ingresso libero<br/>
Chiesa dei Santi Pietro e Paolo (Monumento nazionale)<br/>
Le Valljie, tradizionale festa Arbereshe<br/>

<h3>Orsomarso</h3>
La riserva del Fiume Argentino
  {% endbox %}
  {% contentbox "A più di 1 ora" %}
<h3>Cerchiara di Calabria</h3> (da abbinare con la visita a Civita)<br/>
Visita al suggestivo Santuario della Madonna delle Armi sul Monte Sellaro, incastonato in una parete rocciosa con panorama sul Mar Ionio.<br/>
La Piscina, aperta al pubblico, con acque sulfuree della Grotta delle Ninfe<br/>
I panini al Bar del Santuario
<h3>Altomonte</h3>
Uno dei Borghi pi&ugrave; belli d'Italia con la Cattedrale in stile gotico, unica in Calabria, ed il museo con i dipinti della scuola di Giotto.<br/>
<h3>Sibari</h3>
Il <a href="http://www.calabriaturistica.it/calabria-musei/museo.asp?id=sibari-museo-archeologico-sibaritide">Museo archeologico</a> e gli scavi<br/>
<h3>Rossano</h3>
La <a href="http://www.comune.rossano.cs.it/chiese.htm">Cattedrale Bizantina</a> che conserva il <a href="http://www.calabria.org.uk/calabria/arte-cultura/CodexPurpureusRossanensis/CodexPurpureusRossanensis.htm">Codex Purpureus Rossanensis</a>; <br/>
<h3>Francavilla marittima (direzione Sud-Est)</h3>
L&rsquo;area Archeologica del Timpone Motta (attrezzatevi prima di materiale informativo): resti di un Tempio (VII sec a.C.)&nbsp; 
<h3>Tortora (direzione Nord-Ovest)</h3>
Il centro storico e il Museo Archeologico con i ritrovamenti dell'antica citt&agrave; di Blanda e delle necropoli Lucane.

<h3>Il Mare</h3>
Scalea, Diamante, San Nicola Arcella, Praia a Mare e Maratea
  {% endbox %}	
{% endblock %}
{% block right %}
 {% load call %}
 {% call "prenota_visita.html" %}
{% endblock %}
