{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<img src="negozio/mainColumnParagraphs/0/image/flavia.jpg" class="contentImage_left" alt=""/>
<p>&nbsp;</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
<p>Nella Bottega ampio assortimento di Prodotti Tipici della Basilicata, della Calabria e in particolare del Pollino accuratamente selezionati per Voi da Flavia De Marco. </p>
<p>Inoltre grande assortimento di oggetti di artigianato locale in vimini, terracotte e pelletteria.<br/>
</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
Nel nostro negozio trovete, inolte,&nbsp; tutti i prodotti certificati dal Parco Nazionale del Pollino dell<span>'</span><a href="agricoli.html" >Azienda Agricola Attadia</a><br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
  {% load call %}
  {% call "slideshow.html" set_id="72157603776853640" %}
	<div style="clear:both;">
		<div class="rightColumnTitle">Dove comprare i prodotti tipici?</div>
Nel Centro storico di Rotonda<br/><br/><b>Prodotti Tipici e Artigianato </b><br/><br/><b>di Flavia De Marco</b><br/><br/>Corso Garibaldi 1<br/><br/>85048 Rotonda (PZ)<br/><br/>telefono 0973.667831<br/><br/>Aperto anche la Domenica
<div class="line"><br/></div>
	</div>
	<div style="clear:both;">
		<div class="rightColumnTitle">INFO ACQUISTI ON-LINE</div>
Sul sito <b><a href="http://www.demarcof.it">www.demarcof.it</a></b> potrete consultare l'ampia gamma dei nostri prodotti e acquistarli direttamente da casa
	</div>
{% endblock %}
