{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Olio Extra Vergine</h2>
<p>Il Frantoio di Tedesco Franco &egrave; specializzato nella produzione di Olio di Oliva Extra Vergine di altissima qualit&agrave;.</p>
<p>Proprio l'Olio Extra Vergine di Oliva prodotto e imbottigliato in questo frantoio nel 2005 ha vinto il premio <strong>OLIVARUM</strong>, istituito dalla Regione Basilicata, come migliore olio della Basilicata.</p>
<p>L'l'Olio Extra Vergine di Oliva&nbsp; &egrave; disponibile sia in bottiglie da 1 litro che in confezioni superiori.</p>
<p>Disponibile presso i negozi di Prodotti Tipici, si pu&ograve; acquistare anche all'ingrosso.</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Olio Novello</h2>
Domenica 8 Novembre 2009 - dalle ore 12.00<br/>
&nbsp;<br/>
Frantoio Tedesco Franco<br/>
<br/>
Venite tutti ad assaggiare l'olio di prima spremitura del 2009.<br/>
<br/>
Assaggio con Bruschetta
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
  {% load call %}
  {% call "info.html" %}
{% endblock %}
