{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../index.html" class="nav">Home</a></span><span class="itNav"><a href="../../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../agriturismo.html" class="nav">Farm Holidays</a></span><span class="itNav"><a href="../../agriturismo.html" class="nav">Agriturismo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../bed_and_breakfast.html" class="navPath">Bed and Breakfast</a></span><span class="itNav"><a href="../../bed_and_breakfast.html" class="navPath">Bed and Breakfast</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../vecchio_camino.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../vecchio_camino.html" class="nav">Vecchio Camino</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../luisella.html" class="nav">Luisella</a></span><span class="itNav"><a href="../luisella.html" class="nav">Luisella</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../bbpieffe.html" class="navPath">Pieffe</a></span><span class="itNav"><a href="../bbpieffe.html" class="navPath">Pieffe</a></span>
</div>
<div class="navSelf2"><span class="enNav">Pollino da Frascineto</span><span class="itNav">Pollino da Frascineto</span>
</div>
<div class="nav"><span class="enNav"><a href="../soffitta_del_barone.html" class="nav">Soffitta del Barone</a></span><span class="itNav"><a href="../soffitta_del_barone.html" class="nav">Soffitta del Barone</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../english.html" class="nav">English</a></span><span class="itNav"><a href="../../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../link.html" class="nav">Links</a></span><span class="itNav"><a href="../../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
Noi consigliamo di affidarvi ad una <a target="_blank" href="../../guida.html" >Guida Ufficiale del Parco</a>, ma in ogni caso il Pollino si pu&ograve; visitare anche senza.  <br/>
<br/>
Di seguito i suggerimenti di<span> <span style="font-style: italic;">VIAGGIARE NEL POLLINO</span></span> per visitare il Pollino in completa autonomia.  <br/>
<br/>
Stampate la pagina e portatela con voi.<br/>
Segnalateci eventuali errori, disservizi, novit&agrave;.
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>A Frascineto</h2>
Chiesa di Santa Maria Assunta<br/>
Sia il rito religiosa che gli arredi delle chiese esprimono la peculiarit&agrave; religiosa degli abitanti di Frascineto.<br/>
<span><br/>
Museo del Costume Arb&euml;reshe</span><br/>
aperto tutti i giorni dalle 10.00 alle 12.30 e dalle 16.00 alle 20.00<br/>
Biglietto individuale &euro; 3.00 a persona - gruppi scuole e adulti &euro; 2,50 con visita guidata.<br/>
<br/>
Museo delle Icone <br/>
aperto dalle 10.00 alle 13.00 e pomeriggio dalle 16.00 alle 19.00<br/>
Sabato e domenica su prenotazione<br/>
Ingresso individuale &euro; 2,00 gruppi adulti, &euro; 1,50 scolaresche &euro; 1,00 con visita guidata<br/>
Over 65 ingresso libero<br/>
<br/>
<span>Chiesa dei Santi Pietro e Paolo (Monumento nazionale)</span><br/>
<br/>
Le Valljie, tradizionale festa Arbereshe<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Salire in montagna</h2>
Punto di partenza di Colle Marcione, panorama sul massiccio e l'alta Valle del Raganello, la Timpa di San Lorenzo <br/>
Escursione alla &quot;Madonna di Lass&ugrave;&quot;<br/>
Le palestre di arrampicata sulle pareti attrezzate dei costoni rocciosi<br/>
Il grandioso Piano Ruggio e i Pini Loricati del panoramico Belvedere del Malvento (meno di un ora di cammino).<br/>
Colle del Dragone (Pini Loricati). <br/>
Colle Impiso (Panorama sul cuore del parco, punto di partenza per escursioni)
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Mare e terme</h2>
Con 15 minuti di auto si raggiunge la Costa di Sibari e i suoi numerosi stabilimenti balneari.<br/>
Il B&amp;B Pieffe &egrave; convenzionato con il Lido Macuba di Trebisacce. Per i nostri ospiti ombrellone e sdraio &euro; 5<br/>
<br/>
Grotta delle Ninfe<br/>
Il piccolo complesso termale si trova lungo la strada per raggiungere, Cerchiara di Calabria. Attrezzato con Piscina all'aperto, bagni, docce, bar e ristorante. I nostri ospiti hanno diritto ad una tariffa speciale<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>A 20 minuti di auto</h2>
<p><strong>Civita</strong><br/>
Centro abitato italo-albanese (ARBERESHE) di Civita, che conserva le tradizioni culturali e religiose della madrepatria. <br/>
La Chiesa di Santa Maria Assunta (XVII sec) con gli arredi sacri della tradizione bizantina. <br/>
Il Belvedere del Canyon del Raganello: uno degli scorci panoramici pi&ugrave; spettacolari del Pollino, dove il fiume scorre per 8 km incassato in una profondissima gola, con pareti rocciose strapiombanti per oltre 300 metri. <br/>
 Il Ponte del Diavolo<br/>
Museo etnico (ingresso ad offerta)</p>
<br/>
Morano Calabro<br/>
Visita al centro storico, uno dei <span>100 borghi pi&ugrave; belli d'Italia. <br/>
Castello</span> (X - XIII sec) con panorama suggestivo sulla catena del Pollino. <br/>
Visita al centro naturalistico &quot;Il Nibbio&quot; con diorami che ricostruiscono gli ambienti naturali del parco con la fauna tipica. <br/>
Il Convento di San Bernardino in stile gotico (XIII sec) <br/>
La Collegiata di Santa Maria Maddalena (XVI sec) con il Polittico di Bartolomeo Vivarini <br/>
il Convento Francescano, la Collegiata di San Pietro e Paolo (X sec)con le 4 statue marmoree di Pietro Bernini Il Convento dei Cappuccini (XVII sec) Il Monastero di Colloreto (XVI sec)<br/>
<br/>
Castrovillari<br/>
Nonostante il centro storico sia sommerso da una gigantesca periferia moderna, conserva elementi interessanti.<br/>
La &quot;Civita&quot; (il centro storico pi&ugrave; antico)<br/>
Museo civico con materiali archeologici provenienti dall'area circostante<br/>
Castello Aragonese<br/>
Santuario della Madonna del Castello<br/>
Protoconvento Francescano<br/>
Teatro Sybaris offre spettacoli e concerti tutto l'anno.<br/>
La Giudecca
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>Verso lo Jonio</h2>
<p><strong>Cerchiara di Calabria</strong> <br/>
</p>
<p>Il centro storico.</p>
<p>Visita al suggestivo Santuario della Madonna delle Armi sul Monte Sellaro, incastonato in una parete rocciosa con panorama sul Mar Ionio.<br/>
La Piscina, aperta al pubblico, con acque sulfuree della Grotta delle Ninfe: I nostri ospiti hanno diritto ad una tariffa speciale<br/>
I panini al Bar del Santuario</p>
<p>&nbsp;</p>
<p><strong>Francavilla marittima</strong> (direzione Sud-Est)<br/>
L&rsquo;area Archeologica del Timpone Motta (attrezzatevi prima di materiale informativo): resti di un Tempio (VII sec a.C.)</p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>A più di 30 minuti di auto</h2>
Rotonda 
<p>Il caratteristico centro storico e il &quot;Castello&quot;.<br/>
I fossili di Elefante e Ippopotamo preistorici al Museo di Storia Naturale<br/>
Lo splendido panorama sulla Valle del Mercure dalla cima del &quot;Castello&quot;.<br/>
La Chiesa Madre (Madonna con bambino di notevole fattura e tele di scuola napoletana), La Chiesa di Sant'Antonio, La Cappella del Rosario, la Chiesa extra-moenia della Madonna della Consolazione e i ruderi del &quot;Seminario&quot;.<br/>
La Festa dell'Abete, dal 8 al 13 Giugno<br/>
Le manifestazioni culturali dell'Agosto Rotondese<br/>
La Sagra della Melanzana Rossa, il 25 Agosto.<br/>
<br/>
</p>
<p><br/>
</p>
Sibari <br/>
Museo Archeologico della Sibaritide e gli Scavi di Sybaris, Thurii e Copia<br/>
<br/>
Altomonte<br/>
Bellissima citt&agrave; calabrese tra i &quot;borghi pi&ugrave; belli d'Italia&quot;<br/>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>ARRAMPICATA SPORTIVA</h2>
<object width="445" height="364">
<param value="http://www.youtube.com/v/XgtLqbZydSY&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1" name="movie"/>
<param value="true" name="allowFullScreen"/>
<param value="always" name="allowscriptaccess"/><embed width="445" height="364" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/XgtLqbZydSY&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>TRADIZIONI</h2>
<object width="445" height="364">
<param value="http://www.youtube.com/v/d4p_LTIf2ZE&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1" name="movie"/>
<param value="true" name="allowFullScreen"/>
<param value="always" name="allowscriptaccess"/><embed width="445" height="364" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/d4p_LTIf2ZE&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1"></embed></object>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
 {% load call %}
  {% call "prenota_visita.html" %}

{% endblock %}
