{% extends "base.html" %}
{% block title %}Il Pollino da Rotonda{% endblock %}
{% block header %}Il Pollino da Rotonda{% endblock %}
{% block description %}Visitare il Pollino partendo da Rotonda{% endblock %}
{% block keywords %}Pollino, Rotonda, Calabria, Basilica, Mormanno, Morano{% endblock %}
{% block body %}
  {% load box %}
  {% contentbox "Come visitare il Pollino" %}
Noi consigliamo di visitare il Pollino con una <a href="/guida_pollino.html" >Guida Ufficiale del Parco</a>, ma in ogni caso il Pollino si pu&ograve; visitare anche senza.  <br/>
<br/>
Di seguito i suggerimenti di <em>VIAGGIARE NEL POLLINO</em> per visitare il Pollino in completa autonomia.  <br/>
<br/>
Stampate la pagina e portatela con voi.<br/>
Segnalateci eventuali errori, disservizi, novit&agrave;.
  {% endbox %}
  {% contentbox "A Frascineto" %}
Chiesa di Santa Maria Assunta<br/>
Sia il rito religiosa che gli arredi delle chiese esprimono la peculiarit&agrave; religiosa degli abitanti di Frascineto.<br/>
<span><br/>
Museo del Costume Arb&euml;reshe</span><br/>
aperto tutti i giorni dalle 10.00 alle 12.30 e dalle 16.00 alle 20.00<br/>
Biglietto individuale &euro; 3.00 a persona - gruppi scuole e adulti &euro; 2,50 con visita guidata.<br/>
<br/>
Museo delle Icone <br/>
aperto dalle 10.00 alle 13.00 e pomeriggio dalle 16.00 alle 19.00<br/>
Sabato e domenica su prenotazione<br/>
Ingresso individuale &euro; 2,00 gruppi adulti, &euro; 1,50 scolaresche &euro; 1,00 con visita guidata<br/>
Over 65 ingresso libero<br/>
<br/>
<span>Chiesa dei Santi Pietro e Paolo (Monumento nazionale)</span><br/>
<br/>
Le Valljie, tradizionale festa Arbereshe<br/>
  <h3>Salire in montagna</h3>
Punto di partenza di Colle Marcione, panorama sul massiccio e l'alta Valle del Raganello, la Timpa di San Lorenzo <br/>
Escursione alla &quot;Madonna di Lass&ugrave;&quot;<br/>
Le palestre di arrampicata sulle pareti attrezzate dei costoni rocciosi<br/>
Il grandioso Piano Ruggio e i Pini Loricati del panoramico Belvedere del Malvento (meno di un ora di cammino).<br/>
Colle del Dragone (Pini Loricati). <br/>
Colle Impiso (Panorama sul cuore del parco, punto di partenza per escursioni)
  <h3>Mare e terme</h3>
Con 15 minuti di auto si raggiunge la Costa di Sibari e i suoi numerosi stabilimenti balneari.<br/>
Il B&amp;B Pieffe &egrave; convenzionato con il Lido Macuba di Trebisacce. Per i nostri ospiti ombrellone e sdraio &euro; 5<br/>
<br/>
Grotta delle Ninfe<br/>
Il piccolo complesso termale si trova lungo la strada per raggiungere, Cerchiara di Calabria. Attrezzato con Piscina all'aperto, bagni, docce, bar e ristorante. I nostri ospiti hanno diritto ad una tariffa speciale<br/>
  {% endbox %}
  {% contentbox "A 20 minuti di auto" %}
<h3>Civita</h3>
Centro abitato italo-albanese (ARBERESHE) di Civita, che conserva le tradizioni culturali e religiose della madrepatria. <br/>
La Chiesa di Santa Maria Assunta (XVII sec) con gli arredi sacri della tradizione bizantina. <br/>
Il Belvedere del Canyon del Raganello: uno degli scorci panoramici pi&ugrave; spettacolari del Pollino, dove il fiume scorre per 8 km incassato in una profondissima gola, con pareti rocciose strapiombanti per oltre 300 metri. <br/>
 Il Ponte del Diavolo<br/>
Museo etnico (ingresso ad offerta)
<br/>
<h3>Morano Calabro</h3>
Visita al centro storico, uno dei <span>100 borghi pi&ugrave; belli d'Italia. <br/>
Castello</span> (X - XIII sec) con panorama suggestivo sulla catena del Pollino. <br/>
Visita al centro naturalistico &quot;Il Nibbio&quot; con diorami che ricostruiscono gli ambienti naturali del parco con la fauna tipica. <br/>
Il Convento di San Bernardino in stile gotico (XIII sec) <br/>
La Collegiata di Santa Maria Maddalena (XVI sec) con il Polittico di Bartolomeo Vivarini <br/>
il Convento Francescano, la Collegiata di San Pietro e Paolo (X sec)con le 4 statue marmoree di Pietro Bernini Il Convento dei Cappuccini (XVII sec) Il Monastero di Colloreto (XVI sec)<br/>
<br/>
<h3>Castrovillari</h3>
Nonostante il centro storico sia sommerso da una gigantesca periferia moderna, conserva elementi interessanti.<br/>
La &quot;Civita&quot; (il centro storico pi&ugrave; antico)<br/>
Museo civico con materiali archeologici provenienti dall'area circostante<br/>
Castello Aragonese<br/>
Santuario della Madonna del Castello<br/>
Protoconvento Francescano<br/>
Teatro Sybaris offre spettacoli e concerti tutto l'anno.<br/>
La Giudecca
  <h2>Verso lo Jonio</h2>
<h3>Cerchiara di Calabria</h3>
<p>Il centro storico.</p>
<p>Visita al suggestivo Santuario della Madonna delle Armi sul Monte Sellaro, incastonato in una parete rocciosa con panorama sul Mar Ionio.<br/>
La Piscina, aperta al pubblico, con acque sulfuree della Grotta delle Ninfe: I nostri ospiti hanno diritto ad una tariffa speciale<br/>
I panini al Bar del Santuario</p>
<h3>Francavilla marittima (direzione Sud-Est)</h3>
L&rsquo;area Archeologica del Timpone Motta (attrezzatevi prima di materiale informativo): resti di un Tempio (VII sec a.C.)
  {% endbox %}
  {% contentbox "A più di 30 minuti di auto" %}
<h3>Rotonda</h3>
<p>Il caratteristico centro storico e il &quot;Castello&quot;.<br/>
I fossili di Elefante e Ippopotamo preistorici al Museo di Storia Naturale<br/>
Lo splendido panorama sulla Valle del Mercure dalla cima del &quot;Castello&quot;.<br/>
La Chiesa Madre (Madonna con bambino di notevole fattura e tele di scuola napoletana), La Chiesa di Sant'Antonio, La Cappella del Rosario, la Chiesa extra-moenia della Madonna della Consolazione e i ruderi del &quot;Seminario&quot;.<br/>
La Festa dell'Abete, dal 8 al 13 Giugno<br/>
Le manifestazioni culturali dell'Agosto Rotondese<br/>
La Sagra della Melanzana Rossa, il 25 Agosto.<br/>
</p>
<h3>Sibari</h3>
Museo Archeologico della Sibaritide e gli Scavi di Sybaris, Thurii e Copia<br/>
<h3>Altomonte</h3>
Bellissima citt&agrave; calabrese tra i &quot;borghi pi&ugrave; belli d'Italia&quot;<br/>

  {% endbox %}
  {% contentbox "Video" %}
  <h3>Arrampicata sportiva</h3>
<object width="544" height="331">
<param value="http://www.youtube.com/v/XgtLqbZydSY&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1" name="movie"/>
<param value="true" name="allowFullScreen"/>
<param value="always" name="allowscriptaccess"/>
<embed width="544" height="331" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/XgtLqbZydSY&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1"></embed>
</object>
  <h3>Tradizioni</h3>
<object width="544" height="331">
<param value="http://www.youtube.com/v/d4p_LTIf2ZE&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1" name="movie"/>
<param value="true" name="allowFullScreen"/>
<param value="always" name="allowscriptaccess"/><embed width="544" height="331" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/d4p_LTIf2ZE&amp;hl=it&amp;fs=1&amp;rel=0&amp;color1=0xcc2550&amp;color2=0xe87a9f&amp;border=1"></embed></object>
  {% endbox %}
{% endblock %}
{% block right %}
  {% load call %}
  {% call "prenota_visita.html" %}
{% endblock %}
