{% extends "base.html" %}
{% block title %}Dicono di noi{% endblock %}
{% block header %}Dicono di noi{% endblock %}
{% block nav %}
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../index.html" class="nav">Home</a></span><span class="itNav"><a href="../../index.html" class="nav">Home</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../parco_nazionale_del_pollino.html" class="nav">The park</a></span><span class="itNav"><a href="../../parco_nazionale_del_pollino.html" class="nav">Parco Nazionale</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../escursioni.html" class="nav">Excursions and Trekking</a></span><span class="itNav"><a href="../../escursioni.html" class="nav">Escursioni e Visite</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../guida.html" class="nav">The guide</a></span><span class="itNav"><a href="../../guida.html" class="nav">Guida del Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../agriturismo.html" class="navPath">Farm Holidays</a></span><span class="itNav"><a href="../../agriturismo.html" class="navPath">Agriturismo</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../asklepios.html" class="navPath">Agriturismo Asklepios</a></span><span class="itNav"><a href="../asklepios.html" class="navPath">Agriturismo Asklepios</a></span>
</div>
<div class="navSelf2"><span class="enNav">Ospiti di Asklepios</span><span class="itNav">Ospiti di Asklepios</span>
</div>
<div class="nav"><span class="enNav"><a href="../civarra.html" class="nav">Agriturismo Civarra</a></span><span class="itNav"><a href="../civarra.html" class="nav">Agriturismo Civarra</a></span>
</div>
<div class="nav"><span class="enNav"><a href="../masseria.html" class="nav">Agriturismo Masseria</a></span><span class="itNav"><a href="../masseria.html" class="nav">Agriturismo Masseria</a></span>
</div>
<div class="nav"><span class="enNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span><span class="itNav"><a href="Rotonda.html" class="nav">Il Pollino da Rotonda</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../albergo.html" class="nav">Albergo</a></span><span class="itNav"><a href="../../albergo.html" class="nav">Albergo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span><span class="itNav"><a href="../../bed_and_breakfast.html" class="nav">Bed and Breakfast</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../rafting.html" class="nav">Rafting</a></span><span class="itNav"><a href="../../rafting.html" class="nav">Rafting</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../scuola.html" class="nav">Environmental education</a></span><span class="itNav"><a href="../../scuola.html" class="nav">Per le Scuole</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../ristorantedapeppe.html" class="nav">da Peppe</a></span><span class="itNav"><a href="../../ristorantedapeppe.html" class="nav">Ristorante da Peppe</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../prodotti_tipici.html" class="nav">Typical products</a></span><span class="itNav"><a href="../../prodotti_tipici.html" class="nav">Prodotti tipici</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../letture.html" class="nav">Readings</a></span><span class="itNav"><a href="../../letture.html" class="nav">Letture</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../zampogna.html" class="nav">Music</a></span><span class="itNav"><a href="../../zampogna.html" class="nav">Zampogna</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../asino.html" class="nav">Save the  donkey!</a></span><span class="itNav"><a href="../../asino.html" class="nav">Asino chi legge!</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../come-arrivare.html" class="nav">How to reach</a></span><span class="itNav"><a href="../../come-arrivare.html" class="nav">Come arrivare</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../foto.html" class="nav">Foto</a></span><span class="itNav"><a href="../../foto.html" class="nav">Foto</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../bibliografia.html" class="nav">Bibliografia</a></span><span class="itNav"><a href="../../bibliografia.html" class="nav">Bibliografia</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../ospiti.html" class="nav">Guest book</a></span><span class="itNav"><a href="../../ospiti.html" class="nav">Libro degli Ospiti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../prezzi.html" class="nav">Prezzi</a></span><span class="itNav"><a href="../../prezzi.html" class="nav">Prezzi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../english.html" class="nav">English</a></span><span class="itNav"><a href="../../english.html" class="nav">English</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../francaise.html" class="nav">Francaise</a></span><span class="itNav"><a href="../../francaise.html" class="nav">Francaise</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../deutsch.html" class="nav">Deutsch</a></span><span class="itNav"><a href="../../deutsch.html" class="nav">Deutsch</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../japanese.html" class="nav">Japanese</a></span><span class="itNav"><a href="../../japanese.html" class="nav">Japanese</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../basilicata.html" class="nav">Basilicata</a></span><span class="itNav"><a href="../../basilicata.html" class="nav">Basilicata</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../parchi.html" class="nav">Parchi</a></span><span class="itNav"><a href="../../parchi.html" class="nav">Parchi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../mondo.html" class="nav">Mondo</a></span><span class="itNav"><a href="../../mondo.html" class="nav">Mondo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../link.html" class="nav">Links</a></span><span class="itNav"><a href="../../link.html" class="nav">Link</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../pasqua.html" class="nav">Pasqua</a></span><span class="itNav"><a href="../../pasqua.html" class="nav">Pasqua</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../eventi.html" class="nav">Eventi</a></span><span class="itNav"><a href="../../eventi.html" class="nav">Eventi</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../lupo.html" class="nav">Lupo</a></span><span class="itNav"><a href="../../lupo.html" class="nav">Lupo</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../prenotazioni.html" class="nav">Booking</a></span><span class="itNav"><a href="../../prenotazioni.html" class="nav">Informazioni</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../contatti.html" class="nav">Contacts</a></span><span class="itNav"><a href="../../contatti.html" class="nav">Contatti</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../artepollino.html" class="nav">Arte Pollino</a></span><span class="itNav"><a href="../../artepollino.html" class="nav">Arte Pollino</a></span>
</div>
<div class="navLine"><br/></div>
<div class="navTopLevel"><span class="enNav"><a href="../../pinoloricato.html" class="nav">Pino Loricato</a></span><span class="itNav"><a href="../../pinoloricato.html" class="nav">Pino Loricato</a></span>
</div>
{% endblock %}
{% block body %}
	<div style="clear:both;">
			<div class="line"><br/></div>
<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"></script>
<script type="text/javascript">FB.init("e7cc5ef52a17dcfb345d36c9eb86a892");</script>
<fb:fan width="497" connections="" stream="1" profile_id="77853808774"></fb:fan>
<div style="font-size: 8px; padding-left: 10px;"><a href="http://www.facebook.com/pages/Rotonda-Italy/Asklepios-Parco-Nazionale-del-Pollino/77853808774">Asklepios Parco Nazionale del Pollino</a> on Facebook</div>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>2007 L'ANNO DEL PICCHIO NERO</h2>
Dear Giuseppe<br/>
It's been wonderful to meet you. Your passion for wildlife really shone through and your generosity memorable.<br/>
Good luck with your ventures in Basilicata.<br/>
 Tundra<br/>
<br/>
I thoroughly recommend Giuseppe to anyone wanting to visit the Pollino National Park. He is an experienced and knowledge guide, not only of the hiking... but of villages, history, life of the Pollino.<br/>
 Olivia<br/>
<br/>
<br/>
Thank you for a lovely stay. Although short we enjoyed the surrounding , the company, the animals, the food. We hope to come back and spend more time discovering the landscape.<br/>
<span>Paloma &amp; Jonathan<br/>
<br/>
</span>Grazie di tutti i consigli che ci hanno fatto scoprire angoli nuovi del Parco<span><br/>
Sandra e Gianpaolo<br/>
</span>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>2006 ANNO DEL CAPRIOLO</h2>
<p>This was an excellent visit. Thank you for sharing your time and space with us.<br/>
<strong>Genevieve, USA</strong></p>
<p><strong><br/>
</strong></p>
<p>So much packed into a short 2-day visit. Grazie<br/>
<strong>Nick, USA</strong></p>
<p><br/>
</p>
<p>Grazie per l&rsquo;ospitalit&agrave; ma sopratutto per calore e senso dell&rsquo;amicizia. <br/>
<strong>Fabrizio, Sebastiano e Anna</strong></p>
<p><br/>
</p>
<p>Ho trascorso una settimana splendida stando in mezzo alla natura e con persone ospitali ed interessanti. Grazie per come mi hai fatto scoprire questi luoghi: stata una delle vacanze pi&ugrave; belle della mia vita.<br/>
<strong>Paolo</strong></p>
<p><br/>
</p>
<p>Ritrovo il mio amore per la botanica, qui, sul Pollino. Bello Pino Loricato!!!! Grazie mille.<br/>
<strong>Cynthia, Spagna</strong></p>
<p><br/>
</p>
<p>Un grand merci &agrave; Giuseppe para son accueil chaleureux et ses conseils avis&eacute;s. La montagne du Pollino n&rsquo;&agrave; plus de secrets pour nous <br/>
<strong>Veronique &amp; Yves-Laurent, FRANCIA</strong></p>
<p><br/>
</p>
<p>Grazie tanto per questi giorni che ci hai fatto passare in questo bel Parco ! L&rsquo;ambiente familiare ci ha fatto sentire a casa nostra&hellip; sempre avanti con simpatia, competenza e semplicit&agrave;. <br/>
<strong>Giusy e Marco</strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>2005 ANNO DEL GRIFONE</h2>
<p>Vi ringraziamo infinitamente per averci fatto gustare una meraviglia cos&igrave; grande che porteremo con noi nella nostra mente e nel cuore. Dopo aver tanto faticato abbiamo trovato in voi tanta ospitalit&agrave; e un bel riposo rilassante che ci ha rigenerato per poter continuare la nostra vacanza<br/>
<strong>Lucio e Luisa</strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
	<div style="clear:both;">
			<div class="line"><br/></div>
	<h2>2004 ANNO DELLA RONDINE</h2>
<p>Il soggiorno in questa casa &egrave; stato piacevolissimo, le passeggiate rinvigorenti&hellip;<br/>
<strong>Isabella</strong> </p>
<p><br/>
</p>
<p>Camminare in montagna mi mancava tanto. Il Pollino ha su di me sempre un grande fascino&hellip;<br/>
<strong>Gianni&hellip;</strong></p>
<p><br/>
</p>
<p>Finalmente, siamo riuscite, io e mia figlia a toccare le cime del Pollino, e a fare una serie di cose che finora avevo solo immaginato<br/>
<strong>Stefania</strong> </p>
<p><br/>
</p>
<p>Abbiamo passato una vacanza bellissima&hellip; mi porto nel cuore il verde del Parco nelle sue infinite sfumature.<br/>
<strong>Anna</strong> </p>
<p><br/>
</p>
<p>&hellip;Il pollino con te come guida diventa bellissimo<br/>
<strong>Daniela</strong></p>
<p><br/>
</p>
<p>Il gruppo &ldquo;Duna Rossa&rdquo; ringrazia Giuseppe e la sua dolcissima famiglia per averci fatto sentire a casa nostra e di averci trattato come veri amici<br/>
<strong>Gianni, Andrea, Paul, Marco, Giulio</strong></p>
<p><br/>
</p>
<p>I want to thank you for huge hospitality, open way to show me your agriturismo. I never had&nbsp; guide how concerned so much about me. Thank you for showing me Pollino and teaching me south Italian for beginners. <br/>
<strong>Peter, Denmark</strong></p>
	</div>
	<div style="clear:both;">
			<br/><br/>
	</div>
{% endblock %}
{% block right %}
{% endblock %}
